<div class="drr-step-container" *transloco="let t">
  <form [formGroup]="permitsRegulationsAndStandardsForm">
    <mat-label class="drr-label">{{ t("approvals") }}</mat-label>
    <mat-label>{{ t("approvalsQuestion") }}*</mat-label>
    <div class="drr-radio-comment">
      <drr-radio-button
        [rxFormControl]="permitsRegulationsAndStandardsForm.get('approvals')"
      ></drr-radio-button>

      <drr-textarea
        [label]="t('approvalsComments')"
        [maxlength]="2000"
        [rxFormControl]="
          permitsRegulationsAndStandardsForm.get('approvalsComments')
        "
        [useTopLabel]="false"
      ></drr-textarea>
    </div>

    <mat-label class="drr-label">{{ t("professionalGuidance") }}</mat-label>
    <mat-label>{{ t("professionalGuidanceQuestion") }}*</mat-label>
    <drr-radio-button
      [rxFormControl]="
        permitsRegulationsAndStandardsForm.get('professionalGuidance')
      "
    ></drr-radio-button>

    <drr-chip-autocomplete
      [label]="t('professionals')"
      [placeholder]="t('professionalsPlaceholder')"
      [options]="professionalGuidanceOptions"
      [rxFormControl]="permitsRegulationsAndStandardsForm.get('professionals')"
    ></drr-chip-autocomplete>

    <drr-chip-autocomplete
      [label]="t('standards')"
      [placeholder]="t('standardsPlaceholder')"
      [options]="provincialStandardsOptions"
      [rxFormControl]="permitsRegulationsAndStandardsForm.get('standards')"
    ></drr-chip-autocomplete>
  </form>
</div>
