<div class="drr-step-container" *transloco="let t">
  <drr-summary [eoiApplicationForm]="eoiApplicationForm"></drr-summary>

  <form [formGroup]="declarationForm">
    <mat-label class="drr-label">
      {{ t("authorizedRepresentativeStatement") }}
    </mat-label>
    <mat-label> {{ authorizedRepresentativeText }} </mat-label>
    <mat-checkbox
      id="authorizedRepresentativeStatement"
      formControlName="authorizedRepresentativeStatement"
    >
      {{ t("agree") }}
    </mat-checkbox>
    <mat-error
      *ngIf="
        declarationForm.get('authorizedRepresentativeStatement')?.touched &&
        declarationForm
          .get('authorizedRepresentativeStatement')
          ?.hasError('requiredTrue')
      "
    >
      {{ t("required") }}
    </mat-error>

    <mat-label class="drr-label">{{
      t("informationAccuracyStatement")
    }}</mat-label>
    <mat-label> {{ accuracyOfInformationText }} </mat-label>
    <mat-checkbox
      id="informationAccuracyStatement"
      formControlName="informationAccuracyStatement"
    >
      {{ t("agree") }}
    </mat-checkbox>
    <mat-error
      *ngIf="
        declarationForm.get('informationAccuracyStatement')?.touched &&
        declarationForm
          .get('informationAccuracyStatement')
          ?.hasError('requiredTrue')
      "
    >
      {{ t("required") }}
    </mat-error>

    <re-captcha
      style="margin-top: 10px"
      siteKey="{{ siteKey }}"
      formControlName="recaptcha"
    ></re-captcha>
    <mat-error
      *ngIf="
        declarationForm.get('recaptcha')?.touched &&
        declarationForm.get('recaptcha')?.invalid
      "
    >
      {{ t("required") }}
    </mat-error>
  </form>
</div>
