<div class="drr-step-container" *transloco="let t">
  <form [formGroup]="fundingInformationForm">
    <mat-label class="drr-label">{{ t("estimatedTotal") }}</mat-label>

    <drr-currency-input
      class="drr-single-input"
      [id]="'estimatedTotal'"
      [label]="t('estimatedTotal')"
      [rxFormControl]="getFormControl('estimatedTotal')"
      [max]="1000000000"
    ></drr-currency-input>

    <mat-label class="drr-label">{{ t("fundingRequest") }}</mat-label>

    <drr-currency-input
      class="drr-single-input"
      [id]="'fundingRequest'"
      [label]="t('fundingRequest')"
      [rxFormControl]="getFormControl('fundingRequest')"
      [max]="1000000000"
    ></drr-currency-input>

    <mat-label class="drr-label">{{ t("otherFunding") }}</mat-label>

    <mat-radio-group formControlName="haveOtherFunding" class="drr-radio-group">
      <mat-error
        *ngIf="
          fundingInformationForm.get('haveOtherFunding')?.touched &&
          fundingInformationForm.get('haveOtherFunding')?.hasError('required')
        "
        >{{ t("required") }}</mat-error
      >

      <mat-radio-button [value]="true">Yes</mat-radio-button>
      <mat-radio-button [value]="false">No</mat-radio-button>
    </mat-radio-group>

    <drr-funding-list
      [fundingFormArray]="getFormArray('otherFunding')"
    ></drr-funding-list>

    <mat-label class="drr-label" style="margin-top: 10px">{{
      getRemainingAmount() > 0
        ? t("missingFundsLabel")
        : t("excessFundingLabel")
    }}</mat-label>
    <mat-label [style.color]="getRemainingAmount() < 0 ? 'red' : 'initial'">{{
      getRemainingAmountAbs() | currency
    }}</mat-label>
    <mat-hint *ngIf="getRemainingAmount() < 0" style="color: red">{{
      t("excessFundingTextEoi")
    }}</mat-hint>
    <mat-hint *ngIf="getRemainingAmount() == 0">{{
      t("noExcessFundingText")
    }}</mat-hint>

    <drr-textarea
      *ngIf="getRemainingAmount() > 0"
      style="margin-top: 10px"
      [id]="'intendToSecureFunding'"
      [label]="t('intendToSecureFunding')"
      [maxlength]="2000"
      [rxFormControl]="getFormControl('intendToSecureFunding')"
    ></drr-textarea>
  </form>
</div>
