.drr-input {
  width: 100%;
}

.drr-input input[type="number"]::-webkit-inner-spin-button,
.drr-input input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.drr-input input[type="number"] {
  -moz-appearance: textfield;
}

:host {
  .drr-input
    ::ng-deep
    .mdc-text-field--outlined.mdc-text-field--disabled
    .mdc-text-field__input {
    color: var(--mdc-outlined-text-field-input-text-color);
  }
}
