<div class="drr-step-container" *transloco="let t">
  <form [formGroup]="projectAreaForm">
    <mat-label class="drr-label">{{ t("locationDescription") }}</mat-label>
    <drr-textarea
      [label]="t('locationDescriptionAddress')"
      [rxFormControl]="projectAreaForm.get('locationDescription')"
      [maxlength]="2000"
    ></drr-textarea>

    <mat-label class="drr-label">{{ t("estimatedArea") }}</mat-label>
    <mat-label style="margin-bottom: 1rem">{{
      t("estimatedAreaText")
    }}</mat-label>
    <div style="display: flex; flex-direction: row; gap: 1rem">
      <drr-numeric-input
        style="width: 25vw"
        [label]="t('area')"
        [rxFormControl]="projectAreaForm.get('area')"
        [maxlength]="9"
        numericType="integer"
      ></drr-numeric-input>

      <drr-select
        [label]="t('units')"
        [rxFormControl]="projectAreaForm.get('units')"
        [options]="unitOptions"
      ></drr-select>
    </div>

    <mat-label class="drr-label">{{ t("relatedHazards") }}</mat-label>

    <drr-select
      class="drr-single-input"
      [id]="'relatedHazards'"
      [label]="t('relatedHazards')"
      [rxFormControl]="projectAreaForm.get('relatedHazards')"
      [options]="hazardsOptions"
      [isMultiple]="true"
    ></drr-select>

    <drr-input
      *ngIf="otherHazardSelected()"
      class="drr-single-input"
      [id]="'otherHazardsDescription'"
      [label]="t('otherHazardsDescription')"
      [rxFormControl]="projectAreaForm.get('otherHazardsDescription')"
      [maxlength]="100"
    ></drr-input>

    <mat-label class="drr-label">{{ t("areaDescription") }}</mat-label>
    <drr-textarea
      [label]="t('areaDescriptionText')"
      [rxFormControl]="projectAreaForm.get('areaDescription')"
      [maxlength]="2000"
    ></drr-textarea>

    <mat-label class="drr-label">{{ t("communityImpact") }}</mat-label>
    <drr-textarea
      [label]="t('communityImpactText')"
      [rxFormControl]="projectAreaForm.get('communityImpact')"
      [maxlength]="2000"
    ></drr-textarea>

    <mat-label class="drr-label">{{ t("estimatedPeopleImpacted") }}</mat-label>
    <mat-label style="margin-bottom: 1rem">{{
      t("estimatedPeopleImpactedText")
    }}</mat-label>
    <drr-select
      class="drr-single-input"
      [label]="t('estimatedPeopleImpacted')"
      [rxFormControl]="projectAreaForm.get('estimatedPeopleImpactedFP')"
      [options]="estimatedPeopleImpactedOptions"
    ></drr-select>

    <mat-label class="drr-label">{{ t("infrastructureImpacted") }}</mat-label>
    <drr-radio-button
      [label]="t('isInfrastructureImpacted')"
      [rxFormControl]="projectAreaForm.get('isInfrastructureImpacted')"
    ></drr-radio-button>
    <div
      *ngIf="!hideInfrastructureImpacted()"
      class="impacted-infrastructure-container"
    >
      <div
        class="impacted-infrastructure-item"
        *ngFor="
          let control of getInfrastructureImpacted().controls;
          let i = index
        "
      >
        <drr-input
          [label]="t('infrastructure')"
          [rxFormControl]="control.get('infrastructure')"
          [maxlength]="40"
        ></drr-input>

        <drr-input
          [label]="t('impact')"
          [rxFormControl]="control.get('impact')"
          [maxlength]="40"
        ></drr-input>

        <button
          *ngIf="i > 0"
          mat-mini-fab
          color="warn"
          (click)="removeInfrastructureImpacted(i)"
          type="button"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>

      <button
        mat-stroked-button
        type="button"
        color="primary"
        (click)="addInfrastructureImpacted()"
      >
        <mat-icon>add</mat-icon>
        {{ t("addInfrastructure") }}
      </button>
    </div>
  </form>
</div>
