<div class="drr-step-container" *transloco="let t">
  <form [formGroup]="ownershipAndAuthorizationForm">
    <mat-label class="drr-label">{{ t("fpOwnership") }}</mat-label>
    <mat-label>{{ t("fpOwnershipQuestion") }}*</mat-label>
    <div class="drr-radio-comment">
      <drr-radio-button
        [options]="yesNoBoolOptions"
        [rxFormControl]="
          ownershipAndAuthorizationForm.get('ownershipDeclaration')
        "
      ></drr-radio-button>

      <drr-textarea
        [label]="t('fpOwnershipComments')"
        [maxlength]="2000"
        [rxFormControl]="
          ownershipAndAuthorizationForm.get('ownershipDescription')
        "
        [useTopLabel]="false"
      ></drr-textarea>
    </div>

    <mat-label class="drr-label">{{ t("authorityAndOwnership") }}</mat-label>
    <mat-label>{{ t("authorityAndOwnershipQuestion") }}*</mat-label>
    <div class="drr-radio-comment">
      <drr-radio-button
        [options]="yesNoBoolOptions"
        [rxFormControl]="
          ownershipAndAuthorizationForm.get('authorityAndOwnership')
        "
      ></drr-radio-button>

      <drr-textarea
        [id]="'authorityAndOwnershipComments'"
        [label]="t('authorityAndOwnershipComments')"
        [maxlength]="2000"
        [rxFormControl]="
          ownershipAndAuthorizationForm.get('authorityAndOwnershipComments')
        "
        [useTopLabel]="false"
      ></drr-textarea>
    </div>

    <mat-label class="drr-label">{{ t("operationAndMaintenance") }}</mat-label>
    <mat-label>{{ t("operationAndMaintenanceQuestion") }}*</mat-label>
    <div class="drr-radio-comment">
      <drr-radio-button
        [options]="allYesNoOptions"
        [rxFormControl]="
          ownershipAndAuthorizationForm.get('operationAndMaintenance')
        "
      ></drr-radio-button>

      <drr-textarea
        [id]="'operationAndMaintenanceComments'"
        [label]="t('operationAndMaintenanceComments')"
        [maxlength]="2000"
        [rxFormControl]="
          ownershipAndAuthorizationForm.get('operationAndMaintenanceComments')
        "
        [useTopLabel]="false"
      ></drr-textarea>
    </div>

    <mat-label class="drr-label">{{
      t("authorizationOrEndorsement")
    }}</mat-label>
    <mat-label>{{ t("authorizationOrEndorsementQuestion") }}</mat-label>
    <div style="padding: 1rem 0 0 1rem">
      <drr-radio-button
        [label]="t('firstNationsEndorsementQuestion')"
        [options]="allYesNoOptions"
        [rxFormControl]="
          ownershipAndAuthorizationForm.get('firstNationsEndorsement')
        "
      ></drr-radio-button>

      <drr-radio-button
        [label]="t('localGovernmentEndorsementQuestion')"
        [options]="allYesNoOptions"
        [rxFormControl]="
          ownershipAndAuthorizationForm.get('localGovernmentEndorsement')
        "
      ></drr-radio-button>
    </div>

    <drr-textarea
      [label]="t('authorizationOrEndorsementComments')"
      [maxlength]="2000"
      [rxFormControl]="
        ownershipAndAuthorizationForm.get('authorizationOrEndorsementComments')
      "
      [useTopLabel]="true"
    ></drr-textarea>
  </form>
</div>
