<div class="drr-step-container" *transloco="let t">
  <drr-summary
    [eoiApplicationForm]="eoiApplicationForm"
    [showSubmitterInfo]="false"
  ></drr-summary>

  <form [formGroup]="declarationForm">
    <mat-label class="drr-label">{{ t("submitter") }}</mat-label>
    <div class="contacts-container">
      <drr-input
        [id]="'submitter_firstName'"
        [label]="t('firstName')"
        [rxFormControl]="getGroupFormControl('firstName', 'submitter')"
        [maxlength]="40"
      ></drr-input>
      <drr-input
        [id]="'submitter_lastName'"
        [label]="t('lastName')"
        [rxFormControl]="getGroupFormControl('lastName', 'submitter')"
        [maxlength]="40"
      ></drr-input>
      <drr-input
        [id]="'submitter_title'"
        [label]="t('title')"
        [rxFormControl]="getGroupFormControl('title', 'submitter')"
        [maxlength]="40"
      ></drr-input>
      <drr-input
        [id]="'submitter_department'"
        [label]="t('department')"
        [rxFormControl]="getGroupFormControl('department', 'submitter')"
        [maxlength]="40"
      ></drr-input>
      <drr-input
        [id]="'submitter_phone'"
        [label]="t('phone')"
        [rxFormControl]="getGroupFormControl('phone', 'submitter')"
        [maxlength]="10"
        [type]="'tel'"
      ></drr-input>
      <drr-input
        [id]="'submitter_email'"
        [label]="t('email')"
        [rxFormControl]="getGroupFormControl('email', 'submitter')"
        [maxlength]="40"
        [type]="'email'"
      ></drr-input>
    </div>

    <mat-label class="drr-label">
      {{ t("authorizedRepresentativeStatement") }}
    </mat-label>
    <mat-label> {{ authorizedRepresentativeText }} </mat-label>
    <mat-checkbox
      id="authorizedRepresentativeStatement"
      formControlName="authorizedRepresentativeStatement"
    >
      {{ t("agree") }}
    </mat-checkbox>
    <mat-error
      *ngIf="
        declarationForm.get('authorizedRepresentativeStatement')?.touched &&
        declarationForm
          .get('authorizedRepresentativeStatement')
          ?.hasError('requiredTrue')
      "
    >
      {{ t("required") }}
    </mat-error>

    <mat-label class="drr-label">{{
      t("informationAccuracyStatement")
    }}</mat-label>
    <mat-label> {{ accuracyOfInformationText }} </mat-label>
    <mat-checkbox
      id="informationAccuracyStatement"
      formControlName="informationAccuracyStatement"
    >
      {{ t("agree") }}
    </mat-checkbox>
    <mat-error
      *ngIf="
        declarationForm.get('informationAccuracyStatement')?.touched &&
        declarationForm
          .get('informationAccuracyStatement')
          ?.hasError('requiredTrue')
      "
    >
      {{ t("required") }}
    </mat-error>

    <re-captcha
      style="margin-top: 10px"
      siteKey="{{ siteKey }}"
      formControlName="recaptcha"
    ></re-captcha>
    <mat-error
      *ngIf="
        declarationForm.get('recaptcha')?.touched &&
        declarationForm.get('recaptcha')?.invalid
      "
    >
      {{ t("required") }}
    </mat-error>
  </form>
</div>
