<div class="drr-step-container" *transloco="let t">
  <form [formGroup]="otherSupportingInformationForm">
    <mat-label class="drr-label">{{ t("climateAdaptation") }}</mat-label>
    <mat-label>
      {{ t("climateAdaptationText") }}
    </mat-label>
    <drr-textarea
      [id]="'climateAdaptation'"
      [maxlength]="2000"
      [rxFormControl]="getFormControl('climateAdaptation')"
      [rows]="10"
    ></drr-textarea>
    <mat-label class="drr-label">{{ t("otherInformation") }}</mat-label>
    <mat-label>
      {{ t("otherInformationText") }}
    </mat-label>
    <drr-textarea
      [id]="'otherInformation'"
      [maxlength]="2000"
      [rxFormControl]="getFormControl('otherInformation')"
      [rows]="10"
    ></drr-textarea>
  </form>
</div>
