<div class="drr-step-container" *transloco="let t">
  <form [formGroup]="eoiApplicationForm">
    <mat-label class="drr-label">{{ t("climateAdaptation") }}</mat-label>
    <mat-label>
      {{ t("climateAdaptationText") }}
    </mat-label>
    <mat-form-field>
      <textarea
        id="climateAdaptation"
        matInput
        formControlName="climateAdaptation"
        rows="5"
      ></textarea>
    </mat-form-field>
    <mat-label class="drr-label">{{ t("otherInformation") }}</mat-label>
    <mat-label>
      {{ t("otherInformationText") }}
    </mat-label>
    <mat-form-field>
      <textarea
        id="otherInformation"
        matInput
        formControlName="otherInformation"
        rows="10"
      ></textarea>
    </mat-form-field>
  </form>
</div>
