<div class="drr-step-container" *transloco="let t">
  <form [formGroup]="eoiApplicationForm">
    <mat-label class="drr-label">{{ t("estimatedTotal") }}</mat-label>
    <mat-form-field style="width: 50vw; margin-top: 10px">
      <mat-label>{{ t("estimatedTotal") }}</mat-label>
      <input
        id="estimatedTotal"
        matInput
        type="number"
        formControlName="estimatedTotal"
        placeholder="$"
      />
    </mat-form-field>

    <mat-label class="drr-label">{{ t("fundingRequest") }}</mat-label>
    <mat-form-field style="width: 50vw; margin-top: 10px">
      <mat-label>{{ t("fundingRequest") }}</mat-label>
      <input
        id="fundingRequest"
        matInput
        type="number"
        formControlName="fundingRequest"
        placeholder="$"
      />
    </mat-form-field>
    <mat-label class="drr-label">{{ t("otherFundingSources") }}</mat-label>
    <div formArrayName="otherFunding">
      <div
        class="funding-sources-container"
        *ngFor="
          let otherFunding of getFormArray('otherFunding').controls;
          let i = index
        "
        [formGroupName]="i"
      >
        <mat-form-field>
          <mat-label>{{ t("otherFundingSourcesAmount") }}</mat-label>
          <input
            id="otherFunding_amount_{{ i }}"
            matInput
            type="number"
            formControlName="amount"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ t("otherFundingSourcesName") }}</mat-label>
          <input
            id="otherFunding_name_{{ i }}"
            matInput
            formControlName="name"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ t("otherFundingSourcesType") }}</mat-label>
          <mat-select id="otherFunding_type_{{ i }}" formControlName="type">
            @for (option of fundingTypeOptions; track option) {
            <mat-option [value]="option">{{ t(option) }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="otherFunding.value.type == 'Other'">
          <mat-label>{{ t("otherFundingSourcesDescription") }}</mat-label>
          <input
            id="otherFunding_description_{{ i }}"
            matInput
            formControlName="description"
          />
        </mat-form-field>
        <button mat-mini-fab color="warn" (click)="removeOtherSource(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <button
        id="addOtherFundingButton"
        style="margin-top: 10px"
        mat-stroked-button
        color="primary"
        (click)="addOtherFunding()"
      >
        <mat-icon>add</mat-icon>
        {{ t("addOtherFunding") }}
      </button>
    </div>
    <mat-label class="drr-label" style="margin-top: 10px">{{
      t("remainingAmount")
    }}</mat-label>
    <mat-form-field style="width: 50vw; margin-top: 10px">
      <mat-label>{{ t("remainingAmount") }}</mat-label>
      <input
        matInput
        type="number"
        formControlName="remainingAmount"
        placeholder="$"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ t("intendToSecureFunding") }}</mat-label>
      <textarea
        id="intendToSecureFunding"
        matInput
        formControlName="intendToSecureFunding"
      ></textarea>
    </mat-form-field>
  </form>
</div>
