<div class="drr-step-container" *transloco="let t">
  <form [formGroup]="fundingInformationForm">
    <mat-label class="drr-label">{{ t("estimatedTotal") }}</mat-label>

    <drr-currency-input
      class="drr-single-input"
      [id]="'estimatedTotal'"
      [label]="t('estimatedTotal')"
      [rxFormControl]="getFormControl('estimatedTotal')"
      [max]="1000000000"
    ></drr-currency-input>

    <mat-label class="drr-label">{{ t("fundingRequest") }}</mat-label>

    <drr-currency-input
      class="drr-single-input"
      [id]="'fundingRequest'"
      [label]="t('fundingRequest')"
      [rxFormControl]="getFormControl('fundingRequest')"
      [max]="1000000000"
    ></drr-currency-input>

    <mat-label class="drr-label">{{ t("otherFundingSources") }}</mat-label>
    <div formArrayName="otherFunding">
      <div
        class="funding-sources-container"
        *ngFor="
          let otherFunding of getFormArray('otherFunding').controls;
          let i = index
        "
        [formGroupName]="i"
      >
        <drr-currency-input
          class="drr-single-input"
          [id]="'otherFunding_amount_' + i"
          [label]="t('otherFundingSourcesAmount')"
          [rxFormControl]="otherFunding.get('amount')"
          [max]="1000000000"
        ></drr-currency-input>

        <drr-input
          class="drr-single-input"
          [id]="'otherFunding_name_' + i"
          [label]="t('otherFundingSourcesName')"
          [rxFormControl]="otherFunding.get('name')"
          [maxlength]="100"
        ></drr-input>
        <drr-select
          class="other-grants-input"
          [id]="'otherFunding_type_' + i"
          [label]="t('otherFundingSourcesType')"
          [rxFormControl]="getArrayFormControl('type', 'otherFunding', i)"
          [options]="fundingTypeOptions"
          (selectionChange)="setFundingTypeDesctiption($event, i)"
        ></drr-select>
        <drr-input
          class="other-grants-input"
          *ngIf="hasOtherGrants(otherFunding.get('type')?.value)"
          [id]="'otherFunding_description_' + i"
          [label]="t('otherFundingSourcesDescription')"
          [rxFormControl]="
            getArrayFormControl('otherDescription', 'otherFunding', i)
          "
          [maxlength]="100"
        ></drr-input>
        <button mat-mini-fab color="warn" (click)="removeOtherSource(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <button
        id="addOtherFundingButton"
        style="margin-top: 10px"
        [style.padding]="isMobile ? '24px 16px' : ''"
        mat-stroked-button
        type="button"
        color="primary"
        (click)="addOtherFunding()"
      >
        <mat-icon>add</mat-icon>
        {{ t("addOtherFunding") }}
      </button>
    </div>
    <mat-label class="drr-label" style="margin-top: 10px">{{
      t("remainingAmount")
    }}</mat-label>
    <mat-label>{{
      getFormControl("remainingAmount").value ?? 0 | currency
    }}</mat-label>

    <drr-textarea
      style="margin-top: 10px"
      [id]="'intendToSecureFunding'"
      [label]="t('intendToSecureFunding')"
      [maxlength]="2000"
      [rxFormControl]="getFormControl('intendToSecureFunding')"
    ></drr-textarea>
  </form>
</div>
