<div class="app-stepper-container" *transloco="let t">
  <div class="app-stepper-header">
    <div style="flex: 1">
      <h5 style="font-size: 1.2rem; margin-bottom: 0.5rem">
        {{ t("interimReport") }}
      </h5>
      <!-- <span>
        {{ t("project") }}: {{ project?.name }} ({{ project?.id }})
      </span> -->
    </div>
    <div>
      <div class="header-actions">
        <button mat-stroked-button color="primary" (click)="goBack()">
          {{ t("exitForm") }}
        </button>
        <button mat-flat-button color="primary" (click)="save()">
          <mat-icon>save</mat-icon>
          Save
        </button>
      </div>
      <!-- <div class="save-info">
        <div style="display: flex; flex-direction: row; gap: 1rem">
          <i *ngIf="autoSaveCountdown <= 30 && autoSaveCountdown > 0"
            >Saving in {{ autoSaveCountdown }}
            {{ autoSaveCountdown === 1 ? "second" : "seconds" }}...
          </i>
          <i
            *ngIf="
              lastSavedAt && (autoSaveCountdown === 0 || autoSaveCountdown > 30)
            "
            >Saved at {{ lastSavedAt | date : "mediumTime" }}</i
          >
        </div>
      </div> -->
    </div>
  </div>
  <mat-stepper
    class="app-stepper"
    [linear]="false"
    labelPosition="bottom"
    (selectionChange)="stepperSelectionChange($event)"
    [orientation]="stepperOrientation"
    #stepper
  >
    <mat-step label="Instructions">
      <div class="drr-stepper-actions">
        <button
          id="next2"
          mat-flat-button
          color="primary"
          matStepperNext
          type="button"
        >
          {{ t("next") }}
        </button>
      </div></mat-step
    >
    <mat-step label="Workplan Report">
      <div class="drr-stepper-actions">
        <button mat-stroked-button color="primary" matStepperPrevious>
          {{ t("back") }}
        </button>
        <button
          id="next2"
          mat-flat-button
          color="primary"
          matStepperNext
          type="button"
        >
          {{ t("next") }}
        </button>
      </div></mat-step
    >
    <mat-step label="Even Information">
      <div class="drr-stepper-actions">
        <button mat-stroked-button color="primary" matStepperPrevious>
          {{ t("back") }}
        </button>
        <button
          id="next2"
          mat-flat-button
          color="primary"
          matStepperNext
          type="button"
        >
          {{ t("next") }}
        </button>
      </div></mat-step
    >
    <mat-step label="Budget Forecast Report">
      <div class="drr-stepper-actions">
        <button mat-stroked-button color="primary" matStepperPrevious>
          {{ t("back") }}
        </button>
        <button
          id="next2"
          mat-flat-button
          color="primary"
          matStepperNext
          type="button"
        >
          {{ t("next") }}
        </button>
      </div></mat-step
    >
    <mat-step label="Expenditures">
      <div class="drr-stepper-actions">
        <button mat-stroked-button color="primary" matStepperPrevious>
          {{ t("back") }}
        </button>
        <button
          id="next2"
          mat-flat-button
          color="primary"
          matStepperNext
          type="button"
        >
          {{ t("next") }}
        </button>
      </div></mat-step
    >
    <mat-step label="Claim">
      <div class="drr-stepper-actions">
        <button mat-stroked-button color="primary" matStepperPrevious>
          {{ t("back") }}
        </button>
        <button
          id="next2"
          mat-flat-button
          color="primary"
          matStepperNext
          type="button"
        >
          {{ t("next") }}
        </button>
      </div></mat-step
    >
    <mat-step label="Attachments">
      <div class="drr-stepper-actions">
        <button mat-stroked-button color="primary" matStepperPrevious>
          {{ t("back") }}
        </button>
        <button
          id="next2"
          mat-flat-button
          color="primary"
          matStepperNext
          type="button"
        >
          {{ t("next") }}
        </button>
      </div></mat-step
    >
    <mat-step label="Review & Declarations">
      <div class="drr-stepper-actions">
        <button mat-stroked-button color="primary" matStepperPrevious>
          {{ t("back") }}
        </button>
        <button
          id="next2"
          mat-flat-button
          color="primary"
          matStepperNext
          type="button"
        >
          {{ t("next") }}
        </button>
      </div></mat-step
    >
  </mat-stepper>
</div>
