.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  position: relative;

  background-image: url(/assets/images/ess-background.jpg);
  background-repeat: repeat-x;
  background-color: white;
}
