<mat-label *ngIf="isMobile">{{ label }}{{ getMandatoryMark() }}</mat-label>
<mat-form-field class="drr-datepicker" *transloco="let t">
  <mat-label *ngIf="!isMobile">{{ label }}</mat-label>
  <input
    [id]="id"
    required="{{ isRequired() }}"
    matInput
    [matDatepicker]="date_picker"
    [formControl]="rxFormControl"
    [min]="min"
  />
  <mat-hint>YYYY-MM-DD</mat-hint>
  <mat-error *ngIf="rxFormControl.hasError('matDatepickerMin')">
    {{ minErrorLabel }}
  </mat-error>
  <mat-datepicker-toggle
    matIconSuffix
    [for]="date_picker"
  ></mat-datepicker-toggle>
  <mat-datepicker #date_picker></mat-datepicker>
</mat-form-field>
