<div *transloco="let t">
  <div class="submissions-header">
    <!-- <h2>Submissions</h2> -->
    <button mat-raised-button color="primary" (click)="onCreateFormClick()">
      <mat-icon>add</mat-icon>
      <span>Create New Application</span>
    </button>
  </div>
  <table
    mat-table
    [dataSource]="submissionListDataSource"
    matSort
    (matSortChange)="onSortSubmissionTable($event)"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="projectTitle">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Project Title</th>
      <td mat-cell *matCellDef="let element">{{ element.projectTitle }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let element">{{ t(element.status) }}</td>
    </ng-container>

    <ng-container matColumnDef="fundingRequest">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Funding Request</th>
      <td mat-cell *matCellDef="let element">
        {{ element.fundingRequest | currency }}
      </td>
    </ng-container>

    <ng-container matColumnDef="modifiedDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Modified Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.modifiedDate | date : "YYYY-MM-dd" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="submittedDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Submitted Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.submittedDate | date : "YYYY-MM-dd" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="partneringProponents">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Partnering Proponents
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.partneringProponents.join(", ") }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element" class="submission-actions">
        <button
          mat-stroked-button
          color="accent"
          (click)="onViewFormClick(element.id)"
        >
          View
        </button>
        <button mat-raised-button color="primary">Edit</button>
        <button mat-raised-button color="warn">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="submissionListColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: submissionListColumns"></tr>
  </table>
  <mat-paginator
    *ngIf="paginator.showPaginator"
    [length]="paginator.length"
    [pageSize]="paginator.pageSize"
    [pageSizeOptions]="paginator.pageSizeOptions"
    aria-label="Select page"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>
