.submissions-header {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  button {
    margin-left: auto;
  }
}

.submission-actions {
  button {
    margin-right: 1rem;
  }
}

.submissions-table {
  width: 100%;
  border-collapse: collapse;
}

.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.5rem;
  color: #ccc;
}
