<mat-label *ngIf="isMobile">{{ label }}</mat-label>
<mat-form-field [ngClass]="isCurrency ? 'drr-currency-input' : 'drr-input'">
  <mat-label *ngIf="!isMobile">{{ label }}</mat-label>
  <input
    id="{{ id }}"
    matInput
    [formControl]="rxFormControl"
    [maxlength]="getMaxLength"
    required="{{ isRequired() }}"
    [type]="type"
    [min]="numberInputMin"
    (focus)="onFocus()"
    (blur)="onBlur()"
    [mask]="getMask()"
  />
  <span *ngIf="isCurrency" matTextPrefix>$&nbsp;</span>
  <mat-hint *ngIf="maxlength && isFocused" align="end"
    >{{ getCount() }} / {{ maxlength }}</mat-hint
  >
</mat-form-field>
