<div class="drr-step-container" *transloco="let t">
  <mat-label class="drr-label">{{ t("ownershipDeclaration") }}</mat-label>
  <drr-radio-button
    [label]="t('ownershipDeclarationText')"
    [rxFormControl]="locationInformationForm.get('ownershipDeclaration')"
  ></drr-radio-button>

  <drr-textarea
    *ngIf="locationInformationForm.get('ownershipDeclaration')?.value === false"
    [id]="'ownershipDescription'"
    [label]="t('ownershipDescription')"
    [maxlength]="2000"
    [rxFormControl]="locationInformationForm.get('ownershipDescription')"
  ></drr-textarea>

  <mat-label class="drr-label">{{ t("locationDescription") }}</mat-label>
  <drr-textarea
    [id]="'locationDescription'"
    [label]="t('locationDescription')"
    [maxlength]="2000"
    [rxFormControl]="locationInformationForm.get('locationDescription')"
  ></drr-textarea>
</div>
