<div class="summary-container" *transloco="let t">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ t("proponentInformation") }}</mat-card-title>
      <mat-card-subtitle>Step 1</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <drr-summary-item
        [label]="t('proponentType')"
        [value]="
          t(getRxFormControl('proponentInformation', 'proponentType').value)
        "
        [rxFormControl]="
          getRxFormControl('proponentInformation', 'proponentType')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('proponentName')"
        [value]="
          getRxFormControl('proponentInformation', 'proponentName').value
        "
        [rxFormControl]="
          getRxFormControl('proponentInformation', 'proponentName')
        "
      >
      </drr-summary-item>

      <div
        [class.required]="
          objectHasValues(
            DrifFpForm
              .get('proponentInformation')
              ?.get('projectContact')
          )
        "
      >
        <mat-label class="drr-label">{{ t("projectContact") }}</mat-label>
        <div class="summary-row">
          <drr-summary-item
            [label]="t('firstName')"
            [value]="
              getRxGroupFormControl(
                'proponentInformation',
                'projectContact',
                'firstName'
              ).value
            "
            [rxFormControl]="
              getRxGroupFormControl(
                'proponentInformation',
                'projectContact',
                'firstName'
              )
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('lastName')"
            [value]="
              getRxGroupFormControl(
                'proponentInformation',
                'projectContact',
                'lastName'
              ).value
            "
            [rxFormControl]="
              getRxGroupFormControl(
                'proponentInformation',
                'projectContact',
                'lastName'
              )
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('title')"
            [value]="
              getRxGroupFormControl(
                'proponentInformation',
                'projectContact',
                'title'
              ).value
            "
            [rxFormControl]="
              getRxGroupFormControl(
                'proponentInformation',
                'projectContact',
                'title'
              )
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('department')"
            [value]="
              getRxGroupFormControl(
                'proponentInformation',
                'projectContact',
                'department'
              ).value
            "
            [rxFormControl]="
              getRxGroupFormControl(
                'proponentInformation',
                'projectContact',
                'department'
              )
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('phone')"
            [value]="
              getRxGroupFormControl(
                'proponentInformation',
                'projectContact',
                'phone'
              ).value | mask : '000-000-0000'
            "
            [rxFormControl]="
              getRxGroupFormControl(
                'proponentInformation',
                'projectContact',
                'phone'
              )
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('email')"
            [value]="
              getRxGroupFormControl(
                'proponentInformation',
                'projectContact',
                'email'
              ).value
            "
            [rxFormControl]="
              getRxGroupFormControl(
                'proponentInformation',
                'projectContact',
                'email'
              )
            "
          >
          </drr-summary-item>
        </div>
      </div>

      <div>
        <mat-label class="drr-label">{{ t("additionalContacts") }}</mat-label>
        <div
          class="summary-row"
          *ngFor="
            let additionalContact of getRxFormArrayControls(
              'proponentInformation',
              'additionalContacts'
            )
          "
        >
          <drr-summary-item
            [label]="t('firstName')"
            [value]="additionalContact.get('firstName')?.value"
            [rxFormControl]="
              convertRxFormControl(additionalContact.get('firstName'))
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('lastName')"
            [value]="additionalContact.get('lastName')?.value"
            [rxFormControl]="
              convertRxFormControl(additionalContact.get('lastName'))
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('title')"
            [value]="additionalContact.get('title')?.value"
            [rxFormControl]="
              convertRxFormControl(additionalContact.get('title'))
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('department')"
            [value]="additionalContact.get('department')?.value"
            [rxFormControl]="
              convertRxFormControl(additionalContact.get('department'))
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('phone')"
            [value]="
              additionalContact.get('phone')?.value | mask : '000-000-0000'
            "
            [rxFormControl]="
              convertRxFormControl(additionalContact.get('phone'))
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('email')"
            [value]="additionalContact.get('email')?.value"
            [rxFormControl]="
              convertRxFormControl(additionalContact.get('email'))
            "
          >
          </drr-summary-item>
        </div>
      </div>

      <div>
        <mat-label class="drr-label">{{
          t("partneringProponentsSummary")
        }}</mat-label>
        <div
          class="summary-row"
          *ngFor="
            let proponent of getFormArray(
              'proponentInformation',
              'partneringProponents'
            );
            let i = index
          "
        >
          <mat-label>{{ proponent }}</mat-label>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
