.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 624px;
  border: 4px solid rgba(252, 186, 25, 1);
  box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.register-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px 22px 10px 22px;
}

.register-action-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #169bd5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.register-title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

@media screen and (min-width: 769px) {
  .register-with-card {
    min-height: 624px;
    margin-bottom: 0;
  }
}
