
<div class="container">
    <div class="register-with-card">
        <div>
            <div class="register-with-card-inner">
            <img
                src="/assets/images/services-card-icon.png"
                class="register-with-card-image"
                alt="BC Services Card"
            />
            <h2 class="register-with-card-title">
                Start New Application
                <!-- Register <strong class="--blue">with</strong> BC Services Card -->
            </h2>
            <div class="register-with-card-list">
                <table>
                <tbody>
                <tr>
                    <td>
                    <mat-icon>check_circle</mat-icon>
                    </td>
                    <td>
                    Safe & secure way to complete an online self-registration.
                    </td>
                </tr>
                <tr>
                    <td class="icon-table">
                    <mat-icon>check_circle</mat-icon>
                    </td>
                    <td>Prepares you & your household for future emergencies.</td>
                </tr>
                <tr>
                    <td class="icon-table">
                    <mat-icon>check_circle</mat-icon>
                    </td>
                    <td>
                    Access your profile anytime to view supports you have
                    received.
                    </td>
                </tr>
                <tr>
                    <td class="icon-table">
                    <mat-icon>check_circle</mat-icon>
                    </td>
                    <td>
                    Update your details, as well as view current & past emergency
                    events.
                    </td>
                </tr>
                <tr>
                    <td class="icon-table">
                    <mat-icon>check_circle</mat-icon>
                    </td>
                    <td>You may be eligible to receive supports via e-Transfer.</td>
                </tr>
                </tbody>
                </table>
            </div>
            </div>
        </div>
        <div class="register-with-card-button-container">
            <button mat-button class="button-p btn-width" (click)="startApplication()">
            Start New Application
            </button>
        </div>
        <div class="learn-more-container">
            <a
            class="link"
            href="https://www2.gov.bc.ca/gov/content?id=B2B3A21E797A421A8FD39EEA86E245D6"
            >Learn more about the BC Services Card app</a
            >
        </div>
    </div>
</div>
  