.app-stepper-container {
  margin: 20px 20px;
}

.app-stepper {
  background: transparent;
  display: flex;
  flex-direction: column;
}

.app-type {
  display: flex;
  flex-direction: column;
}

.app-step-container {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;

  .form-label {
    font-size: 16px;
    font-weight: bold;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .submitter-container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
  }
}

.app-stepper-action {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
}

.app-stepper-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
