<div class="drr-step-container" *transloco="let t">
  <form [formGroup]="budgetForm">
    <mat-label class="drr-label">Project Financial Details</mat-label>
    <p>
      In this section you will review the project's financial details and
      provide detailed estimates.
    </p>
    <p>
      The estimates provided in the Expression of Interest have been copied
      (where applicable) to assist you with reviewing your information.
    </p>
    <p>
      The costs and amount of funding you need may have changed since you
      submitted your EOI for various reasons, including changes to the scope of
      your project or more precise cost estimates, and may require updating. If
      updates are made, you will be asked to explain what has changed and why.
    </p>

    <mat-label class="drr-label" style="margin-top: 2rem"
      >Total Project Cost</mat-label
    >
    <p>
      Below is the estimated total cost of your project based on the information
      you provided in your Expression of Interest. The total costs for your
      project may have changed since you submitted your EOI. You can update the
      Total Project Cost by entering a new value in the field. If you provide an
      update, you will be asked to explain.
    </p>
    <drr-currency-input
      style="align-self: flex-start; margin-top: 1rem; width: 25rem"
      [label]="t('totalProjectCost')"
      [rxFormControl]="budgetForm.get('totalProjectCost')"
      [disabled]="true"
      [allowEnabling]="true"
    ></drr-currency-input>

    @if (hasTotalProjectCostChanged()) {
      <drr-textarea
        style="margin-top: 1rem"
        [label]="t('totalProjectCostChangeComments')"
        [maxlength]="2000"
        [rxFormControl]="budgetForm.get('totalProjectCostChangeComments')"
      ></drr-textarea>
    }

    <mat-label class="drr-label" style="margin-top: 2rem"
      >DRIF Program Funding Amount</mat-label
    >
    <p>Based on your EOI, your eligible DRIF program funding amount is:</p>
    <drr-currency-input
      style="align-self: flex-start; margin-top: 1rem; width: 25rem"
      [label]="t('eligibleFundingRequest')"
      [rxFormControl]="budgetForm.get('eligibleFundingRequest')"
      [disabled]="true"
    ></drr-currency-input>

    @if (isStrucutralProject()) {
      <mat-label class="drr-label" style="margin-top: 2rem"
        >Cost Estimate Class</mat-label
      >
      <p>
        At this stage, your project should have a class A or B cost estimate.
        Set your contingency based on this. See the section below for more
        information about the classes.
      </p>
      <div>
        <table class="cost-estimate-table">
          <thead>
            <tr>
              <th>Cost Estimate Classes</th>
              <th>Features & Uses</th>
              <th>Suggested Contingency for Associated Classes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Class A</td>
              <td>
                Detailed estimate based on final drawings and specifications<br />
                Used to evaluate tenders
              </td>
              <td>±10-15%</td>
            </tr>
            <tr>
              <td>Class B</td>
              <td>
                Prepared after completing site investigations and studies, and
                after defining major systems<br />
                Based on a project brief and preliminary design<br />
                Used for project approvals and budgetary control
              </td>
              <td>±15-25%</td>
            </tr>
          </tbody>
        </table>
        <p class="footnote">
          Sourced from the Association of Professional Engineers and
          Geoscientists of British Columbia (APEGBC)
        </p>
      </div>
      <drr-radio-button
        style="margin-top: 1rem"
        [label]="t('costEstimateClass')"
        [rxFormControl]="budgetForm.get('costEstimateClass')"
        [options]="costEstimateClassOptions"
      ></drr-radio-button>
    }

    <mat-label class="drr-label" style="margin-top: 2rem"
      >Detailed Cost Estimates</mat-label
    >
    <p>
      Use the section below to provide a detailed breakdown of how the DRIF
      program funding amount (above) will be allocated to the eligible cost
      categories of each high-level task in your project. You can add as many
      rows as needed. We will use this breakdown when you report your progress.
    </p>
    <ul>
      <li>
        If your total Detailed Cost Estimate varies from the DRIF Program
        Funding amount (above), you will be asked to provide further
        explanation.
      </li>
      <li>
        Administrative costs cannot exceed 10% of the approved DRIF Program
        Funding amount.
      </li>
      <li>
        If you choose “other” for any of the values, use the description field
        to explain.
      </li>
      @if (isStrucutralProject()) {
        <li>Contingency costs cannot exceed Cost Estimate class range</li>
      }
    </ul>
    <div>
      <div
        *ngFor="
          let cost of getFormArray('costEstimates').controls;
          let i = index
        "
      >
        <mat-card style="margin-top: 1rem">
          <mat-card-header>
            <mat-card-subtitle>Task {{ i + 1 }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <drr-input
                class="drr-single-input"
                label="Task Name"
                [rxFormControl]="cost.get('taskName')"
                [maxlength]="50"
              ></drr-input>
              <drr-select
                class="drr-single-input"
                label="Cost Category"
                [rxFormControl]="cost.get('costCategory')"
                [options]="costCategoriesOptions"
              >
              </drr-select>
            </div>
            <drr-textarea
              label="Description"
              [rxFormControl]="cost.get('description')"
              [maxlength]="500"
            ></drr-textarea>
            <div class="row">
              <drr-select
                style="flex: 0.75"
                label="Resources"
                [rxFormControl]="cost.get('resources')"
                [options]="resourcesOptions"
              ></drr-select>
              <drr-select
                label="Units"
                [rxFormControl]="cost.get('units')"
                [options]="unitsOptions"
              >
              </drr-select>
              <drr-numeric-input
                label="Quantity"
                [rxFormControl]="cost.get('quantity')"
                numericType="decimal"
              ></drr-numeric-input>
              <drr-currency-input
                label="Unit Rate"
                [rxFormControl]="cost.get('unitRate')"
                [max]="1000000000"
              ></drr-currency-input>
              <drr-currency-input
                label="Total Cost"
                [rxFormControl]="cost.get('totalCost')"
                [max]="1000000000"
                [disabled]="true"
              ></drr-currency-input>
            </div>
            <div class="row"></div>
          </mat-card-content>
          @if (getFormArray("costEstimates").controls.length > 1) {
            <mat-card-actions align="end">
              <button
                mat-raised-button
                color="warn"
                (click)="removeCost(cost.get('id')?.value)"
              >
                Remove
              </button>
            </mat-card-actions>
          }
        </mat-card>
      </div>
      <button
        style="margin-top: 10px"
        [style.padding]="isMobile ? '24px 16px' : ''"
        mat-stroked-button
        type="button"
        color="primary"
        (click)="addCost()"
      >
        <mat-icon>add</mat-icon>
        Add Additional Task
      </button>
    </div>

    <mat-label class="drr-label" style="margin-top: 2rem"
      >Total Detailed Cost Estimate</mat-label
    >
    <drr-currency-input
      style="align-self: flex-start; margin-top: 1rem"
      [label]="t('totalEligibleCosts')"
      [rxFormControl]="budgetForm.get('totalEligibleCosts')"
      [disabled]="true"
    >
    </drr-currency-input>
    @if (isStrucutralProject()) {
      <mat-label class="drr-label" style="margin-top: 1rem"
        >Total Contingency Percentage</mat-label
      >
      <drr-numeric-input
        style="align-self: flex-start; margin-top: 1rem"
        [label]="t('contingency')"
        [rxFormControl]="budgetForm.get('contingency')"
        numericType="percentage"
        [disabled]="true"
      >
      </drr-numeric-input>
    }

    @if (isContingencyPercentageThreasholdBroken()) {
      <p style="color: red; display: flex; align-items: center; gap: 1rem">
        <mat-icon>error</mat-icon>
        <i>
          The contingency percentage exceeds the allowable threshold for the
          selected cost estimate class.
        </i>
      </p>
    }

    <mat-label class="drr-label" style="margin-top: 2rem"
      >Updated Funding Request</mat-label
    >
    <p>
      Based on your Total Detailed Cost Estimate, your updated DRIF program
      funding request is:
    </p>
    <drr-currency-input
      style="align-self: flex-start; margin-top: 1rem; width: 25rem"
      [label]="t('updatedDrifProgramFundingRequest')"
      [rxFormControl]="budgetForm.get('totalEligibleCosts')"
      [disabled]="true"
    >
    </drr-currency-input>

    <p>Based on your EOI, your eligible DRIF program funding amount is:</p>
    <drr-currency-input
      style="align-self: flex-start; margin-top: 1rem; width: 25rem"
      [label]="t('eligibleFundingRequest')"
      [rxFormControl]="budgetForm.get('eligibleFundingRequest')"
      [disabled]="true"
    >
    </drr-currency-input>

    <p>The funding request variance is (positive = request for more money):</p>
    <drr-currency-input
      style="align-self: flex-start; margin-top: 1rem; width: 25rem"
      [label]="t('fundingRequestDiscrepancy')"
      [rxFormControl]="budgetForm.get('fundingRequestDiscrepancy')"
      [disabled]="true"
    >
    </drr-currency-input>

    <div *ngIf="showDiscrepancyComment()" style="margin-top: 1rem">
      <drr-textarea
        [label]="t('discrepancyComment')"
        [maxlength]="2000"
        [rxFormControl]="budgetForm.get('discrepancyComment')"
      ></drr-textarea>
    </div>

    <mat-label class="drr-label" style="margin-top: 2rem">
      Financial Forecasting
    </mat-label>
    <p>
      Use the fields below to provide a year-over-year forecast of your Total
      Detailed Cost Estimate. Ensure that these numbers align with your Total
      Detailed Cost Estimate from above.
    </p>
    <p>Note that the fiscal year runs from April 1 - Mar 31.</p>
    <div>
      <div
        class="array-item-container"
        *ngFor="
          let funding of getFormArray('yearOverYearFunding').controls;
          let i = index
        "
      >
        <drr-select
          [label]="t('fiscalYear')"
          [rxFormControl]="funding.get('year')"
          [options]="fiscalYearsOptions"
        ></drr-select>
        <drr-currency-input
          [label]="t('forecastedSpend')"
          [rxFormControl]="funding.get('amount')"
          [max]="1000000000"
        ></drr-currency-input>
        @if (i > 0) {
          <button mat-mini-fab color="warn" (click)="removeYear(i)">
            <mat-icon>delete</mat-icon>
          </button>
        }
      </div>
      <button
        style="margin-top: 10px"
        [style.padding]="isMobile ? '24px 16px' : ''"
        mat-stroked-button
        type="button"
        color="primary"
        (click)="addYear()"
      >
        <mat-icon>add</mat-icon>
        {{ t("addYear") }}
      </button>
    </div>

    <drr-currency-input
      style="margin-top: 2rem"
      [label]="t('totalDrifFundingRequest')"
      [rxFormControl]="budgetForm.get('totalDrifFundingRequest')"
      [disabled]="true"
    ></drr-currency-input>

    @if (showForecastingDiscrepancy()) {
      <p style="color: red; display: flex; align-items: center; gap: 1rem">
        <mat-icon>error</mat-icon>
        <i>
          Your total forecast amount differs from the Total Detailed Cost
          Estimate. Please adjust your Financial Forecast numbers to match.
        </i>
      </p>
    }

    <mat-label class="drr-label" style="margin-top: 1rem">{{
      t("otherFunding")
    }}</mat-label>
    <p>Based on above, your updated Total Project Cost is:</p>
    <drr-currency-input
      style="align-self: flex-start; margin-top: 1rem; width: 25rem"
      [label]="t('totalProjectCost')"
      [rxFormControl]="budgetForm.get('totalProjectCost')"
      [disabled]="true"
    ></drr-currency-input>

    <p>
      Your Total Detailed Cost Estimate and updated DRIF program funding request
      is:
    </p>
    <drr-currency-input
      style="align-self: flex-start; margin-top: 1rem; width: 25rem"
      [label]="t('totalEligibleCosts')"
      [rxFormControl]="budgetForm.get('totalEligibleCosts')"
      [disabled]="true"
    >
    </drr-currency-input>
    <p>
      Your estimated unfunded amount is (note that this may change if your DRIF
      funding request has increased):
    </p>
    <drr-currency-input
      style="align-self: flex-start; margin-top: 1rem; width: 25rem"
      [label]="t('estimatedUnfundedAmount')"
      [rxFormControl]="budgetForm.get('estimatedUnfundedAmount')"
      [disabled]="true"
    >
    </drr-currency-input>

    <drr-radio-button
      [label]="t('haveOtherFunding')"
      [rxFormControl]="budgetForm.get('haveOtherFunding')"
    ></drr-radio-button>

    @if (budgetForm.get("haveOtherFunding")?.value === true) {
      <drr-funding-list
        [fundingFormArray]="getFormArray('otherFunding')"
      ></drr-funding-list>
    }

    @if (getRemainingAmount() !== 0) {
      <drr-currency-input
        style="align-self: flex-start; margin-top: 2rem; width: 25rem"
        [label]="
          getRemainingAmount() > 0
            ? t('missingFundsLabel')
            : t('excessFundingLabel')
        "
        [rxFormControl]="budgetForm.get('remainingAmountAbs')"
        [disabled]="true"
      >
      </drr-currency-input>
    }

    <drr-textarea
      *ngIf="getRemainingAmount() !== 0"
      style="margin-top: 10px"
      [id]="'intendToSecureFunding'"
      [label]="t('intendToSecureFunding')"
      [maxlength]="2000"
      [rxFormControl]="budgetForm.get('intendToSecureFunding')"
    ></drr-textarea>

    <mat-divider style="margin: 2rem 0"></mat-divider>

    <mat-label class="drr-label" style="margin-top: 1rem">{{
      t("costEffective")
    }}</mat-label>
    <drr-textarea
      [label]="t('costEffectiveComments')"
      [rxFormControl]="budgetForm.get('costEffectiveComments')"
      [maxlength]="2000"
    ></drr-textarea>

    <mat-label class="drr-label">{{ t("previousResponse") }}</mat-label>
    <drr-radio-button
      [label]="t('previousResponseQuestion')"
      [rxFormControl]="budgetForm.get('previousResponse')"
      [options]="previousResponseOptions"
    ></drr-radio-button>
    <drr-currency-input
      *ngIf="budgetForm.get('previousResponse')?.value === 'Yes'"
      [label]="t('previousResponseCost')"
      [rxFormControl]="budgetForm.get('previousResponseCost')"
    ></drr-currency-input>
    <drr-textarea
      *ngIf="
        budgetForm.get('previousResponse')?.value === 'Yes' ||
        budgetForm.get('previousResponse')?.value === 'NotApplicable'
      "
      [label]="t('previousResponseComments')"
      [rxFormControl]="budgetForm.get('previousResponseComments')"
      [maxlength]="2000"
    ></drr-textarea>

    <mat-label class="drr-label">{{ t("costConsiderations") }}</mat-label>
    <drr-radio-button
      [label]="t('costConsiderationsApplied')"
      [rxFormControl]="budgetForm.get('costConsiderationsApplied')"
    ></drr-radio-button>
    <drr-chip-autocomplete
      *ngIf="budgetForm.get('costConsiderationsApplied')?.value === true"
      [label]="t('costConsiderationsQuestions')"
      [placeholder]="t('autocompletePlaceholder')"
      [rxFormControl]="budgetForm.get('costConsiderations')"
      [options]="costConsiderationsOptions"
    ></drr-chip-autocomplete>
    <drr-textarea
      [label]="t('costConsiderationsComments')"
      [rxFormControl]="budgetForm.get('costConsiderationsComments')"
      [maxlength]="2000"
    ></drr-textarea>
  </form>
</div>
