.array-item-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  align-items: baseline;
}

.other-grants-input {
  min-width: 212px;
}

@media (max-width: 768px) {
  .funding-sources-container {
    flex-wrap: wrap;
    align-items: center;
  }

  drr-select.other-grants-input {
    width: calc(100% - 64px);
  }

  .funding-sources-container:has(drr-input.other-grants-input) {
    mat-form-field.other-grants-input {
      width: 100%;
    }

    drr-input.other-grants-input {
      width: calc(100% - 64px);
    }

    drr-select.other-grants-input {
      width: 100%;
    }
  }
}

.row {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.cost-estimate-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;

  th,
  td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: left;
  }

  th {
    background: #e8f3ff;
    font-weight: bold;
  }

  td {
    background: #fff;
  }
}

.footnote {
  margin-top: 1rem;
  color: #666;
}
