<div class="drr-step-container" *transloco="let t">
  <form [formGroup]="budgetForm">
    <mat-label class="drr-label">Project Financial Details</mat-label>
    <p>
      In this section you will review the project's financial details and
      provide detailed estimates.
    </p>
    <p>
      The estimates provided in the Expression of Interest have been copied
      (where applicable) to assist you with reviewing your information.
    </p>
    <p>
      The costs and amount of funding you need may have changed since you
      submitted your EOI for various reasons, including changes to the scope of
      your project or more precise cost estimates, and may require updating. If
      updates are made, you will be asked to explain what has changed and why.
    </p>

    <mat-label class="drr-label" style="margin-top: 2rem"
      >Total Project Cost</mat-label
    >
    <p>
      Below is the estimated total cost of your project based on the information
      you provided in your Expression of Interest. The total costs for your
      project may have changed since you submitted your EOI. You can update the
      Total Project Cost by entering a new value in the field. If you provide an
      update, you will be asked to explain.
    </p>
    <drr-currency-input
      style="align-self: flex-start; margin-top: 1rem; width: 25rem"
      [label]="t('totalProjectCost')"
      [rxFormControl]="budgetForm.get('totalProjectCost')"
      [disabled]="true"
      [allowEnabling]="true"
    ></drr-currency-input>

    @if (hasTotalProjectCostChanged()) {
      <drr-textarea
        style="margin-top: 1rem"
        [label]="t('totalProjectCostChangeComments')"
        [maxlength]="2000"
        [rxFormControl]="budgetForm.get('totalProjectCostChangeComments')"
      ></drr-textarea>
    }

    <mat-label class="drr-label" style="margin-top: 2rem"
      >DRIF Program Funding Amount</mat-label
    >
    <p>Based on your EOI, your eligible DRIF program funding amount is:</p>
    <drr-currency-input
      style="align-self: flex-start; margin-top: 1rem; width: 25rem"
      [label]="t('eligibleFundingRequest')"
      [rxFormControl]="budgetForm.get('eligibleFundingRequest')"
      [disabled]="true"
    ></drr-currency-input>

    <mat-label class="drr-label" style="margin-top: 2rem"
      >Cost Estimate Class</mat-label
    >
    <p>
      At this stage, your project should have a class A or B cost estimate. Set
      your contingency based on this. See the section below for more information
      about the classes.
    </p>
    <div *ngIf="isStrucutralProject()">
      <table class="cost-estimate-table">
        <thead>
          <tr>
            <th>Cost Estimate Classes</th>
            <th>Features & Uses</th>
            <th>Suggested Contingency for Associated Classes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Class A</td>
            <td>
              Detailed estimate based on final drawings and specifications<br />
              Used to evaluate tenders
            </td>
            <td>±10-15%</td>
          </tr>
          <tr>
            <td>Class B</td>
            <td>
              Prepared after completing site investigations and studies, and
              after defining major systems<br />
              Based on a project brief and preliminary design<br />
              Used for project approvals and budgetary control
            </td>
            <td>±15-25%</td>
          </tr>
        </tbody>
      </table>
      <p class="footnote">
        Sourced from the Association of Professional Engineers and Geoscientists
        of British Columbia (APEGBC)
      </p>
    </div>
    <drr-radio-button
      style="margin-top: 1rem"
      [label]="t('costEstimateClass')"
      [rxFormControl]="budgetForm.get('costEstimateClass')"
      [options]="costEstimateClassOptions"
    ></drr-radio-button>

    <mat-label class="drr-label" style="margin-top: 2rem"
      >Detailed Cost Estimates</mat-label
    >
    <p>
      Use the section below to provide a detailed breakdown of how the DRIF
      program funding amount (above) will be allocated to the eligible cost
      categories of each high-level task in your project. You can add as many
      rows as needed. We will use this breakdown when you report your progress.
    </p>
    <ul>
      <li>
        If your total Detailed Cost Estimate varies from the DRIF Program
        Funding amount (above), you will be asked to provide further
        explanation.
      </li>
      <li>
        Administrative costs cannot exceed 10% of the approved DRIF Program
        Funding amount.
      </li>
      <li>
        If you choose “other” for any of the values, use the description field
        to explain.
      </li>
      @if (isStrucutralProject()) {
        <li>Contingency costs cannot exceed Cost Estimate class range</li>
      }
    </ul>
    <div>
      <div
        *ngFor="
          let cost of getFormArray('costEstimates').controls;
          let i = index
        "
      >
        <mat-card style="margin-top: 1rem">
          <mat-card-header>
            <mat-card-subtitle>Task {{ i + 1 }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <drr-input
                class="drr-single-input"
                label="Task Name"
                [rxFormControl]="cost.get('taskName')"
                [maxlength]="50"
              ></drr-input>
              <drr-select
                class="drr-single-input"
                label="Cost Category"
                [rxFormControl]="cost.get('costCategory')"
                [options]="costCategoriesOptions"
              >
              </drr-select>
            </div>
            <drr-textarea
              label="Description"
              [rxFormControl]="cost.get('description')"
              [maxlength]="500"
            ></drr-textarea>
            <div class="row">
              <drr-select
                style="flex: 0.75"
                label="Resources"
                [rxFormControl]="cost.get('resources')"
                [options]="resourcesOptions"
              ></drr-select>
              <drr-select
                label="Units"
                [rxFormControl]="cost.get('units')"
                [options]="unitsOptions"
              >
              </drr-select>
              <drr-numeric-input
                label="Quantity"
                [rxFormControl]="cost.get('quantity')"
                numericType="decimal"
              ></drr-numeric-input>
              <drr-currency-input
                label="Unit Rate"
                [rxFormControl]="cost.get('unitRate')"
                [max]="1000000000"
              ></drr-currency-input>
              <drr-currency-input
                label="Total Cost"
                [rxFormControl]="cost.get('totalCost')"
                [disabled]="true"
              ></drr-currency-input>
            </div>
            <div class="row"></div>
          </mat-card-content>
          @if (getFormArray("costEstimates").controls.length > 1) {
            <mat-card-actions align="end">
              <button
                mat-raised-button
                color="warn"
                (click)="removeCost(cost.get('id')?.value)"
              >
                Remove
              </button>
            </mat-card-actions>
          }
        </mat-card>
      </div>
      <button
        style="margin-top: 10px"
        [style.padding]="isMobile ? '24px 16px' : ''"
        mat-stroked-button
        type="button"
        color="primary"
        (click)="addCost()"
      >
        <mat-icon>add</mat-icon>
        Add Additional Task
      </button>
    </div>

    <mat-label class="drr-label" style="margin-top: 2rem"
      >Total Detailed Cost Estimate</mat-label
    >
    <drr-currency-input
      style="align-self: flex-start; margin-top: 1rem"
      [label]="t('totalEligibleCosts')"
      [rxFormControl]="budgetForm.get('totalEligibleCosts')"
      [disabled]="true"
    >
    </drr-currency-input>
    @if (isStrucutralProject()) {
      <mat-label class="drr-label" style="margin-top: 1rem"
        >Total Contingency Percentage</mat-label
      >
      <drr-numeric-input
        style="align-self: flex-start; margin-top: 1rem"
        [label]="t('contingency')"
        [rxFormControl]="budgetForm.get('contingency')"
        numericType="percentage"
        [disabled]="true"
      >
      </drr-numeric-input>
    }

    @if (isContingencyPercentageThreasholdBroken()) {
      <p style="color: red; display: flex; align-items: center; gap: 1rem">
        <mat-icon>error</mat-icon>
        <i>
          The contingency percentage exceeds the allowable threshold for the
          selected cost estimate class.
        </i>
      </p>
    }

    <!-- -
    -
    -
    -
    -
    -
    -
    -
    -
    -
    - -->

    <h1>OLD layout</h1>

    <mat-label class="drr-label">DRIF Program Funding Breakdown</mat-label>
    <p>
      Let's review the total funding you are requesting from the DRIF program.
    </p>
    <p>
      Based on your EOI, your eligible DRIF program funding is:
      {{ budgetForm.get("eligibleFundingRequest")?.value | currency }}
    </p>

    <p>
      The amount of funding you need may have changed since you submitted your
      EOI for various reasons, including changes to the scope of your project or
      more precise estimates. Use the fields below to provide a year-over-year
      breakdown of your updated DRIF program funding request. If this total
      differs from the eligible amount in your EOI, you will be asked to
      explain.
    </p>

    <p>
      Ensure that these numbers align with your Detailed Cost Estimate, which
      you will attach on Step 11 of this form. Note that the fiscal year runs
      from April 1 - Mar 31.
    </p>

    <div>
      <div
        class="array-item-container"
        *ngFor="
          let funding of getFormArray('yearOverYearFunding').controls;
          let i = index
        "
      >
        <drr-select
          [label]="t('fiscalYear')"
          [rxFormControl]="funding.get('year')"
          [options]="fiscalYearsOptions"
        ></drr-select>
        <drr-currency-input
          [label]="t('amount')"
          [rxFormControl]="funding.get('amount')"
          [max]="1000000000"
        ></drr-currency-input>
        @if (i > 0) {
          <button mat-mini-fab color="warn" (click)="removeYear(i)">
            <mat-icon>delete</mat-icon>
          </button>
        }
      </div>
      <button
        style="margin-top: 10px"
        [style.padding]="isMobile ? '24px 16px' : ''"
        mat-stroked-button
        type="button"
        color="primary"
        (click)="addYear()"
      >
        <mat-icon>add</mat-icon>
        {{ t("addYear") }}
      </button>
    </div>

    <p [style.color]="isTotalDrifFundingRequestInvalid() ? 'red' : 'initial'">
      Your updated DRIF program funding request is:
      {{ budgetForm.get("totalDrifFundingRequest")?.value | currency }}
    </p>
    @if (isTotalDrifFundingRequestInvalid()) {
      <p style="color: red">
        This value must be less than
        {{ "1000000000" | currency: "" : "symbol" : "1.0-0" }}
      </p>
    }

    <div *ngIf="showDiscrepancyComment()" style="margin-top: 1rem">
      <drr-textarea
        [label]="t('discrepancyComment')"
        [maxlength]="2000"
        [rxFormControl]="budgetForm.get('discrepancyComment')"
      ></drr-textarea>
    </div>

    <mat-divider style="margin: 2rem 0"></mat-divider>

    <mat-label class="drr-label">Total Project Cost Breakdown</mat-label>
    <p>
      Let's review the total cost for your project, including funding sources
      outside of the DRIF program. The total costs for your project may also
      have changed since you submitted your EOI. The values below were copied
      from your EOI, but you can update them as needed.
    </p>
    <drr-currency-input
      [id]="'totalProjectCost'"
      class="drr-single-input"
      [label]="t('totalProjectCost')"
      [rxFormControl]="budgetForm.get('totalProjectCost')"
    ></drr-currency-input>

    <p [style.color]="isTotalDrifFundingRequestInvalid() ? 'red' : 'initial'">
      Your updated DRIF program funding request is:
      {{ budgetForm.get("totalDrifFundingRequest")?.value | currency }}
    </p>
    @if (isTotalDrifFundingRequestInvalid()) {
      <p style="color: red">
        This value must be less than
        {{ "1000000000" | currency: "" : "symbol" : "1.0-0" }}
      </p>
    }

    <mat-label class="drr-label" style="margin-top: 1rem">{{
      t("otherFunding")
    }}</mat-label>
    <drr-radio-button
      [label]="t('haveOtherFunding')"
      [rxFormControl]="budgetForm.get('haveOtherFunding')"
    ></drr-radio-button>

    @if (budgetForm.get("haveOtherFunding")?.value === true) {
      <drr-funding-list
        [fundingFormArray]="getFormArray('otherFunding')"
      ></drr-funding-list>
    }

    <mat-label class="drr-label" style="margin-top: 2rem">{{
      getRemainingAmount() > 0
        ? t("missingFundsLabel")
        : t("excessFundingLabel")
    }}</mat-label>
    <mat-label [style.color]="getRemainingAmount() < 0 ? 'red' : 'initial'">{{
      getRemainingAmountAbs() | currency
    }}</mat-label>
    <mat-hint *ngIf="getRemainingAmount() < 0" style="color: red">{{
      t("excessFundingTextFp")
    }}</mat-hint>
    <mat-hint *ngIf="getRemainingAmount() == 0">{{
      t("noExcessFundingText")
    }}</mat-hint>

    <drr-textarea
      *ngIf="getRemainingAmount() > 0"
      style="margin-top: 10px"
      [id]="'intendToSecureFunding'"
      [label]="t('intendToSecureFunding')"
      [maxlength]="2000"
      [rxFormControl]="budgetForm.get('intendToSecureFunding')"
    ></drr-textarea>

    <mat-divider style="margin: 2rem 0"></mat-divider>

    <mat-label class="drr-label" style="margin-top: 1rem">{{
      t("costEffective")
    }}</mat-label>
    <drr-textarea
      [label]="t('costEffectiveComments')"
      [rxFormControl]="budgetForm.get('costEffectiveComments')"
      [maxlength]="2000"
    ></drr-textarea>

    <mat-label class="drr-label">{{ t("previousResponse") }}</mat-label>
    <drr-radio-button
      [label]="t('previousResponseQuestion')"
      [rxFormControl]="budgetForm.get('previousResponse')"
      [options]="previousResponseOptions"
    ></drr-radio-button>
    <drr-currency-input
      *ngIf="budgetForm.get('previousResponse')?.value === 'Yes'"
      [label]="t('previousResponseCost')"
      [rxFormControl]="budgetForm.get('previousResponseCost')"
    ></drr-currency-input>
    <drr-textarea
      *ngIf="
        budgetForm.get('previousResponse')?.value === 'Yes' ||
        budgetForm.get('previousResponse')?.value === 'NotApplicable'
      "
      [label]="t('previousResponseComments')"
      [rxFormControl]="budgetForm.get('previousResponseComments')"
      [maxlength]="2000"
    ></drr-textarea>

    <mat-label class="drr-label">{{ t("costConsiderations") }}</mat-label>
    <drr-radio-button
      [label]="t('costConsiderationsApplied')"
      [rxFormControl]="budgetForm.get('costConsiderationsApplied')"
    ></drr-radio-button>
    <drr-chip-autocomplete
      *ngIf="budgetForm.get('costConsiderationsApplied')?.value === true"
      [label]="t('costConsiderationsQuestions')"
      [placeholder]="t('autocompletePlaceholder')"
      [rxFormControl]="budgetForm.get('costConsiderations')"
      [options]="costConsiderationsOptions"
    ></drr-chip-autocomplete>
    <drr-textarea
      [label]="t('costConsiderationsComments')"
      [rxFormControl]="budgetForm.get('costConsiderationsComments')"
      [maxlength]="2000"
    ></drr-textarea>

    <mat-label class="drr-label">Detailed Cost Estimates</mat-label>
    <p>
      Use the section below to provide a detailed breakdown of the costs
      estimates for each high-level task in your project. You can add as many
      rows as needed. We will use this breakdown when you report your progress.
    </p>
    <p>Please note:</p>
    <ul>
      <li>
        Your total costs must match the updated DRIF funding request in the
        <b>DRIF Program Funding Breakdown</b> above.
      </li>
      <li>
        Administrative costs cannot exceed 10% of the approved DRIF program
        cost.
      </li>
      <li>
        If you choose “other” for any of the values, use the description field
        to explain.
      </li>
      @if (isStrucutralProject()) {
        <li>
          At this stage, your project should have a class A or B cost estimate.
          Set your contingency based on this. See below for more information
          about the classes.
        </li>
      }
    </ul>
    <div>
      <div
        *ngFor="
          let cost of getFormArray('costEstimates').controls;
          let i = index
        "
      >
        <mat-card style="margin-top: 1rem">
          <mat-card-header>
            <mat-card-subtitle>Task {{ i + 1 }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <drr-input
                class="drr-single-input"
                label="Task Name"
                [rxFormControl]="cost.get('taskName')"
                [maxlength]="50"
              ></drr-input>
              <drr-select
                class="drr-single-input"
                label="Cost Category"
                [rxFormControl]="cost.get('costCategory')"
                [options]="costCategoriesOptions"
              >
              </drr-select>
            </div>
            <drr-textarea
              label="Description"
              [rxFormControl]="cost.get('description')"
              [maxlength]="500"
            ></drr-textarea>
            <div class="row">
              <drr-select
                style="flex: 0.75"
                label="Resources"
                [rxFormControl]="cost.get('resources')"
                [options]="resourcesOptions"
              ></drr-select>
              <drr-select
                label="Units"
                [rxFormControl]="cost.get('units')"
                [options]="unitsOptions"
              >
              </drr-select>
              <drr-numeric-input
                label="Quantity"
                [rxFormControl]="cost.get('quantity')"
                numericType="decimal"
              ></drr-numeric-input>
              <drr-currency-input
                label="Unit Rate"
                [rxFormControl]="cost.get('unitRate')"
                [max]="1000000000"
              ></drr-currency-input>
              <drr-currency-input
                label="Total Cost"
                [rxFormControl]="cost.get('totalCost')"
                [disabled]="true"
              ></drr-currency-input>
            </div>
            <div class="row"></div>
          </mat-card-content>
          @if (getFormArray("costEstimates").controls.length > 1) {
            <mat-card-actions align="end">
              <button
                mat-raised-button
                color="warn"
                (click)="removeCost(cost.get('id')?.value)"
              >
                Remove
              </button>
            </mat-card-actions>
          }
        </mat-card>
      </div>
      <button
        style="margin-top: 10px"
        [style.padding]="isMobile ? '24px 16px' : ''"
        mat-stroked-button
        type="button"
        color="primary"
        (click)="addCost()"
      >
        <mat-icon>add</mat-icon>
        Add Additional Task
      </button>
    </div>

    <!-- @if (isStrucutralProject()) {
      <drr-numeric-input
        style="align-self: flex-start; margin-top: 1rem"
        [label]="t('contingency')"
        [rxFormControl]="budgetForm.get('contingency')"
        numericType="percentage"
      >
      </drr-numeric-input>
    } -->

    <!-- <drr-currency-input
      style="align-self: flex-start; margin-top: 1rem"
      [label]="t('totalEligibleCosts')"
      [rxFormControl]="budgetForm.get('totalEligibleCosts')"
      [disabled]="true"
    >
    </drr-currency-input> -->

    <!-- New section for Stream 2 projects -->
    <div *ngIf="isStrucutralProject()">
      <mat-divider style="margin: 2rem 0"></mat-divider>
      <mat-label class="drr-label" style="margin-top: 1rem">
        Cost Estimate Definitions & Assumptions
      </mat-label>
      <table class="cost-estimate-table">
        <thead>
          <tr>
            <th>Cost Estimate Classes</th>
            <th>Features & Uses</th>
            <th>Suggested Contingency for Associated Classes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Class A</td>
            <td>
              Detailed estimate based on final drawings and specifications<br />
              Used to evaluate tenders
            </td>
            <td>±10-15%</td>
          </tr>
          <tr>
            <td>Class B</td>
            <td>
              Prepared after completing site investigations and studies, and
              after defining major systems<br />
              Based on a project brief and preliminary design<br />
              Used for project approvals and budgetary control
            </td>
            <td>±15-25%</td>
          </tr>
        </tbody>
      </table>
      <p class="footnote">
        Sourced from the Association of Professional Engineers and Geoscientists
        of British Columbia (APEGBC)
      </p>
    </div>
  </form>
</div>
