i
<div class="app-stepper-container">
  <h1>Expression of Interest - EOI form</h1>

  <mat-stepper
    class="app-stepper"
    [linear]="false"
    labelPosition="bottom"
    #stepper
  >
    <mat-step [stepControl]="eoiApplicationForm" label="Applicant Information">
      <div class="app-step-container">
        <form [formGroup]="eoiApplicationForm">
          <mat-label class="form-label">Application Type</mat-label>
          <mat-radio-group
            class="app-type"
            aria-label="Select an option"
            formControlName="applicantType"
          >
            <mat-error
              *ngIf="
                eoiApplicationForm.get('applicantType')?.dirty &&
                eoiApplicationForm.get('applicantType')?.hasError('required')
              "
              >Required</mat-error
            >
            <mat-radio-button value="ApplicantType.FirstNation"
              >First Nation</mat-radio-button
            >
            <mat-radio-button value="ApplicantType.LocalGovernment"
              >Local Government</mat-radio-button
            >
            <mat-radio-button value="ApplicantType.RegionalDistrict"
              >Regional District</mat-radio-button
            >
          </mat-radio-group>
          <mat-form-field style="width: 50vw; margin-top: 10px">
            <mat-label
              >Name of First Nation, Local Government or Reginal
              District</mat-label
            >
            <input matInput formControlName="applicantName" />
          </mat-form-field>

          <mat-label class="form-label"
            >Submitter Contact Information</mat-label
          >
          <div class="submitter-container" formGroupName="submitter">
            <mat-form-field>
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Position/Title</mat-label>
              <input matInput formControlName="title" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Department</mat-label>
              <input matInput formControlName="position" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Phone</mat-label>
              <input matInput formControlName="phone" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" />
            </mat-form-field>
          </div>

          <mat-label class="form-label">Project Contact Information</mat-label>

          <div formArrayName="projectContacts">
            <div
              class="project-contacts-container"
              *ngFor="
                let projectContact of getFormArray('projectContacts').controls;
                let i = index
              "
              [formGroupName]="i"
            >
              <!-- TODO: there is an issue with form reference, form value stays empty
              <drr-contact-details
                [contactForm]="projectContact as RxFormGroup"
              ></drr-contact-details> -->
              <mat-form-field>
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Position/Title</mat-label>
                <input matInput formControlName="title" />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Department</mat-label>
                <input matInput formControlName="position" />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Phone</mat-label>
                <input matInput formControlName="phone" />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" />
              </mat-form-field>

              <button
                *ngIf="i > 0"
                mat-mini-fab
                color="warn"
                (click)="removeProjectContact(i)"
              >
                <mat-icon>delete</mat-icon>
              </button>
              <mat-divider></mat-divider>
            </div>

            <button
              mat-stroked-button
              color="primary"
              (click)="addProjectContact()"
            >
              <mat-icon>add</mat-icon>
              Add additional contact
            </button>
          </div>

          <div class="app-stepper-action">
            <button
              mat-flat-button
              color="primary"
              matStepperNext
              (click)="validateFirstStep()"
            >
              Next
            </button>
          </div>
        </form>
      </div>
    </mat-step>
    <mat-step label="Project Information">
      <div class="app-step-container">
        <form [formGroup]="eoiApplicationForm">
          <mat-label class="form-label">Project Title</mat-label>
          <mat-form-field style="width: 50vw; margin-top: 10px">
            <mat-label>Project Title</mat-label>
            <input matInput formControlName="projectTitle" />
          </mat-form-field>

          <mat-label class="form-label">Project Type</mat-label>
          <mat-radio-group
            class="app-type"
            style="margin-bottom: 10px"
            aria-label="Select an option"
            formControlName="projectType"
          >
            <mat-error
              *ngIf="
                eoiApplicationForm.get('projectType')?.dirty &&
                eoiApplicationForm.get('projectType')?.hasError('required')
              "
              >Required</mat-error
            >
            <mat-radio-button value="ProjectType.New"
              >New Project</mat-radio-button
            >
            <mat-radio-button value="ProjectType.Existing"
              >New Phase of Existing Project</mat-radio-button
            >
          </mat-radio-group>
          <mat-label class="form-label">Related Hazard(s)</mat-label>
          <mat-form-field style="width: 50vw; margin-top: 10px">
            <mat-label class="form-label"> Related Hazard(s)</mat-label>
            <mat-select formControlName="relatedHazards" multiple="true">
              @for (option of hazardsOptions; track option) {
              <mat-option [value]="option">{{ option }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="otherHazardSelected()">
            <mat-label>Other</mat-label>
            <input matInput formControlName="otherHazardsDescription" />
          </mat-form-field>
          <mat-label class="form-label">Anticipated Project Dates</mat-label>
          <div class="project-dates-container">
            <mat-form-field>
              <mat-label>Anticipated Project Start Date</mat-label>
              <input
                matInput
                [matDatepicker]="start_picker"
                formControlName="startDate"
              />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="start_picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #start_picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Anticipated Project End Date</mat-label>
              <input
                matInput
                [matDatepicker]="end_picker"
                formControlName="endDate"
              />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="end_picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #end_picker></mat-datepicker>
            </mat-form-field>
          </div>
        </form>
      </div>

      <div class="app-stepper-actions">
        <button mat-stroked-button color="primary" matStepperPrevious>
          Back
        </button>
        <button
          mat-flat-button
          color="primary"
          matStepperNext
          (click)="validateSecondStep()"
        >
          Next
        </button>
      </div>
    </mat-step>
    <mat-step label="Funding Information">
      <div class="app-step-container">
        <form [formGroup]="eoiApplicationForm">
          <mat-label class="form-label">DRIF Funding Request</mat-label>
          <mat-form-field style="width: 50vw; margin-top: 10px">
            <mat-label>DRIF Funding Request</mat-label>
            <input
              matInput
              type="number"
              formControlName="fundingRequest"
              placeholder="$"
            />
          </mat-form-field>
          <mat-label class="form-label">Other Funding Sources</mat-label>
          <div formArrayName="otherFunding">
            <div
              class="project-contacts-container"
              *ngFor="
                let projectContact of getFormArray('otherFunding').controls;
                let i = index
              "
              [formGroupName]="i"
            >
              <mat-form-field>
                <mat-label>Name of Grant/Funding Source</mat-label>
                <input matInput formControlName="name" />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Type of Funding</mat-label>
                <input matInput formControlName="type" />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Amount</mat-label>
                <input matInput formControlName="amount" />
              </mat-form-field>
            </div>
            <button
              mat-stroked-button
              color="primary"
              (click)="addOtherFunding()"
            >
              <mat-icon>add</mat-icon>
              Add additional funding source
            </button>
          </div>
          <mat-label class="form-label">Unfunded Amount</mat-label>
          <mat-form-field style="width: 50vw; margin-top: 10px">
            <mat-label>Unfunded Amount</mat-label>
            <input
              matInput
              type="number"
              formControlName="unfundedAmount"
              placeholder="$"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Explain how you intent to secure this funding</mat-label>
            <textarea
              matInput
              formControlName="reasonsToSecureFunding"
            ></textarea>
          </mat-form-field>
          <mat-label class="form-label">Total of funding sources</mat-label>
          <mat-form-field style="width: 50vw; margin-top: 10px">
            <mat-label>Total of funding sources</mat-label>
            <input
              matInput
              type="number"
              formControlName="totalFunding"
              placeholder="$"
            />
          </mat-form-field>
        </form>
      </div>
      <div class="app-stepper-actions">
        <button mat-stroked-button color="primary" matStepperPrevious>
          Back
        </button>
        <button mat-flat-button color="primary" matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Location Information">
      <div class="app-step-container">
        <form [formGroup]="eoiApplicationForm">
          <mat-label class="form-label">Ownership Declaration</mat-label>
          <mat-label
            >The project will be in BC on land that the applicant has legal
            access to either though ownership, right of way, or other at the
            time the Shared Cost Agreement is signed. You can provide context in
            the project area description question that follows.</mat-label
          >
          <mat-radio-group
            class="app-type"
            aria-label="Select an option"
            formControlName="ownershipDeclaration"
          >
            <mat-error
              *ngIf="
                eoiApplicationForm.get('ownershipDeclaration')?.dirty &&
                eoiApplicationForm
                  .get('ownershipDeclaration')
                  ?.hasError('required')
              "
              >Required</mat-error
            >
            <mat-radio-button value="true">Yes</mat-radio-button>
            <mat-radio-button value="false">No</mat-radio-button>
          </mat-radio-group>
          <div
            class="location-information-container"
            formGroupName="locationInformation"
          >
            <mat-form-field>
              <mat-label>Location Description</mat-label>
              <mat-label>Include address if applicable</mat-label>
              <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
            <mat-label class="form-label">Size of Project Area</mat-label>
            <mat-form-field style="width: 50vw; margin-top: 10px">
              <mat-label>Size of Project Area</mat-label>
              <input matInput type="number" formControlName="area" />
            </mat-form-field>
            <!-- areaUnits -->
            <mat-form-field>
              <mat-label>Land Use/Ownership</mat-label>
              <textarea matInput formControlName="ownership"></textarea>
            </mat-form-field>
          </div>
        </form>
      </div>
      <div class="app-stepper-actions">
        <button mat-stroked-button color="primary" matStepperPrevious>
          Back
        </button>
        <button mat-flat-button color="primary" matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Project Details">
      <div class="app-step-container">
        <form [formGroup]="eoiApplicationForm">
          <mat-label class="form-label"
            >Background for Funding Request</mat-label
          >
          <mat-label
            >Include a description of the risk, the number of people impacted,
            and critical infrastructure impacted. How does this project improve
            the understanding of disaster risk and invest in disaster risk
            reduction to improve resilience?</mat-label
          >
          <mat-form-field>
            <textarea
              matInput
              formControlName="backgroundDescription"
              rows="10"
            ></textarea>
          </mat-form-field>
          <mat-label class="form-label"
            >Rationale for Funding Request</mat-label
          >
          <mat-label
            >Include any recent history (e.g., evacuation orders, flooding
            events), threat levels, and/or evidence of how the hazard is being
            assessed</mat-label
          >
          <mat-form-field>
            <textarea
              matInput
              formControlName="rationaleForFunding"
              rows="10"
            ></textarea>
          </mat-form-field>
          <mat-label class="form-label">Proposed Solution</mat-label>
          <mat-label
            >What is included in this project to address the identified risk(s)
            and/or hazard(s)? Include how this project aligns with DRIFs program
            goal.
          </mat-label>
          <mat-form-field>
            <textarea
              matInput
              formControlName="proposedSolution"
              rows="10"
            ></textarea>
          </mat-form-field>
          <mat-label class="form-label"
            >Rationale for Proposed Solution</mat-label
          >
          <mat-label
            >What type of foundational or previous work led to the proposed
            solution?</mat-label
          >
          <mat-form-field>
            <textarea
              matInput
              formControlName="rationaleForSolution"
              rows="10"
            ></textarea>
          </mat-form-field>
        </form>
      </div>
      <div class="app-stepper-actions">
        <button mat-stroked-button color="primary" matStepperPrevious>
          Back
        </button>
        <button mat-flat-button color="primary" matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Engagement Plan">
      <div class="app-step-container">
        <form [formGroup]="eoiApplicationForm">
          <mat-label class="form-label"
            >Engagement/Planned Engagement with First Nations and/or Indigenous
            Organizations Prior to Full Proposal</mat-label
          >
          <mat-label
            >Describe how the applicant has or plans to engage with local First
            Nations and/or First Nations impacted by the proposed
            project</mat-label
          >
          <mat-form-field>
            <textarea
              matInput
              formControlName="engagementProposal"
              rows="10"
            ></textarea>
          </mat-form-field>
        </form>
      </div>
      <div class="app-stepper-actions">
        <button mat-stroked-button color="primary" matStepperPrevious>
          Back
        </button>
        <button mat-flat-button color="primary" matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Other Supporting Information">
      <div class="app-step-container">
        <form [formGroup]="eoiApplicationForm"></form>
      </div>
      <div class="app-stepper-actions">
        <button mat-stroked-button color="primary" matStepperPrevious>
          Back
        </button>
        <button mat-flat-button color="primary" matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Declaration">
      <div class="app-stepper-actions">
        <button mat-stroked-button color="primary" matStepperPrevious>
          Back
        </button>
        <button mat-flat-button color="primary" matStepperNext>Submit</button>
      </div>
    </mat-step>
  </mat-stepper>

  <div *ngIf="eoiApplicationForm.value">
    FYI doesn't reflect arrayForm values, buy they are populated properly
    <pre>{{ eoiApplicationForm.value | json }}</pre>
  </div>
</div>
