.app-stepper-container {
  margin: 20px 20px;
}

.app-stepper {
  background: transparent;
  display: flex;
  flex-direction: column;
}

.app-stepper-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .save-info {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
