<div class="app-stepper-container" *transloco="let t">
  <mat-stepper
    class="app-stepper"
    [linear]="false"
    labelPosition="bottom"
    (selectionChange)="stepperSelectionChange($event)"
    [orientation]="stepperOrientation"
    #stepper
  >
    <mat-step
      [label]="t('step1')"
      [stepControl]="getFormGroup('proponentInformation')"
      [errorMessage]="t('stepError')"
    >
      <drr-step-1
        [proponentInformationForm]="getFormGroup('proponentInformation')"
      ></drr-step-1>
      <div class="drr-stepper-action">
        <button
          id="next1"
          mat-flat-button
          color="primary"
          matStepperNext
          type="button"
        >
          {{ t("next") }}
        </button>
      </div>
    </mat-step>
    <mat-step
      [label]="t('step2')"
      [stepControl]="getFormGroup('projectInformation')"
      [errorMessage]="t('stepError')"
    >
      <drr-step-2
        [projectInformationForm]="getFormGroup('projectInformation')"
      ></drr-step-2>
      <div class="drr-stepper-actions">
        <button mat-stroked-button color="primary" matStepperPrevious>
          {{ t("back") }}
        </button>
        <button
          id="next2"
          mat-flat-button
          color="primary"
          matStepperNext
          type="button"
        >
          {{ t("next") }}
        </button>
      </div>
    </mat-step>
    <mat-step
      [label]="t('step3')"
      [stepControl]="getFormGroup('fundingInformation')"
      [errorMessage]="t('stepError')"
    >
      <drr-step-3
        [fundingInformationForm]="getFormGroup('fundingInformation')"
      ></drr-step-3>
      <div class="drr-stepper-actions">
        <button mat-stroked-button color="primary" matStepperPrevious>
          {{ t("back") }}
        </button>
        <button
          id="next3"
          mat-flat-button
          color="primary"
          matStepperNext
          type="button"
        >
          {{ t("next") }}
        </button>
      </div>
    </mat-step>
    <mat-step
      [label]="t('step4')"
      [stepControl]="getFormGroup('locationInformation')"
      [errorMessage]="t('stepError')"
    >
      <drr-step-4
        [locationInformationForm]="getFormGroup('locationInformation')"
      ></drr-step-4>
      <div class="drr-stepper-actions">
        <button mat-stroked-button color="primary" matStepperPrevious>
          {{ t("back") }}
        </button>
        <button
          id="next4"
          mat-flat-button
          color="primary"
          matStepperNext
          type="button"
        >
          {{ t("next") }}
        </button>
      </div>
    </mat-step>
    <mat-step
      [label]="t('step5')"
      [stepControl]="getFormGroup('projectDetails')"
      [errorMessage]="t('stepError')"
    >
      <drr-step-5
        [projectDetailsForm]="getFormGroup('projectDetails')"
      ></drr-step-5>
      <div class="drr-stepper-actions">
        <button mat-stroked-button color="primary" matStepperPrevious>
          {{ t("back") }}
        </button>
        <button
          id="next5"
          mat-flat-button
          color="primary"
          matStepperNext
          type="button"
        >
          {{ t("next") }}
        </button>
      </div>
    </mat-step>
    <mat-step
      [label]="t('step6')"
      [stepControl]="getFormGroup('engagementPlan')"
      [errorMessage]="t('stepError')"
    >
      <drr-step-6
        [engagementPlanForm]="getFormGroup('engagementPlan')"
      ></drr-step-6>
      <div class="drr-stepper-actions">
        <button mat-stroked-button color="primary" matStepperPrevious>
          {{ t("back") }}
        </button>
        <button
          id="next6"
          mat-flat-button
          color="primary"
          matStepperNext
          type="button"
        >
          {{ t("next") }}
        </button>
      </div>
    </mat-step>
    <mat-step
      [label]="t('step7')"
      [stepControl]="getFormGroup('otherSupportingInformation')"
      [errorMessage]="t('stepError')"
    >
      <drr-step-7
        [otherSupportingInformationForm]="
          getFormGroup('otherSupportingInformation')
        "
      ></drr-step-7>
      <div class="drr-stepper-actions">
        <button mat-stroked-button color="primary" matStepperPrevious>
          {{ t("back") }}
        </button>
        <button
          id="next7"
          mat-flat-button
          color="primary"
          matStepperNext
          type="button"
        >
          {{ t("next") }}
        </button>
      </div>
    </mat-step>
    <mat-step [label]="t('step8')">
      <drr-step-8 [eoiApplicationForm]="eoiApplicationForm"></drr-step-8>
      <div class="drr-stepper-actions">
        <button mat-stroked-button color="primary" matStepperPrevious>
          {{ t("back") }}
        </button>
        <button
          id="submit"
          mat-flat-button
          color="primary"
          type="button"
          (click)="submit()"
        >
          {{ t("submit") }}
        </button>
      </div>
    </mat-step>
  </mat-stepper>

  <div *ngIf="eoiApplicationForm.value && isDevMode">
    FYI doesn't reflect arrayForm values, buy they are populated properly
    <pre>{{ eoiApplicationForm.value | json }}</pre>
  </div>
</div>
