<ng-container *transloco="let t">
  <mat-form-field style="width: 100%">
    <mat-label>STANDARDS</mat-label>
    <mat-chip-grid
      #chipGrid
      aria-label="STANDARDS selection"
      [formControl]="rxFormControl"
    >
      @for (standard of selectedOptions(); track $index) {
      <mat-chip-row (removed)="removeOption($index)">
        {{ standard }}
        <button matChipRemove [attr.aria-label]="'remove ' + standard">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
      }
    </mat-chip-grid>
    <input
      name="currentStandard"
      placeholder="Select or type standard name..."
      #standardInput
      [formControl]="inputControl"
      [matChipInputFor]="chipGrid"
      [matAutocomplete]="auto"
      [ariaMultiLine]="true"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="addOption($event)"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="optionSelected($event)"
    >
      @for (standard of filteredOptions | async; track standard) {
      <mat-option [value]="standard">{{ standard }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</ng-container>
