<div class="drr-step-container" *transloco="let t">
  <form [formGroup]="projectInformationForm">
    <mat-label class="drr-label">{{ t("fundingStream") }}*</mat-label>
    <drr-radio-button
      [rxFormControl]="getFormControl('fundingStream')"
      [options]="fundingStreamOptions"
    ></drr-radio-button>

    <mat-label class="drr-label">{{ t("projectTitle") }}</mat-label>
    <drr-input
      class="drr-single-input"
      [id]="'projectTitle'"
      [label]="t('projectTitle')"
      [rxFormControl]="getFormControl('projectTitle')"
      [maxlength]="100"
    ></drr-input>

    <mat-label class="drr-label">{{ t("scopeStatement") }}</mat-label>
    <drr-input
      class="drr-single-input"
      [id]="'scopeStatement'"
      [label]="t('scopeStatement')"
      [rxFormControl]="getFormControl('scopeStatement')"
      [maxlength]="100"
    ></drr-input>

    <mat-label class="drr-label">{{ t("stream") }}*</mat-label>
    <drr-radio-button
      [rxFormControl]="getFormControl('stream')"
      [options]="streamOptions"
    ></drr-radio-button>
    <mat-label class="drr-label">{{ t("relatedHazards") }}</mat-label>

    <drr-select
      class="drr-single-input"
      [id]="'relatedHazards'"
      [label]="t('relatedHazards')"
      [rxFormControl]="getFormArray('relatedHazards')"
      [options]="hazardsOptions"
      [isMultiple]="true"
    ></drr-select>

    <drr-input
      *ngIf="otherHazardSelected()"
      class="drr-single-input"
      [id]="'otherHazardsDescription'"
      [label]="t('otherHazardsDescription')"
      [rxFormControl]="getFormControl('otherHazardsDescription')"
      [maxlength]="100"
    ></drr-input>
    <mat-label class="drr-label">{{ t("projectDates") }}</mat-label>
    <div class="project-dates-container">
      <drr-datepicker
        [id]="'startDate'"
        [label]="t('startDate')"
        [rxFormControl]="projectInformationForm.get('startDate')"
        [min]="minStartDate"
        [minErrorLabel]="t('minStartDateError')"
      ></drr-datepicker>

      <drr-datepicker
        [id]="'endDate'"
        [label]="t('endDate')"
        [rxFormControl]="getFormControl('endDate')"
        [min]="projectInformationForm.get('startDate')?.value"
        [minErrorLabel]="t('minEndDateError')"
      ></drr-datepicker>
    </div>
  </form>
</div>
