<div class="summary-container" *transloco="let t">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ t("proponentAndProjectInformation") }}</mat-card-title>
      <mat-card-subtitle>Step 1</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-label class="drr-label">{{ t("primaryProjectContact") }}</mat-label>
      <div class="summary-row">
        <drr-summary-item
          [label]="t('firstName')"
          [rxFormControl]="
            getRxFormControl(
              'proponentAndProjectInformation.projectContact.firstName'
            )
          "
        >
        </drr-summary-item>

        <drr-summary-item
          [label]="t('lastName')"
          [rxFormControl]="
            getRxFormControl(
              'proponentAndProjectInformation.projectContact.lastName'
            )
          "
        >
        </drr-summary-item>

        <drr-summary-item
          [label]="t('title')"
          [rxFormControl]="
            getRxFormControl(
              'proponentAndProjectInformation.projectContact.title'
            )
          "
        >
        </drr-summary-item>

        <drr-summary-item
          [label]="t('department')"
          [rxFormControl]="
            getRxFormControl(
              'proponentAndProjectInformation.projectContact.department'
            )
          "
        >
        </drr-summary-item>

        <drr-summary-item
          [label]="t('phone')"
          [rxFormControl]="
            getRxFormControl(
              'proponentAndProjectInformation.projectContact.phone'
            )
          "
        >
        </drr-summary-item>

        <drr-summary-item
          [label]="t('email')"
          [rxFormControl]="
            getRxFormControl(
              'proponentAndProjectInformation.projectContact.email'
            )
          "
        >
        </drr-summary-item>
      </div>

      <div>
        <mat-label class="drr-label">{{ t("additionalContacts") }}</mat-label>
        <div
          class="summary-row"
          *ngFor="
            let additionalContact of getRxFormArrayControls(
              'proponentAndProjectInformation',
              'additionalContacts'
            )
          "
        >
          <drr-summary-item
            [label]="t('firstName')"
            [rxFormControl]="
              convertRxFormControl(additionalContact.get('firstName'))
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('lastName')"
            [rxFormControl]="
              convertRxFormControl(additionalContact.get('lastName'))
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('title')"
            [rxFormControl]="
              convertRxFormControl(additionalContact.get('title'))
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('department')"
            [rxFormControl]="
              convertRxFormControl(additionalContact.get('department'))
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('phone')"
            [rxFormControl]="
              convertRxFormControl(additionalContact.get('phone'))
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('email')"
            [rxFormControl]="
              convertRxFormControl(additionalContact.get('email'))
            "
          >
          </drr-summary-item>
        </div>
      </div>

      <div>
        <mat-label class="drr-label">{{
          t("partneringProponentsSummary")
        }}</mat-label>
        <div
          class="summary-row"
          *ngFor="
            let proponent of getFormArray(
              'proponentAndProjectInformation',
              'partneringProponents'
            );
            let i = index
          "
        >
          <mat-label>{{ proponent }}</mat-label>
        </div>
      </div>

      <drr-summary-item
        [label]="t('regionalProjectQuestion')"
        [rxFormControl]="
          getRxFormControl('proponentAndProjectInformation.regionalProject')
        "
        [controlType]="'radio'"
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('regionalProjectComments')"
        [rxFormControl]="
          getRxFormControl(
            'proponentAndProjectInformation.regionalProjectComments'
          )
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('projectTitle')"
        [rxFormControl]="
          getRxFormControl('proponentAndProjectInformation.projectTitle')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('projectType')"
        [rxFormControl]="
          getRxFormControl('proponentAndProjectInformation.scopeStatement')
        "
      >
      </drr-summary-item>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ t("ownershipAndAuthorization") }}</mat-card-title>
      <mat-card-subtitle>Step 2</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <drr-summary-item
        [label]="t('fpOwnershipQuestion')"
        [rxFormControl]="
          getRxFormControl('ownershipAndAuthorization.ownershipDeclaration')
        "
        [controlType]="'radio'"
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('fpOwnershipComments')"
        [rxFormControl]="
          getRxFormControl('ownershipAndAuthorization.ownershipDescription')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('projectAuthorityQuestion')"
        [rxFormControl]="
          getRxFormControl('ownershipAndAuthorization.projectAuthority')
        "
        [controlType]="'radio'"
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('operationAndMaintenanceQuestion')"
        [rxFormControl]="
          getRxFormControl('ownershipAndAuthorization.operationAndMaintenance')
        "
        [controlType]="'radio'"
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('operationAndMaintenanceComments')"
        [rxFormControl]="
          getRxFormControl(
            'ownershipAndAuthorization.operationAndMaintenanceComments'
          )
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('firstNationsEndorsementQuestion')"
        [rxFormControl]="
          getRxFormControl('ownershipAndAuthorization.firstNationsEndorsement')
        "
        [controlType]="'radio'"
      ></drr-summary-item>

      <drr-summary-item
        [label]="t('localGovernmentEndorsementQuestion')"
        [rxFormControl]="
          getRxFormControl(
            'ownershipAndAuthorization.localGovernmentEndorsement'
          )
        "
        [controlType]="'radio'"
      ></drr-summary-item>

      <drr-summary-item
        [label]="t('authorizationOrEndorsementComments')"
        [rxFormControl]="
          getRxFormControl(
            'ownershipAndAuthorization.authorizationOrEndorsementComments'
          )
        "
        [controlType]="'radio'"
      ></drr-summary-item>
    </mat-card-content>
  </mat-card>
</div>
