<div class="summary-container" *transloco="let t">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ t("steps.fp.step1") }}</mat-card-title>
      <mat-card-subtitle>Step 1</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-label class="drr-label">{{ t("projectContact") }}</mat-label>
        <div class="summary-row">
          <drr-summary-item
            [label]="t('firstName')"
            [rxFormControl]="
              fullProposalForm.get(
                'proponentAndProjectInformation.projectContact.firstName'
              )
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('lastName')"
            [rxFormControl]="
              fullProposalForm.get(
                'proponentAndProjectInformation.projectContact.lastName'
              )
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('title')"
            [rxFormControl]="
              fullProposalForm.get(
                'proponentAndProjectInformation.projectContact.title'
              )
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('department')"
            [rxFormControl]="
              fullProposalForm.get(
                'proponentAndProjectInformation.projectContact.department'
              )
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('phone')"
            [rxFormControl]="
              fullProposalForm.get(
                'proponentAndProjectInformation.projectContact.phone'
              )
            "
            controlType="phone"
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('email')"
            [rxFormControl]="
              fullProposalForm.get(
                'proponentAndProjectInformation.projectContact.email'
              )
            "
          >
          </drr-summary-item>
        </div>
      </div>

      <div>
        <mat-label class="drr-label">{{ t("additionalContacts") }}</mat-label>
        <div
          class="summary-row"
          *ngFor="
            let additionalContact of getRxFormArrayControls(
              'proponentAndProjectInformation',
              'additionalContacts'
            )
          "
        >
          <drr-summary-item
            [label]="t('firstName')"
            [rxFormControl]="additionalContact.get('firstName')"
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('lastName')"
            [rxFormControl]="additionalContact.get('lastName')"
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('title')"
            [rxFormControl]="additionalContact.get('title')"
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('department')"
            [rxFormControl]="additionalContact.get('department')"
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('phone')"
            [rxFormControl]="additionalContact.get('phone')"
            controlType="phone"
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('email')"
            [rxFormControl]="additionalContact.get('email')"
          >
          </drr-summary-item>
        </div>
      </div>

      <div>
        <mat-label class="drr-label">{{
          t("partneringProponentsSummary")
        }}</mat-label>
        <div
          class="summary-row"
          *ngFor="
            let proponent of getFormArray(
              'proponentAndProjectInformation',
              'partneringProponents'
            );
            let i = index
          "
        >
          <mat-label>{{ proponent }}</mat-label>
        </div>
      </div>

      <drr-summary-item
        [label]="t('regionalProjectQuestion')"
        [rxFormControl]="
          fullProposalForm.get('proponentAndProjectInformation.regionalProject')
        "
        controlType="radio"
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('regionalProjectComments')"
        [rxFormControl]="
          fullProposalForm.get(
            'proponentAndProjectInformation.regionalProjectComments'
          )
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('projectTitleText')"
        [rxFormControl]="
          fullProposalForm.get('proponentAndProjectInformation.projectTitle')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('projectTypeText')"
        [rxFormControl]="
          fullProposalForm.get('proponentAndProjectInformation.mainDeliverable')
        "
      >
      </drr-summary-item>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ t("steps.fp.step2") }}</mat-card-title>
      <mat-card-subtitle>Step 2</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <drr-summary-item
        [label]="t('fpOwnershipQuestion')"
        [rxFormControl]="
          fullProposalForm.get('ownershipAndAuthorization.ownershipDeclaration')
        "
        controlType="radio"
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('fpOwnershipComments')"
        [rxFormControl]="
          fullProposalForm.get('ownershipAndAuthorization.ownershipDescription')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('haveAuthorityToDevelop')"
        [rxFormControl]="
          fullProposalForm.get(
            'ownershipAndAuthorization.haveAuthorityToDevelop'
          )
        "
        controlType="radio"
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('operationAndMaintenanceQuestion')"
        [rxFormControl]="
          fullProposalForm.get(
            'ownershipAndAuthorization.operationAndMaintenance'
          )
        "
        controlType="radio"
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('operationAndMaintenanceComments')"
        [rxFormControl]="
          fullProposalForm.get(
            'ownershipAndAuthorization.operationAndMaintenanceComments'
          )
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('firstNationsAuthorizedByPartners')"
        [rxFormControl]="
          fullProposalForm.get(
            'ownershipAndAuthorization.firstNationsAuthorizedByPartners'
          )
        "
        controlType="radio"
      ></drr-summary-item>

      <drr-summary-item
        [label]="t('localGovernmentAuthorizedByPartners')"
        [rxFormControl]="
          fullProposalForm.get(
            'ownershipAndAuthorization.localGovernmentAuthorizedByPartners'
          )
        "
        controlType="radio"
      ></drr-summary-item>

      <drr-summary-item
        [label]="t('authorizationOrEndorsementComments')"
        [rxFormControl]="
          fullProposalForm.get(
            'ownershipAndAuthorization.authorizationOrEndorsementComments'
          )
        "
      ></drr-summary-item>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ t("steps.fp.step3") }}</mat-card-title>
      <mat-card-subtitle>Step 3</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <drr-summary-item
        [label]="t('locationDescription')"
        [rxFormControl]="
          fullProposalForm.get('projectArea.locationDescription')
        "
      >
      </drr-summary-item>

      <mat-label class="drr-label">{{ t("estimatedArea") }}</mat-label>
      <div class="summary-row">
        <drr-summary-item
          [label]="t('area')"
          [rxFormControl]="fullProposalForm.get('projectArea.area')"
        >
        </drr-summary-item>

        <drr-summary-item
          [label]="t('units')"
          [rxFormControl]="fullProposalForm.get('projectArea.units')"
        >
        </drr-summary-item>
      </div>

      <drr-summary-item
        [label]="t('relatedHazardsSummary')"
        [rxFormControl]="fullProposalForm.get('projectArea.relatedHazards')"
        controlType="array"
      >
      </drr-summary-item>
      <drr-summary-item
        [label]="t('otherHazardsDescription')"
        [rxFormControl]="
          fullProposalForm.get('projectArea.otherHazardsDescription')
        "
        *ngIf="
          fullProposalForm
            .get('projectArea.relatedHazards')
            ?.value?.includes('Other')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('areaDescriptionText')"
        [rxFormControl]="fullProposalForm.get('projectArea.areaDescription')"
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('communityImpactText')"
        [rxFormControl]="fullProposalForm.get('projectArea.communityImpact')"
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('estimatedPeopleImpacted')"
        [rxFormControl]="
          fullProposalForm.get('projectArea.estimatedPeopleImpactedFP')
        "
        controlType="select"
      >
      </drr-summary-item>

      <mat-label class="drr-label">{{ t("infrastructureImpacted") }}</mat-label>
      <drr-summary-item
        [label]="t('isInfrastructureImpacted')"
        [rxFormControl]="
          fullProposalForm.get('projectArea.isInfrastructureImpacted')
        "
        controlType="radio"
      >
      </drr-summary-item>
      <div
        class="summary-row"
        *ngFor="
          let control of getRxFormArrayControls(
            'projectArea',
            'infrastructureImpacted'
          )
        "
      >
        <drr-summary-item
          [label]="t('infrastructure')"
          [rxFormControl]="control.get('infrastructure')"
        >
        </drr-summary-item>

        <drr-summary-item
          [label]="t('impact')"
          [rxFormControl]="control.get('impact')"
        >
        </drr-summary-item>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ t("steps.fp.step4") }}</mat-card-title>
      <mat-card-subtitle>Step 4</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-label class="drr-label">{{ t("projectDates") }}</mat-label>
        <div class="summary-row">
          <drr-summary-item
            [label]="t('startDate')"
            [rxFormControl]="fullProposalForm.get('projectPlan.startDate')"
            controlType="date"
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('endDate')"
            [rxFormControl]="fullProposalForm.get('projectPlan.endDate')"
            controlType="date"
          >
          </drr-summary-item>
        </div>
      </div>

      <drr-summary-item
        [label]="t('projectDescription')"
        [rxFormControl]="fullProposalForm.get('projectPlan.projectDescription')"
      >
      </drr-summary-item>
      <div>
        <mat-label class="drr-label">{{ t("proposedActivities") }}</mat-label>
        <div
          class="summary-grid-row"
          *ngFor="
            let control of getRxFormArrayControls(
              'projectPlan',
              'proposedActivities'
            )
          "
        >
          <drr-summary-item
            [label]="t('activityName')"
            [rxFormControl]="control.get('name')"
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('startDate')"
            [rxFormControl]="control.get('startDate')"
            controlType="date"
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('endDate')"
            [rxFormControl]="control.get('endDate')"
            controlType="date"
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('tasks')"
            [rxFormControl]="control.get('tasks')"
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('deliverables')"
            [rxFormControl]="control.get('deliverables')"
          >
          </drr-summary-item>
        </div>
      </div>

      <drr-summary-item
        [label]="t('rationaleForSolutionText')"
        [rxFormControl]="
          fullProposalForm.get('projectPlan.foundationalOrPreviousWorks')
        "
        controlType="array"
        [translate]="false"
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('foundationalOrPreviousWorksComments')"
        [rxFormControl]="
          fullProposalForm.get('projectPlan.howWasNeedIdentified')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('addressRisksAndHazards')"
        [rxFormControl]="
          fullProposalForm.get('projectPlan.addressRisksAndHazards')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('disasterRiskUnderstanding')"
        [rxFormControl]="
          fullProposalForm.get('projectPlan.disasterRiskUnderstanding')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('rationaleForFundingText')"
        [rxFormControl]="
          fullProposalForm.get('projectPlan.rationaleForFunding')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('projectAlternatesText')"
        [rxFormControl]="
          fullProposalForm.get('projectPlan.projectAlternateOptions')
        "
      >
      </drr-summary-item>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ t("steps.fp.step5") }}</mat-card-title>
      <mat-card-subtitle>Step 5</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <drr-summary-item
        [label]="t('engagedWithFirstNationsOccurred')"
        [rxFormControl]="
          fullProposalForm.get(
            'projectEngagement.engagedWithFirstNationsOccurred'
          )
        "
        controlType="radio"
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('engagedWithFirstNationsComments')"
        [rxFormControl]="
          fullProposalForm.get(
            'projectEngagement.engagedWithFirstNationsComments'
          )
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('otherEngagementText')"
        [rxFormControl]="
          fullProposalForm.get('projectEngagement.otherEngagement')
        "
        controlType="radio"
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('affectedParties')"
        [rxFormControl]="
          fullProposalForm.get('projectEngagement.affectedParties')
        "
        controlType="array"
        [translate]="false"
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('otherEngagementComments')"
        [rxFormControl]="
          fullProposalForm.get('projectEngagement.otherEngagementComments')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('collaborationComments')"
        [rxFormControl]="
          fullProposalForm.get('projectEngagement.collaborationComments')
        "
      >
      </drr-summary-item>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ t("steps.fp.step6") }}</mat-card-title>
      <mat-card-subtitle>Step 6</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <drr-summary-item
        [label]="t('incorporateFutureClimateConditions')"
        [rxFormControl]="
          fullProposalForm.get(
            'climateAdaptation.incorporateFutureClimateConditions'
          )
        "
        controlType="radio"
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('climateAdaptationText')"
        [rxFormControl]="
          fullProposalForm.get('climateAdaptation.climateAdaptation')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('climateAssessment')"
        [rxFormControl]="
          fullProposalForm.get('climateAdaptation.climateAssessment')
        "
        controlType="radio"
      >
      </drr-summary-item>

      <drr-summary-item
        *ngIf="
          fullProposalForm.get('climateAdaptation.climateAssessment')?.value
        "
        [label]="t('climateAssessmentToolsText')"
        [rxFormControl]="
          fullProposalForm.get('climateAdaptation.climateAssessmentTools')
        "
        controlType="array"
        [translate]="false"
      >
      </drr-summary-item>

      <drr-summary-item
        *ngIf="
          fullProposalForm.get('climateAdaptation.climateAssessment')?.value
        "
        [label]="t('climateAssessmentComments')"
        [rxFormControl]="
          fullProposalForm.get('climateAdaptation.climateAssessmentComments')
        "
      >
      </drr-summary-item>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ t("steps.fp.step7") }}</mat-card-title>
      <mat-card-subtitle>Step 7</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <drr-summary-item
        [label]="t('standardsAcceptableQuestion')"
        [rxFormControl]="
          fullProposalForm.get(
            'permitsRegulationsAndStandards.standardsAcceptable'
          )
        "
        controlType="radio"
        [translate]="false"
      >
      </drr-summary-item>

      <div>
        <mat-label class="drr-label">{{ t("standards") }}</mat-label>
        <div
          *ngFor="
            let standardInfo of getRxFormArrayControls(
              'permitsRegulationsAndStandards',
              'standards'
            )
          "
        >
          <div
            *ngIf="standardInfo.get('isCategorySelected')?.value"
            class="summary-row"
            style="margin-top: 1rem"
          >
            <drr-summary-item
              style="min-width: 10rem"
              [label]="t('category')"
              [rxFormControl]="standardInfo.get('category')"
            >
            </drr-summary-item>

            <drr-summary-item
              [label]="t('standards')"
              [rxFormControl]="standardInfo.get('standards')"
              controlType="array"
              [translate]="false"
            >
            </drr-summary-item>
          </div>
        </div>
      </div>

      <drr-summary-item
        [label]="t('standardsComments')"
        [rxFormControl]="
          fullProposalForm.get(
            'permitsRegulationsAndStandards.standardsComments'
          )
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('professionalGuidanceQuestion')"
        [rxFormControl]="
          fullProposalForm.get(
            'permitsRegulationsAndStandards.professionalGuidance'
          )
        "
        controlType="radio"
        [value]="getProfessionalGuidanceAnswer()"
        [translate]="false"
      >
      </drr-summary-item>

      <drr-summary-item
        *ngIf="
          fullProposalForm.get(
            'permitsRegulationsAndStandards.professionalGuidance'
          )?.value === true
        "
        [label]="t('professionals')"
        [rxFormControl]="
          fullProposalForm.get('permitsRegulationsAndStandards.professionals')
        "
        controlType="array"
        [translate]="false"
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('professionalGuidanceComments')"
        [rxFormControl]="
          fullProposalForm.get(
            'permitsRegulationsAndStandards.professionalGuidanceComments'
          )
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('knowledgeHolders')"
        [rxFormControl]="
          fullProposalForm.get(
            'permitsRegulationsAndStandards.knowledgeHolders'
          )
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('meetsRegulatoryRequirements')"
        [rxFormControl]="
          fullProposalForm.get(
            'permitsRegulationsAndStandards.meetsRegulatoryRequirements'
          )
        "
        controlType="radio"
      >
      </drr-summary-item>
      <drr-summary-item
        [label]="t('meetsRegulatoryComments')"
        [rxFormControl]="
          fullProposalForm.get(
            'permitsRegulationsAndStandards.meetsRegulatoryComments'
          )
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('meetsEligibilityRequirements')"
        [rxFormControl]="
          fullProposalForm.get(
            'permitsRegulationsAndStandards.meetsEligibilityRequirements'
          )
        "
        controlType="radio"
      >
      </drr-summary-item>

      <div
        *ngIf="
          fullProposalForm.get(
            'permitsRegulationsAndStandards.meetsEligibilityRequirements'
          )?.value === true
        "
      >
        <mat-label class="drr-label">{{ t("permits") }}</mat-label>
        <div
          class="summary-row"
          *ngFor="
            let permit of getFormArray(
              'permitsRegulationsAndStandards',
              'permits'
            );
            let i = index
          "
        >
          <mat-label>{{ permit }}</mat-label>
        </div>
      </div>

      <drr-summary-item
        [label]="t('meetsEligibilityComments')"
        [rxFormControl]="
          fullProposalForm.get(
            'permitsRegulationsAndStandards.meetsEligibilityComments'
          )
        "
      >
      </drr-summary-item>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ t("steps.fp.step8") }}</mat-card-title>
      <mat-card-subtitle>Step 8</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <drr-summary-item
        [label]="t('publicBenefit')"
        [rxFormControl]="fullProposalForm.get('projectOutcomes.publicBenefit')"
        controlType="radio"
      >
      </drr-summary-item>
      <drr-summary-item
        [label]="t('publicBenefitComments')"
        [rxFormControl]="
          fullProposalForm.get('projectOutcomes.publicBenefitComments')
        "
      >
      </drr-summary-item>
      <drr-summary-item
        [label]="t('costReduction')"
        [rxFormControl]="
          fullProposalForm.get('projectOutcomes.futureCostReduction')
        "
        controlType="radio"
      >
      </drr-summary-item>
      @if (fullProposalForm.get('projectOutcomes.futureCostReduction')?.value
      === true) {
      <drr-summary-item
        [label]="t('costReductions')"
        [rxFormControl]="fullProposalForm.get('projectOutcomes.costReductions')"
        controlType="array"
        [translate]="false"
      >
      </drr-summary-item>
      <drr-summary-item
        [label]="t('costReductionComments')"
        [rxFormControl]="
          fullProposalForm.get('projectOutcomes.costReductionComments')
        "
      >
      </drr-summary-item>
      }

      <drr-summary-item
        [label]="t('produceCoBenefits')"
        [rxFormControl]="
          fullProposalForm.get('projectOutcomes.produceCoBenefits')
        "
        controlType="radio"
      ></drr-summary-item>
      @if(fullProposalForm.get('projectOutcomes.produceCoBenefits')?.value ===
      true) {
      <drr-summary-item
        [label]="t('coBenefits')"
        [rxFormControl]="fullProposalForm.get('projectOutcomes.coBenefits')"
        controlType="array"
        [translate]="false"
      >
      </drr-summary-item>
      <drr-summary-item
        [label]="t('coBenefitComments')"
        [rxFormControl]="
          fullProposalForm.get('projectOutcomes.coBenefitComments')
        "
      ></drr-summary-item>
      }

      <drr-summary-item
        [label]="t('increasedResiliency')"
        [rxFormControl]="
          fullProposalForm.get('projectOutcomes.increasedResiliency')
        "
        controlType="array"
        [translate]="false"
      ></drr-summary-item>
      <drr-summary-item
        [label]="t('increasedResiliencyComments')"
        [rxFormControl]="
          fullProposalForm.get('projectOutcomes.increasedResiliencyComments')
        "
      ></drr-summary-item>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ t("steps.fp.step9") }}</mat-card-title>
      <mat-card-subtitle>Step 9</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <drr-summary-item
        [label]="t('complexityRiskMitigated')"
        [rxFormControl]="
          fullProposalForm.get('projectRisks.complexityRiskMitigated')
        "
        controlType="radio"
      ></drr-summary-item>
      @if (fullProposalForm.get('projectRisks.complexityRiskMitigated')?.value
      === true) {

      <drr-summary-item
        [label]="t('complexityRisks')"
        [rxFormControl]="fullProposalForm.get('projectRisks.complexityRisks')"
        controlType="array"
        [translate]="false"
      ></drr-summary-item>
      <drr-summary-item
        [label]="t('complexityRiskComments')"
        [rxFormControl]="
          fullProposalForm.get('projectRisks.complexityRiskComments')
        "
      ></drr-summary-item
      >}
      <drr-summary-item
        [label]="t('readinessRiskMitigated')"
        [rxFormControl]="
          fullProposalForm.get('projectRisks.readinessRiskMitigated')
        "
        controlType="radio"
      ></drr-summary-item>
      @if (fullProposalForm.get('projectRisks.readinessRiskMitigated')?.value
      === true) {
      <drr-summary-item
        [label]="t('readinessRisks')"
        [rxFormControl]="fullProposalForm.get('projectRisks.readinessRisks')"
        controlType="array"
        [translate]="false"
      ></drr-summary-item>
      <drr-summary-item
        [label]="t('readinessRiskComments')"
        [rxFormControl]="
          fullProposalForm.get('projectRisks.readinessRiskComments')
        "
      ></drr-summary-item>
      }

      <drr-summary-item
        [label]="t('sensitivityRiskMitigated')"
        [rxFormControl]="
          fullProposalForm.get('projectRisks.sensitivityRiskMitigated')
        "
        controlType="radio"
      ></drr-summary-item>
      @if (fullProposalForm.get('projectRisks.sensitivityRiskMitigated')?.value
      === true) {
      <drr-summary-item
        [label]="t('sensitivityRisks')"
        [rxFormControl]="fullProposalForm.get('projectRisks.sensitivityRisks')"
        controlType="array"
        [translate]="false"
      ></drr-summary-item>
      <drr-summary-item
        [label]="t('sensitivityRiskComments')"
        [rxFormControl]="
          fullProposalForm.get('projectRisks.sensitivityRiskComments')
        "
      ></drr-summary-item>
      }
      <drr-summary-item
        [label]="t('capacityRiskMitigated')"
        [rxFormControl]="
          fullProposalForm.get('projectRisks.capacityRiskMitigated')
        "
        controlType="radio"
      ></drr-summary-item>
      @if (fullProposalForm.get('projectRisks.capacityRiskMitigated')?.value ===
      true) {
      <drr-summary-item
        [label]="t('capacityRisks')"
        [rxFormControl]="fullProposalForm.get('projectRisks.capacityRisks')"
        controlType="array"
        [translate]="false"
      ></drr-summary-item>
      <drr-summary-item
        [label]="t('capacityRiskComments')"
        [rxFormControl]="
          fullProposalForm.get('projectRisks.capacityRiskComments')
        "
      ></drr-summary-item>
      }
      <drr-summary-item
        [label]="t('riskTransferMigigated')"
        [rxFormControl]="
          fullProposalForm.get('projectRisks.riskTransferMigigated')
        "
        controlType="radio"
      ></drr-summary-item>
      @if (fullProposalForm.get('projectRisks.riskTransferMigigated')?.value ===
      true) {
      <drr-summary-item
        [label]="t('increasedOrTransferred')"
        [rxFormControl]="
          fullProposalForm.get('projectRisks.increasedOrTransferred')
        "
        controlType="array"
        [translate]="false"
      ></drr-summary-item>
      <drr-summary-item
        [label]="t('increasedOrTransferredComments')"
        [rxFormControl]="
          fullProposalForm.get('projectRisks.increasedOrTransferredComments')
        "
      ></drr-summary-item>
      }
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ t("steps.fp.step10") }}</mat-card-title>
      <mat-card-subtitle>Step 10</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <drr-summary-item
        [label]="t('totalProjectCost')"
        [rxFormControl]="fullProposalForm.get('budget.totalProjectCost')"
        controlType="currency"
      >
      </drr-summary-item>
      <drr-summary-item
        [label]="t('eligibleFundingRequest')"
        [rxFormControl]="fullProposalForm.get('budget.eligibleFundingRequest')"
        controlType="currency"
      >
      </drr-summary-item>
      <mat-label class="drr-label">{{
        t("yearOverYearFundingRequest")
      }}</mat-label>
      <div
        class="summary-row"
        *ngFor="
          let control of getRxFormArrayControls('budget', 'yearOverYearFunding')
        "
      >
        <drr-summary-item
          [label]="t('fiscalYear')"
          [rxFormControl]="control.get('year')"
        >
        </drr-summary-item>
        <drr-summary-item
          [label]="t('amount')"
          [rxFormControl]="control.get('amount')"
          controlType="currency"
        >
        </drr-summary-item>
      </div>
      <drr-summary-item
        [label]="t('totalDrifFundingRequest')"
        [rxFormControl]="fullProposalForm.get('budget.totalDrifFundingRequest')"
        controlType="currency"
      >
      </drr-summary-item>
      <drr-summary-item
        [label]="t('discrepancyComment')"
        [rxFormControl]="fullProposalForm.get('budget.discrepancyComment')"
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('haveOtherFunding')"
        [rxFormControl]="fullProposalForm.get('budget.haveOtherFunding')"
        controlType="radio"
      >
      </drr-summary-item>

      <mat-label class="drr-label">{{ t("otherFunding") }}</mat-label>
      <div
        class="summary-row"
        *ngFor="
          let otherFunding of getRxFormArrayControls('budget', 'otherFunding')
        "
      >
        <drr-summary-item
          [label]="t('amount')"
          [value]="otherFunding.get('amount')?.value | currency"
          [rxFormControl]="otherFunding.get('amount')"
        >
        </drr-summary-item>

        <drr-summary-item
          [label]="t('name')"
          [value]="otherFunding.get('name')?.value"
          [rxFormControl]="otherFunding.get('name')"
        >
        </drr-summary-item>

        <drr-summary-item
          [label]="t('type')"
          [value]="t(otherFunding.get('type')?.value)"
          [rxFormControl]="otherFunding.get('type')"
        >
        </drr-summary-item>

        <drr-summary-item
          [label]="t('otherDescription')"
          [value]="otherFunding.get('otherDescription')?.value"
          [rxFormControl]="otherFunding.get('otherDescription')"
          *ngIf="otherFunding.get('type')?.value === 'OtherGrants'"
        >
        </drr-summary-item>
      </div>

      <drr-summary-item
        [label]="
          fullProposalForm.get('budget.remainingAmount')?.value > 0
            ? t('missingFundsLabel')
            : t('excessFundingLabel')
        "
        [rxFormControl]="fullProposalForm.get('budget.remainingAmount')"
        [style.color]="
          fullProposalForm.get('budget.remainingAmount')?.value < 0
            ? 'red'
            : 'initial'
        "
        controlType="currency"
      >
      </drr-summary-item>

      <drr-summary-item
        *ngIf="fullProposalForm.get('budget.remainingAmount')?.value > 0"
        [label]="t('intendToSecureFunding')"
        [rxFormControl]="fullProposalForm.get('budget.intendToSecureFunding')"
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('costEffectiveComments')"
        [rxFormControl]="fullProposalForm.get('budget.costEffectiveComments')"
      ></drr-summary-item>

      <drr-summary-item
        [label]="t('previousResponseQuestion')"
        [rxFormControl]="fullProposalForm.get('budget.previousResponse')"
        [value]="getPreviousResponseValue()"
        controlType="radio"
        [translate]="false"
      ></drr-summary-item>

      <drr-summary-item
        *ngIf="fullProposalForm.get('budget.previousResponse')?.value === 'Yes'"
        [label]="t('previousResponseCost')"
        [rxFormControl]="fullProposalForm.get('budget.previousResponseCost')"
        controlType="currency"
      ></drr-summary-item>

      <drr-summary-item
        *ngIf="
          fullProposalForm.get('budget.previousResponse')?.value === 'Yes' ||
          fullProposalForm.get('budget.previousResponse')?.value ===
            'NotApplicable'
        "
        [label]="t('previousResponseComments')"
        [rxFormControl]="
          fullProposalForm.get('budget.previousResponseComments')
        "
      ></drr-summary-item>

      <drr-summary-item
        [label]="t('costConsiderationsApplied')"
        [rxFormControl]="
          fullProposalForm.get('budget.costConsiderationsApplied')
        "
        controlType="radio"
      ></drr-summary-item>

      <drr-summary-item
        [label]="t('costConsiderationsQuestions')"
        [rxFormControl]="fullProposalForm.get('budget.costConsiderations')"
        controlType="array"
        [translate]="false"
      ></drr-summary-item>

      <drr-summary-item
        [label]="t('costConsiderationsComments')"
        [rxFormControl]="
          fullProposalForm.get('budget.costConsiderationsComments')
        "
      ></drr-summary-item>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ t("steps.fp.step11") }}</mat-card-title>
      <mat-card-subtitle>Step 11</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-label class="drr-label">{{
          t("attachments.DetailedCostEstimate")
        }}</mat-label>
        @if (getAttachmentByDocumentType('DetailedCostEstimate')) {
        <div class="summary-row attachment">
          <drr-summary-item
            [label]="t('attachments.name')"
            [rxFormControl]="
              getAttachmentByDocumentType('DetailedCostEstimate').get('name')
            "
          >
          </drr-summary-item>
          <drr-summary-item
            [label]="t('attachments.comments')"
            [rxFormControl]="
              getAttachmentByDocumentType('DetailedCostEstimate').get(
                'comments'
              )
            "
          >
          </drr-summary-item>
          <button
            *ngIf="isReadOnlyView"
            style="align-self: center"
            mat-button
            color="primary"
            (click)="
              onDownloadFile(
                getAttachmentByDocumentType('DetailedCostEstimate').get('id')
                  ?.value
              )
            "
          >
            Download
          </button>
        </div>
        } @else {
        <div [class.required]="isAttachmentRequired('DetailedCostEstimate')">
          ({{
            isAttachmentRequired("DetailedCostEstimate")
              ? "Required"
              : "Optional"
          }})
        </div>
        }
      </div>
      <div>
        <mat-label class="drr-label">{{ t("attachments.SitePlan") }}</mat-label>
        @if (getAttachmentByDocumentType('SitePlan')) {
        <div class="summary-row attachment">
          <drr-summary-item
            [label]="t('attachments.name')"
            [rxFormControl]="
              getAttachmentByDocumentType('SitePlan').get('name')
            "
          >
          </drr-summary-item>
          <drr-summary-item
            [label]="t('attachments.comments')"
            [rxFormControl]="
              getAttachmentByDocumentType('SitePlan').get('comments')
            "
          >
          </drr-summary-item>
          <button
            *ngIf="isReadOnlyView"
            style="align-self: center"
            mat-button
            color="primary"
            (click)="
              onDownloadFile(
                getAttachmentByDocumentType('SitePlan').get('id')?.value
              )
            "
          >
            Download
          </button>
        </div>
        } @else {
        <div [class.required]="isAttachmentRequired('SitePlan')">
          ({{ isAttachmentRequired("SitePlan") ? "Required" : "Optional" }})
        </div>
        }
      </div>
      <div>
        <mat-label class="drr-label">{{
          t("attachments.PreliminaryDesign")
        }}</mat-label>
        @if (getAttachmentByDocumentType('PreliminaryDesign')) {
        <div class="summary-row attachment">
          <drr-summary-item
            [label]="t('attachments.name')"
            [rxFormControl]="
              getAttachmentByDocumentType('PreliminaryDesign').get('name')
            "
          >
          </drr-summary-item>
          <drr-summary-item
            [label]="t('attachments.comments')"
            [rxFormControl]="
              getAttachmentByDocumentType('PreliminaryDesign').get('comments')
            "
          >
          </drr-summary-item>
          <button
            *ngIf="isReadOnlyView"
            style="align-self: center"
            mat-button
            color="primary"
            (click)="
              onDownloadFile(
                getAttachmentByDocumentType('PreliminaryDesign').get('id')
                  ?.value
              )
            "
          >
            Download
          </button>
        </div>
        } @else {
        <div [class.required]="isAttachmentRequired('PreliminaryDesign')">
          ({{
            isAttachmentRequired("PreliminaryDesign") ? "Required" : "Optional"
          }})
        </div>
        }
      </div>
      <drr-summary-item
        [label]="t('attachments.haveResolutionSummary')"
        [rxFormControl]="fullProposalForm.get('attachments.haveResolution')"
        controlType="radio"
      ></drr-summary-item>
      @if (gethaveResolutionDocument()) {
      <div>
        <mat-label class="drr-label">{{
          t("attachments.resolutionDocument")
        }}</mat-label>
        @if (getAttachmentByDocumentType('Resolution')) {
        <div class="summary-row attachment">
          <drr-summary-item
            [label]="t('attachments.name')"
            [rxFormControl]="
              getAttachmentByDocumentType('Resolution').get('name')
            "
          >
          </drr-summary-item>
          <drr-summary-item
            [label]="t('attachments.comments')"
            [rxFormControl]="
              getAttachmentByDocumentType('Resolution').get('comments')
            "
          >
          </drr-summary-item>
          <button
            *ngIf="isReadOnlyView"
            style="align-self: center"
            mat-button
            color="primary"
            (click)="
              onDownloadFile(
                getAttachmentByDocumentType('Resolution').get('id')?.value
              )
            "
          >
            Download
          </button>
        </div>
        } @else {
        <div [class.required]="isAttachmentRequired('Resolution')">
          ({{ isAttachmentRequired("Resolution") ? "Required" : "Optional" }})
        </div>
        }
      </div>
      }
      <div style="display: flex; flex-direction: column">
        <mat-label class="drr-label">{{
          t("attachments.otherSupportingDocumentation")
        }}</mat-label>
        @if (getOtherAttachmentsArrayControls().length == 0) {
        <mat-label>(Optional)</mat-label>
        }
        <div
          class="summary-row"
          *ngFor="let attachment of getOtherAttachmentsArrayControls()"
        >
          <drr-summary-item
            [label]="t('attachments.name')"
            [rxFormControl]="attachment.get('name')"
          >
          </drr-summary-item>
          <drr-summary-item
            [label]="t('attachments.comments')"
            [rxFormControl]="attachment.get('comments')"
          >
          </drr-summary-item>
          <button
            *ngIf="isReadOnlyView"
            style="align-self: center"
            mat-button
            color="primary"
            (click)="onDownloadFile(attachment.get('id')?.value)"
          >
            Download
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="isReadOnlyView">
    <mat-card-header>
      <mat-card-title>{{ t("steps.fp.step12") }}</mat-card-title>
      <mat-card-subtitle>Step 12</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div
        [class.required]="
          !objectHasValues(fullProposalForm.get('declaration.submitter')?.value)
        "
      >
        <mat-label class="drr-label">{{ t("submitter") }}</mat-label>
        <div class="summary-row">
          <drr-summary-item
            [label]="t('firstName')"
            [rxFormControl]="
              fullProposalForm.get('declaration.submitter.firstName')
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('lastName')"
            [rxFormControl]="
              fullProposalForm.get('declaration.submitter.lastName')
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('title')"
            [rxFormControl]="
              fullProposalForm.get('declaration.submitter.title')
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('department')"
            [rxFormControl]="
              fullProposalForm.get('declaration.submitter.department')
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('phone')"
            [rxFormControl]="
              fullProposalForm.get('declaration.submitter.phone')
            "
            controlType="phone"
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('email')"
            [rxFormControl]="
              fullProposalForm.get('declaration.submitter.email')
            "
          >
          </drr-summary-item>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
