<div class="drr-step-container" *transloco="let t">
  <form [formGroup]="projectPlanForm">
    <span style="display: flex; align-items: center">
      <mat-icon style="font-size: 1.5rem" [inline]="true" color="primary"
        >info</mat-icon
      >
      <i style="margin-left: 1rem">{{ t("projectPlanDisclaimer") }}</i>
    </span>
    <mat-label class="drr-label" style="margin-top: 1rem">{{
      t("projectDates")
    }}</mat-label>
    <div class="project-dates-container">
      <drr-datepicker
        [label]="t('startDate')"
        [rxFormControl]="projectPlanForm.get('startDate')"
        [min]="minStartDate"
        [minErrorLabel]="t('minStartDateError')"
      ></drr-datepicker>

      <drr-datepicker
        [label]="t('endDate')"
        [rxFormControl]="projectPlanForm.get('endDate')"
        [min]="getNextDayAfterStartDate()"
        [minErrorLabel]="t('minEndDateAfterError')"
      ></drr-datepicker>
    </div>

    <mat-label class="drr-label" style="margin-top: 1rem">{{
      t("projectDescription")
    }}</mat-label>
    <drr-textarea
      [label]="t('projectDescriptionText')"
      [maxlength]="2000"
      [rxFormControl]="projectPlanForm.get('projectDescription')"
    ></drr-textarea>

    <mat-label class="drr-label">{{ t("proposedActivities") }}</mat-label>
    <mat-label>{{ t("proposedActivitiesText") }}</mat-label>
    <span style="display: flex; align-items: center">
      <i>
        Use the section below to provide a high-level summary of your workplan.
        For each activity, select the activity type then add the related
        details. Each end date represents a milestone for your project. If you
        have questions about which activities to include, please contact
        <a href="mailto:EMCR.DisasterMitigation@gov.bc.ca"
          >EMCR.DisasterMitigation&#64;gov.bc.ca</a
        >.
      </i>
    </span>
    <div class="proposed-activity-container">
      <div
        *ngFor="let activity of getPreDefinedActivitiesArray(); let i = index"
        style="margin-top: 1rem; width: 100%"
      >
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              {{ t("activityType." + activity.get("name")?.value) }}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content
            style="display: flex; flex-direction: column; gap: 1rem"
          >
            <div style="display: flex; gap: 1rem; margin-top: 1rem">
              <drr-datepicker
                style="width: 24%"
                [label]="t('activityStartDate')"
                [rxFormControl]="activity.get('startDate')"
                [min]="minStartDate"
                [minErrorLabel]="t('minStartDateError')"
              ></drr-datepicker>
              <drr-datepicker
                style="width: 24%"
                [label]="t('activityEndDate')"
                [rxFormControl]="activity.get('endDate')"
                [min]="activity.get('startDate')?.value"
                [minErrorLabel]="t('minEndDateNotBeforeError')"
              ></drr-datepicker>
            </div>
            <div style="display: flex; gap: 1rem">
              <drr-input
                style="width: 50%"
                [label]="t('tasks')"
                [rxFormControl]="activity.get('tasks')"
                [maxlength]="200"
              ></drr-input>
              <drr-input
                style="width: 50%"
                [label]="t('deliverables')"
                [rxFormControl]="activity.get('deliverables')"
                [maxlength]="200"
              ></drr-input>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <mat-label class="drr-label" style="margin-top: 2rem">{{
      t("additionalActivities")
    }}</mat-label>
    <div class="proposed-activity-container">
      <div
        *ngFor="let activity of getAdditionalActivitiesArray(); let i = index"
        style="width: 100%"
      >
        <mat-card>
          <mat-card-header>
            <mat-card-subtitle
              >{{ t("activity") }} {{ i + 1 }}</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-content style="display: flex; flex-direction: column">
            <div
              style="
                display: flex;
                justify-content: space-between;
                gap: 1rem;
                margin-top: 1rem;
              "
            >
              <drr-select
                style="width: 50%"
                [label]="t('activityName')"
                [rxFormControl]="activity.get('name')"
                [options]="activityOptions"
              ></drr-select>
              @if (showStartDate(activity.get('name')?.value))
              {
              <drr-datepicker
                style="width: 24%"
                [label]="t('activityStartDate')"
                [rxFormControl]="activity.get('startDate')"
                [min]="minStartDate"
                [minErrorLabel]="t('minStartDateError')"
              ></drr-datepicker
              >}
              <drr-datepicker
                style="width: 24%"
                [label]="t('activityEndDate')"
                [rxFormControl]="activity.get('endDate')"
                [min]="activity.get('startDate')?.value"
                [minErrorLabel]="t('minEndDateNotBeforeError')"
              ></drr-datepicker>
            </div>
            <div
              style="display: flex; justify-content: space-between; gap: 1rem"
            >
              <drr-input
                class="drr-single-input"
                [label]="t('tasks')"
                [rxFormControl]="activity.get('tasks')"
                [maxlength]="200"
              ></drr-input>
              <drr-input
                class="drr-single-input"
                [label]="t('deliverables')"
                [rxFormControl]="activity.get('deliverables')"
                [maxlength]="200"
              ></drr-input>
            </div>
            <mat-card-actions align="end">
              <button
                mat-stroked-button
                color="warn"
                (click)="removeActivity(i)"
                type="button"
              >
                {{ t("delete") }}
              </button>
            </mat-card-actions>
          </mat-card-content>
        </mat-card>
      </div>

      <button
        (click)="addActivity()"
        mat-stroked-button
        type="button"
        color="primary"
      >
        <mat-icon>add</mat-icon>
        {{ t("addActivity") }}
      </button>
    </div>

    <mat-label class="drr-label" style="margin-top: 1rem">{{
      t("rationaleForSolution")
    }}</mat-label>
    <drr-chip-autocomplete
      [label]="t('rationaleForSolutionText')"
      [placeholder]="t('autocompletePlaceholder')"
      [rxFormControl]="projectPlanForm.get('foundationalOrPreviousWorks')"
      [options]="verificationMethodOptions"
    ></drr-chip-autocomplete>
    <drr-textarea
      [label]="t('foundationalOrPreviousWorksComments')"
      [maxlength]="2000"
      [rxFormControl]="projectPlanForm.get('howWasNeedIdentified')"
    ></drr-textarea>

    <mat-label class="drr-label" style="margin-top: 1rem">{{
      t("mitigation")
    }}</mat-label>
    <drr-textarea
      [label]="t('addressRisksAndHazards')"
      [maxlength]="2000"
      [rxFormControl]="projectPlanForm.get('addressRisksAndHazards')"
    >
    </drr-textarea>

    <mat-label class="drr-label" style="margin-top: 1rem">{{
      t("disasterRiskReduction")
    }}</mat-label>
    <drr-textarea
      [label]="t('disasterRiskUnderstanding')"
      [maxlength]="2000"
      [rxFormControl]="projectPlanForm.get('disasterRiskUnderstanding')"
    ></drr-textarea>

    <mat-label class="drr-label" style="margin-top: 1rem">{{
      t("rationaleForFunding")
    }}</mat-label>
    <drr-textarea
      [label]="t('rationaleForFundingText')"
      [maxlength]="2000"
      [rxFormControl]="projectPlanForm.get('rationaleForFunding')"
    ></drr-textarea>

    <mat-label class="drr-label">{{ t("projectAlternates") }}</mat-label>
    <drr-textarea
      [label]="t('projectAlternatesText')"
      [maxlength]="2000"
      [rxFormControl]="projectPlanForm.get('projectAlternateOptions')"
    ></drr-textarea>
  </form>
</div>
