.summary-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 2rem;
}

.drr-summary-value {
  margin-left: 1rem;
}

.required {
  color: red;
}
