<div class="drr-step-container" *transloco="let t">
  <form [formGroup]="eoiApplicationForm">
    <mat-label class="drr-label">{{ t("ownershipDeclaration") }}</mat-label>
    <mat-label>{{ t("ownershipDeclarationText") }}</mat-label>
    <mat-radio-group
      id="ownershipDeclaration"
      class="drr-radio-group"
      aria-label="Select an option"
      formControlName="ownershipDeclaration"
    >
      <mat-error
        *ngIf="
          eoiApplicationForm.get('ownershipDeclaration')?.touched &&
          eoiApplicationForm.get('ownershipDeclaration')?.hasError('required')
        "
        >{{ t("required") }}</mat-error
      >
      <mat-radio-button [value]="true">Yes</mat-radio-button>
      <mat-radio-button [value]="false">No</mat-radio-button>
    </mat-radio-group>
    <mat-form-field style="margin-left: 20px">
      <mat-label> {{ t("ownershipDescription") }}</mat-label>
      <textarea
        id="ownershipDescription"
        matInput
        formControlName="ownershipDescription"
      ></textarea>
    </mat-form-field>
    <mat-label class="drr-label" style="margin-bottom: 10px">{{
      t("locationDescription")
    }}</mat-label>
    <mat-form-field>
      <mat-label> {{ t("locationAddress") }}</mat-label>
      <textarea
        id="locationDescription"
        matInput
        formControlName="locationDescription"
        maxlength="locationDescriptionMax"
      ></textarea>
      <mat-hint align="end"
        >{{ getCount() }} / {{ locationDescriptionMax }}</mat-hint
      >
    </mat-form-field>
  </form>
</div>
