<div class="drr-step-container" *transloco="let t">
  <mat-label class="drr-label">{{ t("ownershipDeclaration") }}</mat-label>
  <mat-label>{{ t("ownershipDeclarationText") }}</mat-label>
  <mat-radio-group
    id="ownershipDeclaration"
    class="drr-radio-group"
    aria-label="Select an option"
    [formControl]="getFormControl('ownershipDeclaration')"
  >
    <mat-error
      *ngIf="
        locationInformationForm.get('ownershipDeclaration')?.touched &&
        locationInformationForm
          .get('ownershipDeclaration')
          ?.hasError('required')
      "
      >{{ t("required") }}</mat-error
    >
    <mat-radio-button [value]="true">Yes</mat-radio-button>
    <mat-radio-button [value]="false">No</mat-radio-button>
  </mat-radio-group>

  <drr-textarea
    *ngIf="getFormControl('ownershipDeclaration').value === false"
    [id]="'ownershipDescription'"
    [label]="t('ownershipDescription')"
    [maxlength]="2000"
    [rxFormControl]="getFormControl('ownershipDescription')"
  ></drr-textarea>

  <mat-label class="drr-label" style="margin-bottom: 10px">{{
    t("locationDescription")
  }}</mat-label>
  <drr-textarea
    [id]="'locationDescription'"
    [label]="t('locationDescription')"
    [maxlength]="2000"
    [rxFormControl]="getFormControl('locationDescription')"
  ></drr-textarea>
</div>
