<div class="drr-step-container">
  <form [formGroup]="eoiApplicationForm">
    <mat-label class="drr-label">Ownership Declaration</mat-label>
    <mat-label
      >The project will be in BC on land that the applicant has legal access to
      either though ownership, right of way, or other at the time the Shared
      Cost Agreement is signed. You can provide context in the project area
      description question that follows.</mat-label
    >
    <mat-radio-group
      id="ownershipDeclaration"
      class="drr-radio-group"
      aria-label="Select an option"
      formControlName="ownershipDeclaration"
    >
      <mat-error
        *ngIf="
          eoiApplicationForm.get('ownershipDeclaration')?.dirty &&
          eoiApplicationForm.get('ownershipDeclaration')?.hasError('required')
        "
        >Required</mat-error
      >
      <mat-radio-button [value]="true">Yes</mat-radio-button>
      <mat-radio-button [value]="false">No</mat-radio-button>
    </mat-radio-group>
    <div
      class="location-information-container"
      formGroupName="locationInformation"
    >
      <mat-form-field>
        <mat-label>Location Description</mat-label>
        <mat-label>Include address if applicable</mat-label>
        <textarea
          id="locationDescription"
          matInput
          formControlName="description"
          maxlength="locationDescriptionMax"
        ></textarea>
        <mat-hint align="end"
          >{{ getCount() }} / {{ locationDescriptionMax }}</mat-hint
        >
      </mat-form-field>
      <mat-label class="drr-label">Size of Project Area</mat-label>
      <mat-form-field style="width: 50vw; margin-top: 10px">
        <mat-label>Size of Project Area</mat-label>
        <input id="locationArea" matInput formControlName="area" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Land Use/Ownership</mat-label>
        <textarea
          id="locationOwnership"
          matInput
          formControlName="ownership"
        ></textarea>
      </mat-form-field>
    </div>
  </form>
</div>
