<footer>
  <mat-toolbar>
    <mat-toolbar-row>
      <div class="footer-container" *transloco="let t">
        <div class="contact-info">
          <span
            >For disaster mitigation funding support, contact:
            <br />
            <a href="mailto: {{ t('supportEmail') }}"
              >{{ t("supportEmail") }}.</a
            >
          </span>
        </div>

        <div>
          <ul class="ul-direction">
            <li>
              <a
                class="link"
                href="https://www2.gov.bc.ca/gov/content/safety/emergency-management/local-emergency-programs/financial"
                title="Home"
                target="_blank"
                >Home</a
              >
            </li>
            <span class="divider"></span>
            <li>
              <a
                class="link"
                href="https://www2.gov.bc.ca/gov/content/about-gov-bc-ca"
                target="_blank"
                title="Goes to BC Gov Page"
              >
                About gov.bc.ca</a
              >
            </li>
            <span class="divider"></span>
            <li>
              <a
                class="link"
                href="https://www2.gov.bc.ca/gov/content/home/disclaimer"
                target="_blank"
                title="Goes to BC Gov Disclaimer Page"
                >Disclaimer</a
              >
            </li>
            <span class="divider"></span>
            <li>
              <a
                class="link"
                href="https://www2.gov.bc.ca/gov/content/home/privacy"
                target="_blank"
                title="Goes to BC Gov Privacy Page"
                >Privacy</a
              >
            </li>
            <span class="divider"></span>
            <li>
              <a
                class="link"
                href="https://www2.gov.bc.ca/gov/content/home/accessibility"
                target="_blank"
                title="Goes to BC Gov Accessibility Page"
                >Accessibility</a
              >
            </li>
            <span class="divider"></span>
            <li>
              <a
                class="link"
                href="https://www2.gov.bc.ca/gov/content/home/copyright"
                target="_blank"
                title="Goes to BC Gov Copyright Page"
                >Copyright</a
              >
            </li>
            <span class="divider"></span>
            <li>
              <a
                class="link"
                href="https://www2.gov.bc.ca/gov/content/safety/emergency-management/local-emergency-programs/financial"
                target="_blank"
                title="Goes to BC Gov Contact Page"
                >About Funding Programs</a
              >
            </li>
          </ul>
        </div>

        <div class="version-info">
          <div *ngIf="uiVersion">UI v{{ uiVersion }}</div>
          <div *ngIf="uiVersion">API v{{ apiVersion }}</div>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</footer>
