<div class="summary-container" *transloco="let t">
  <div class="summary-item" *ngIf="eoiApplication?.proponentType">
    <mat-label class="drr-label">{{ t("proponentType") }}</mat-label>
    <mat-label>{{ eoiApplication?.proponentType }}</mat-label>
  </div>
  <div class="summary-item" *ngIf="eoiApplication?.proponentName">
    <mat-label class="drr-label">{{ t("proponentName") }}</mat-label>
    <mat-label>{{ eoiApplication?.proponentName }}</mat-label>
  </div>
  <div class="summary-group" *ngIf="objectHasValues(eoiApplication?.submitter)">
    <mat-label class="drr-label">{{
      t("submitterContactInformation")
    }}</mat-label>

    <div class="summary-row">
      <div class="summary-item">
        <mat-label class="drr-label">{{ t("firstName") }}</mat-label>
        <mat-label>{{ eoiApplication?.submitter?.firstName }}</mat-label>
      </div>

      <div class="summary-item">
        <mat-label class="drr-label">{{ t("lastName") }}</mat-label>
        <mat-label>{{ eoiApplication?.submitter?.lastName }}</mat-label>
      </div>

      <div class="summary-item">
        <mat-label class="drr-label">{{ t("title") }}</mat-label>
        <mat-label>{{ eoiApplication?.submitter?.title }}</mat-label>
      </div>

      <div class="summary-item">
        <mat-label class="drr-label">{{ t("department") }}</mat-label>
        <mat-label>{{ eoiApplication?.submitter?.department }}</mat-label>
      </div>

      <div class="summary-item">
        <mat-label class="drr-label">{{ t("phone") }}</mat-label>
        <mat-label>{{ eoiApplication?.submitter?.phone }}</mat-label>
      </div>

      <div class="summary-item">
        <mat-label class="drr-label">{{ t("email") }}</mat-label>
        <mat-label>{{ eoiApplication?.submitter?.email }}</mat-label>
      </div>
    </div>
  </div>

  <div
    class="summary-group"
    *ngIf="arrayHasValues(eoiApplication?.additionalContacts!)"
  >
    <mat-label class="drr-label">{{
      t("projectContactInformation")
    }}</mat-label>
    <div
      class="summary-row"
      *ngFor="let projectContact of eoiApplication?.additionalContacts"
    >
      <div class="summary-item">
        <mat-label class="drr-label">{{ t("firstName") }}</mat-label>
        <mat-label>{{ projectContact?.firstName }}</mat-label>
      </div>

      <div class="summary-item">
        <mat-label class="drr-label">{{ t("lastName") }}</mat-label>
        <mat-label>{{ projectContact?.lastName }}</mat-label>
      </div>

      <div class="summary-item">
        <mat-label class="drr-label">{{ t("title") }}</mat-label>
        <mat-label>{{ projectContact?.title }}</mat-label>
      </div>

      <div class="summary-item">
        <mat-label class="drr-label">{{ t("department") }}</mat-label>
        <mat-label>{{ projectContact?.department }}</mat-label>
      </div>

      <div class="summary-item">
        <mat-label class="drr-label">{{ t("phone") }}</mat-label>
        <mat-label>{{ projectContact?.phone }}</mat-label>
      </div>

      <div class="summary-item">
        <mat-label class="drr-label">{{ t("email") }}</mat-label>
        <mat-label>{{ projectContact?.email }}</mat-label>
      </div>
    </div>
  </div>

  <div class="summary-item" *ngIf="eoiApplication?.projectTitle">
    <mat-label class="drr-label">{{ t("projectTitle") }}</mat-label>
    <mat-label>{{ eoiApplication?.projectTitle }}</mat-label>
  </div>

  <div class="summary-item" *ngIf="eoiApplication?.projectType">
    <mat-label class="drr-label">{{ t("projectType") }}</mat-label>
    <mat-label>{{ eoiApplication?.projectType }}</mat-label>
  </div>

  <div class="summary-item" *ngIf="eoiApplication?.relatedHazards?.length">
    <mat-label class="drr-label">{{ t("relatedHazards") }}</mat-label>
    <mat-label>{{ eoiApplication?.relatedHazards?.join(", ") }}</mat-label>
    <mat-label *ngIf="eoiApplication?.otherHazardsDescription">
      {{ eoiApplication?.otherHazardsDescription }}
    </mat-label>
  </div>

  <div class="summary-item" *ngIf="eoiApplication?.startDate">
    <mat-label class="drr-label">{{ t("startDate") }}</mat-label>
    <mat-label>{{ eoiApplication?.startDate | date : "mediumDate" }}</mat-label>
  </div>

  <div class="summary-item" *ngIf="eoiApplication?.endDate">
    <mat-label class="drr-label">{{ t("endDate") }}</mat-label>
    <mat-label>{{ eoiApplication?.endDate | date : "mediumDate" }}</mat-label>
  </div>

  <div class="summary-item" *ngIf="eoiApplication?.fundingRequest">
    <mat-label class="drr-label">{{ t("fundingRequest") }}</mat-label>
    <mat-label>{{ eoiApplication?.fundingRequest | currency }}</mat-label>
  </div>

  <div
    class="summary-group"
    *ngIf="arrayHasValues(eoiApplication?.otherFunding!)"
  >
    <mat-label class="drr-label">{{ t("otherFundingSources") }}</mat-label>
    <div
      class="summary-row"
      *ngFor="let funding of eoiApplication?.otherFunding"
    >
      <div class="summary-item">
        <mat-label class="drr-label">{{
          t("otherFundingSourcesName")
        }}</mat-label>
        <mat-label>{{ funding?.name }}</mat-label>
      </div>

      <div class="summary-item">
        <mat-label class="drr-label">{{
          t("otherFundingSourcesType")
        }}</mat-label>
        <mat-label>{{ funding?.type }}</mat-label>
      </div>

      <div class="summary-item">
        <mat-label class="drr-label">{{
          t("otherFundingSourcesAmount")
        }}</mat-label>
        <mat-label>{{ funding?.amount | currency }}</mat-label>
      </div>
    </div>
  </div>

  <div class="summary-item" *ngIf="eoiApplication?.remainingAmount">
    <mat-label class="drr-label">{{ t("remainingAmount") }}</mat-label>
    <mat-label>{{ eoiApplication?.remainingAmount | currency }}</mat-label>
  </div>

  <div class="summary-item" *ngIf="eoiApplication?.intendToSecureFunding">
    <mat-label class="drr-label">{{ t("intendToSecureFunding") }}</mat-label>
    <mat-label>{{ eoiApplication?.intendToSecureFunding }}</mat-label>
  </div>

  <div class="summary-item" *ngIf="eoiApplication?.ownershipDeclaration">
    <mat-label class="drr-label">{{ t("ownershipDeclaration") }}</mat-label>
    <mat-label>{{
      eoiApplication?.ownershipDeclaration ? "Yes" : "No"
    }}</mat-label>
  </div>

  <div class="summary-item">
    <mat-label *ngIf="eoiApplication?.locationDescription" class="drr-label">{{
      t("locationDescription")
    }}</mat-label>
    <mat-label>{{ eoiApplication?.locationDescription }}</mat-label>
  </div>

  <div class="summary-item" *ngIf="eoiApplication?.rationaleForFunding">
    <mat-label class="drr-label">{{ t("rationaleForFunding") }}</mat-label>
    <mat-label>{{ eoiApplication?.rationaleForFunding }}</mat-label>
  </div>

  <mat-label class="drr-label">{{ t("backgroundDescription") }}</mat-label>
  <div class="summary-item" *ngIf="eoiApplication?.descriptionOfRisk">
    <mat-label class="drr-label">{{ t("descriptionOfRisk") }}</mat-label>
    <mat-label>{{ eoiApplication?.descriptionOfRisk }}</mat-label>
  </div>

  <div class="summary-item" *ngIf="eoiApplication?.estimatedPeopleImpacted">
    <mat-label class="drr-label">{{ t("estimatedPeopleImpacted") }}</mat-label>
    <mat-label>{{ eoiApplication?.estimatedPeopleImpacted }}</mat-label>
  </div>
  <div class="summary-item" *ngIf="eoiApplication?.infrastructureImpacted">
    <mat-label class="drr-label">{{ t("infrastructureImpacted") }}</mat-label>
    <mat-label>{{ eoiApplication?.infrastructureImpacted }}</mat-label>
  </div>
  <div class="summary-item" *ngIf="eoiApplication?.disasterRiskUnderstanding">
    <mat-label class="drr-label">{{
      t("disasterRiskUnderstanding")
    }}</mat-label>
    <mat-label>{{ eoiApplication?.disasterRiskUnderstanding }}</mat-label>
  </div>
  <div
    class="summary-item"
    *ngIf="eoiApplication?.additionalBackgroundInformation"
  >
    <mat-label class="drr-label">{{
      t("additionalBackgroundInformation")
    }}</mat-label>
    <mat-label>{{ eoiApplication?.additionalBackgroundInformation }}</mat-label>
  </div>

  <div class="summary-item" *ngIf="eoiApplication?.addressRisksAndHazards">
    <mat-label class="drr-label">{{ t("addressRisksAndHazards") }}</mat-label>
    <mat-label>{{ eoiApplication?.addressRisksAndHazards }}</mat-label>
  </div>

  <div class="summary-item" *ngIf="eoiApplication?.drifProgramGoalAlignment">
    <mat-label class="drr-label">{{ t("drifProgramGoalAlignment") }}</mat-label>
    <mat-label>{{ eoiApplication?.drifProgramGoalAlignment }}</mat-label>
  </div>

  <div
    class="summary-item"
    *ngIf="eoiApplication?.additionalSolutionInformation"
  >
    <mat-label class="drr-label">{{
      t("additionalSolutionInformation")
    }}</mat-label>
    <mat-label>{{ eoiApplication?.additionalSolutionInformation }}</mat-label>
  </div>

  <div class="summary-item" *ngIf="eoiApplication?.rationaleForSolution">
    <mat-label class="drr-label">{{ t("rationaleForSolution") }}</mat-label>
    <mat-label>{{ eoiApplication?.rationaleForSolution }}</mat-label>
  </div>

  <div class="summary-item" *ngIf="eoiApplication?.firstNationsEngagement">
    <mat-label class="drr-label">{{ t("firstNationsEngagement") }}</mat-label>
    <mat-label>{{ eoiApplication?.firstNationsEngagement }}</mat-label>
  </div>
  <div class="summary-item" *ngIf="eoiApplication?.neighbourEngagement">
    <mat-label class="drr-label">{{ t("neighbourEngagement") }}</mat-label>
    <mat-label>{{ eoiApplication?.neighbourEngagement }}</mat-label>
  </div>
  <div
    class="summary-item"
    *ngIf="eoiApplication?.additionalEngagementInformation"
  >
    <mat-label class="drr-label">{{
      t("additionalEngagementInformation")
    }}</mat-label>
    <mat-label>{{ eoiApplication?.additionalEngagementInformation }}</mat-label>
  </div>

  <div class="summary-item" *ngIf="eoiApplication?.climateAdaptation">
    <mat-label class="drr-label">{{ t("climateAdaptation") }}</mat-label>
    <mat-label>{{ eoiApplication?.climateAdaptation }}</mat-label>
  </div>

  <div class="summary-item" *ngIf="eoiApplication?.otherInformation">
    <mat-label class="drr-label">{{ t("otherInformation") }}</mat-label>
    <mat-label>{{ eoiApplication?.otherInformation }}</mat-label>
  </div>
</div>
