<div class="drr-step-container" *transloco="let t">
  <form [formGroup]="permitsRegulationsAndStandardsForm">
    <mat-label class="drr-label">{{ t("approvals") }}</mat-label>
    <mat-label>{{ t("approvalsQuestion") }}*</mat-label>
    <drr-radio-button
      [rxFormControl]="permitsRegulationsAndStandardsForm.get('approvals')"
    ></drr-radio-button>

    <drr-textarea
      [label]="t('approvalsComments')"
      [maxlength]="2000"
      [rxFormControl]="
        permitsRegulationsAndStandardsForm.get('approvalsComments')
      "
      [useFloatingLabel]="false"
    ></drr-textarea>

    <mat-label class="drr-label">{{ t("professionalGuidance") }}</mat-label>
    <mat-label>{{ t("professionalGuidanceQuestion") }}*</mat-label>
    <drr-radio-button
      [rxFormControl]="
        permitsRegulationsAndStandardsForm.get('professionalGuidance')
      "
    ></drr-radio-button>

    <drr-chip-autocomplete
      [label]="t('professionals')"
      [placeholder]="t('professionalsPlaceholder')"
      [options]="professionalOptions"
      [rxFormControl]="permitsRegulationsAndStandardsForm.get('professionals')"
    ></drr-chip-autocomplete>

    <drr-textarea
      [label]="t('professionalGuidanceComments')"
      [maxlength]="2000"
      [rxFormControl]="
        permitsRegulationsAndStandardsForm.get('professionalGuidanceComments')
      "
      [useFloatingLabel]="false"
    ></drr-textarea>

    <mat-label class="drr-label">{{ t("standardsAcceptable") }}</mat-label>
    <mat-label>{{ t("standardsAcceptableQuestion") }}*</mat-label>
    <drr-radio-button
      [options]="standardsAcceptableOptions"
      [rxFormControl]="
        permitsRegulationsAndStandardsForm.get('standardsAcceptable')
      "
    ></drr-radio-button>

    <div formArrayName="standards">
      <div
        *ngFor="let control of getStandardsInfoArrayControls(); let i = index"
        [formGroupName]="i"
      >
        <mat-checkbox
          style="margin-bottom: 1rem"
          formControlName="isCategorySelected"
          >{{ control.value.category }}</mat-checkbox
        >

        <drr-chip-autocomplete
          [label]="control.value.category + ' standards'"
          [placeholder]="t('standardsPlaceholder')"
          [options]="getStandardsOptions(control.value.category)"
          [rxFormControl]="control.get('standards')"
        ></drr-chip-autocomplete>
      </div>
    </div>

    <drr-textarea
      [label]="t('standardsComments')"
      [maxlength]="2000"
      [rxFormControl]="
        permitsRegulationsAndStandardsForm.get('standardsComments')
      "
      [useFloatingLabel]="false"
    ></drr-textarea>

    <mat-label class="drr-label">{{ t("regulations") }}</mat-label>
    <mat-label>{{ t("meetsRegulatoryRequirements") }}*</mat-label>
    <drr-radio-button
      [rxFormControl]="
        permitsRegulationsAndStandardsForm.get('meetsRegulatoryRequirements')
      "
    ></drr-radio-button>
    <drr-textarea
      [label]="t('meetsRegulatoryComments')"
      [maxlength]="2000"
      [rxFormControl]="
        permitsRegulationsAndStandardsForm.get('meetsRegulatoryComments')
      "
      [useFloatingLabel]="false"
    ></drr-textarea>
  </form>
</div>
