.summary-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.summary-form-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}
