<div
  class="summary-item"
  [style.color]="rxFormControl.hasError('required') ? 'red' : 'initial'"
  *transloco="let t"
>
  <mat-label class="drr-label">{{ t(key) }}</mat-label>

  <ng-container *ngIf="isFormControl()">
    <mat-label>{{ getControlValue() ?? "&nbsp;" }}</mat-label>
  </ng-container>

  <ng-container *ngIf="isFormGroup()">
    <div class="summary-form-group">
      <ng-container *ngFor="let controlKey of objectKeys(rxFormControl)">
        <div
          class="summary-item"
          [style.color]="
            getGroupControl(controlKey).hasError('required') ? 'red' : 'initial'
          "
          *ngIf="showConditionalControl(controlKey, rxFormControl)"
        >
          <mat-label>{{ t(controlKey) }}</mat-label>
          <mat-label>{{ getGroupControlValue(controlKey) }}</mat-label>
        </div>
      </ng-container>
    </div>
  </ng-container>

  <ng-container *ngIf="isFormArray()">
    <div class="summary-form-array">
      <ng-container
        *ngFor="let control of rxFormControl.controls; let i = index"
      >
        <div class="summary-item">
          <div class="summary-form-group">
            <ng-container *ngFor="let controlKey of objectKeys(control)">
              <div
                class="summary-item"
                [style.color]="
                  control.get(controlKey).hasError('required')
                    ? 'red'
                    : 'initial'
                "
                *ngIf="showConditionalControl(controlKey, control)"
              >
                <mat-label>{{ t(controlKey) }}</mat-label>
                <mat-label>{{
                  extractArrayControlValue(controlKey, control)
                }}</mat-label>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
