.drr-textarea {
  width: 100%;
  margin-top: 8px;
}

@media screen and (max-width: 767px) {
  .drr-textarea mat-label {
    white-space: normal;
  }
}

:host {
  .drr-textarea
    ::ng-deep
    .mdc-text-field--outlined.mdc-text-field--disabled
    .mdc-text-field__input {
    color: var(--mdc-outlined-text-field-input-text-color);
  }
}
