<div class="drr-step-container" *transloco="let t">
  <form [formGroup]="climateAdaptationForm">
    <mat-label class="drr-label">{{ t("climateAdaptation") }}</mat-label>
    <mat-label>{{ t("climateAdaptationScreenerQuestion") }}*</mat-label>
    <drr-radio-button
      [rxFormControl]="climateAdaptationForm.get('climateAdaptation')"
    ></drr-radio-button>

    <drr-textarea
      [label]="t('climateAdaptationText')"
      [rxFormControl]="climateAdaptationForm.get('climateAdaptationComments')"
    ></drr-textarea>
  </form>
</div>
