<div class="summary-container" *transloco="let t">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ t("proponentInformation") }}</mat-card-title>
      <mat-card-subtitle>Step 1</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <drr-summary-item
        [label]="t('proponentType')"
        [value]="
          t(getRxFormControl('proponentInformation', 'proponentType').value)
        "
        [rxFormControl]="
          getRxFormControl('proponentInformation', 'proponentType')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('proponentName')"
        [value]="
          getRxFormControl('proponentInformation', 'proponentName').value
        "
        [rxFormControl]="
          getRxFormControl('proponentInformation', 'proponentName')
        "
      >
      </drr-summary-item>

      <div
        [class.required]="
          objectHasValues(
            eoiApplicationForm
              .get('proponentInformation')
              ?.get('projectContact')
          )
        "
      >
        <mat-label class="drr-label">{{ t("projectContact") }}</mat-label>
        <div class="summary-row">
          <drr-summary-item
            [label]="t('firstName')"
            [value]="
              getRxGroupFormControl(
                'proponentInformation',
                'projectContact',
                'firstName'
              ).value
            "
            [rxFormControl]="
              getRxGroupFormControl(
                'proponentInformation',
                'projectContact',
                'firstName'
              )
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('lastName')"
            [value]="
              getRxGroupFormControl(
                'proponentInformation',
                'projectContact',
                'lastName'
              ).value
            "
            [rxFormControl]="
              getRxGroupFormControl(
                'proponentInformation',
                'projectContact',
                'lastName'
              )
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('title')"
            [value]="
              getRxGroupFormControl(
                'proponentInformation',
                'projectContact',
                'title'
              ).value
            "
            [rxFormControl]="
              getRxGroupFormControl(
                'proponentInformation',
                'projectContact',
                'title'
              )
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('department')"
            [value]="
              getRxGroupFormControl(
                'proponentInformation',
                'projectContact',
                'department'
              ).value
            "
            [rxFormControl]="
              getRxGroupFormControl(
                'proponentInformation',
                'projectContact',
                'department'
              )
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('phone')"
            [value]="
              getRxGroupFormControl(
                'proponentInformation',
                'projectContact',
                'phone'
              ).value | mask : '000-000-0000'
            "
            [rxFormControl]="
              getRxGroupFormControl(
                'proponentInformation',
                'projectContact',
                'phone'
              )
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('email')"
            [value]="
              getRxGroupFormControl(
                'proponentInformation',
                'projectContact',
                'email'
              ).value
            "
            [rxFormControl]="
              getRxGroupFormControl(
                'proponentInformation',
                'projectContact',
                'email'
              )
            "
          >
          </drr-summary-item>
        </div>
      </div>

      <div>
        <mat-label class="drr-label">{{ t("additionalContacts") }}</mat-label>
        <div
          class="summary-row"
          *ngFor="
            let additionalContact of getRxFormArrayControls(
              'proponentInformation',
              'additionalContacts'
            )
          "
        >
          <drr-summary-item
            [label]="t('firstName')"
            [value]="additionalContact.get('firstName')?.value"
            [rxFormControl]="
              convertRxFormControl(additionalContact.get('firstName'))
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('lastName')"
            [value]="additionalContact.get('lastName')?.value"
            [rxFormControl]="
              convertRxFormControl(additionalContact.get('lastName'))
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('title')"
            [value]="additionalContact.get('title')?.value"
            [rxFormControl]="
              convertRxFormControl(additionalContact.get('title'))
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('department')"
            [value]="additionalContact.get('department')?.value"
            [rxFormControl]="
              convertRxFormControl(additionalContact.get('department'))
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('phone')"
            [value]="
              additionalContact.get('phone')?.value | mask : '000-000-0000'
            "
            [rxFormControl]="
              convertRxFormControl(additionalContact.get('phone'))
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('email')"
            [value]="additionalContact.get('email')?.value"
            [rxFormControl]="
              convertRxFormControl(additionalContact.get('email'))
            "
          >
          </drr-summary-item>
        </div>
      </div>

      <div>
        <mat-label class="drr-label">{{
          t("partneringProponentsSummary")
        }}</mat-label>
        <div
          class="summary-row"
          *ngFor="
            let proponent of getFormArray(
              'proponentInformation',
              'partneringProponents'
            );
            let i = index
          "
        >
          <mat-label>{{ proponent }}</mat-label>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ t("projectInformation") }}</mat-card-title>
      <mat-card-subtitle>Step 2</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <drr-summary-item
        [label]="t('fundingStream')"
        [value]="
          t(getRxFormControl('projectInformation', 'fundingStream').value)
        "
        [rxFormControl]="
          getRxFormControl('projectInformation', 'fundingStream')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('projectTitle')"
        [value]="getRxFormControl('projectInformation', 'projectTitle').value"
        [rxFormControl]="getRxFormControl('projectInformation', 'projectTitle')"
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('scopeStatement')"
        [value]="getRxFormControl('projectInformation', 'scopeStatement').value"
        [rxFormControl]="
          getRxFormControl('projectInformation', 'scopeStatement')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('projectType')"
        [value]="t(getRxFormControl('projectInformation', 'projectType').value)"
        [rxFormControl]="getRxFormControl('projectInformation', 'projectType')"
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('relatedHazardsSummary')"
        [value]="
          t(
            getRxFormControl('projectInformation', 'relatedHazards').value
          )?.join(', ')
        "
        [rxFormControl]="
          getRxFormControl('projectInformation', 'relatedHazards')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('otherHazardsDescription')"
        [value]="
          getRxFormControl('projectInformation', 'otherHazardsDescription')
            .value
        "
        [rxFormControl]="
          getRxFormControl('projectInformation', 'otherHazardsDescription')
        "
        *ngIf="
          getRxFormControl(
            'projectInformation',
            'relatedHazards'
          )?.value?.includes('Other')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('startDate')"
        [value]="
          getRxFormControl('projectInformation', 'startDate').value
            | date : 'yyyy-MM-dd'
        "
        [rxFormControl]="getRxFormControl('projectInformation', 'startDate')"
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('endDate')"
        [value]="
          getRxFormControl('projectInformation', 'endDate').value
            | date : 'yyyy-MM-dd'
        "
        [rxFormControl]="getRxFormControl('projectInformation', 'endDate')"
      >
      </drr-summary-item>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ t("fundingInformation") }}</mat-card-title>
      <mat-card-subtitle>Step 3</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <drr-summary-item
        [label]="t('estimatedTotal')"
        [value]="
          getRxFormControl('fundingInformation', 'estimatedTotal').value
            | currency
        "
        [rxFormControl]="
          getRxFormControl('fundingInformation', 'estimatedTotal')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('fundingRequest')"
        [value]="
          getRxFormControl('fundingInformation', 'fundingRequest').value
            | currency
        "
        [rxFormControl]="
          getRxFormControl('fundingInformation', 'fundingRequest')
        "
      >
      </drr-summary-item>

      <div>
        <mat-label class="drr-label">{{ t("otherFunding") }}</mat-label>
        <div
          class="summary-row"
          *ngFor="
            let otherFunding of getRxFormArrayControls(
              'fundingInformation',
              'otherFunding'
            )
          "
        >
          <drr-summary-item
            [label]="t('amount')"
            [value]="otherFunding.get('amount')?.value | currency"
            [rxFormControl]="convertRxFormControl(otherFunding.get('amount'))"
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('name')"
            [value]="otherFunding.get('name')?.value"
            [rxFormControl]="convertRxFormControl(otherFunding.get('name'))"
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('type')"
            [value]="t(otherFunding.get('type')?.value)"
            [rxFormControl]="convertRxFormControl(otherFunding.get('type'))"
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('otherDescription')"
            [value]="otherFunding.get('otherDescription')?.value"
            [rxFormControl]="
              convertRxFormControl(otherFunding.get('otherDescription'))
            "
            *ngIf="otherFunding.get('type')?.value === 'OtherGrants'"
          >
          </drr-summary-item>
        </div>
      </div>

      <drr-summary-item
        [label]="
          getRxFormControl('fundingInformation', 'remainingAmount').value > 0
            ? t('missingFundsLabel')
            : t('excessFundingLabel')
        "
        [value]="getRemainingAmountAbs() | currency"
        [rxFormControl]="
          getRxFormControl('fundingInformation', 'remainingAmount')
        "
        [style.color]="
          getRxFormControl('fundingInformation', 'remainingAmount').value < 0
            ? 'red'
            : 'initial'
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('intendToSecureFunding')"
        [value]="
          getRxFormControl('fundingInformation', 'intendToSecureFunding').value
        "
        [rxFormControl]="
          getRxFormControl('fundingInformation', 'intendToSecureFunding')
        "
        *ngIf="
          getRxFormControl('fundingInformation', 'remainingAmount').value > 0
        "
      >
      </drr-summary-item>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ t("locationInformation") }}</mat-card-title>
      <mat-card-subtitle>Step 4</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <drr-summary-item
        [label]="t('ownershipDeclaration')"
        [value]="
          getRxFormControl('locationInformation', 'ownershipDeclaration')
            .value === null
            ? null
            : getRxFormControl('locationInformation', 'ownershipDeclaration')
                .value
            ? 'Yes'
            : 'No'
        "
        [rxFormControl]="
          getRxFormControl('locationInformation', 'ownershipDeclaration')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('ownershipDescription')"
        [value]="
          getRxFormControl('locationInformation', 'ownershipDescription').value
        "
        [rxFormControl]="
          getRxFormControl('locationInformation', 'ownershipDescription')
        "
        *ngIf="
          getRxFormControl('locationInformation', 'ownershipDeclaration')
            .value === false
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('locationDescription')"
        [value]="
          getRxFormControl('locationInformation', 'locationDescription').value
        "
        [rxFormControl]="
          getRxFormControl('locationInformation', 'locationDescription')
        "
      >
      </drr-summary-item>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ t("projectDetails") }}</mat-card-title>
      <mat-card-subtitle>Step 5</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <drr-summary-item
        [label]="t('rationaleForFunding')"
        [value]="
          getRxFormControl('projectDetails', 'rationaleForFunding').value
        "
        [rxFormControl]="
          getRxFormControl('projectDetails', 'rationaleForFunding')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('estimatedPeopleImpacted')"
        [value]="
          t(getRxFormControl('projectDetails', 'estimatedPeopleImpacted').value)
        "
        [rxFormControl]="
          getRxFormControl('projectDetails', 'estimatedPeopleImpacted')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('communityImpact')"
        [value]="getRxFormControl('projectDetails', 'communityImpact').value"
        [rxFormControl]="getRxFormControl('projectDetails', 'communityImpact')"
      >
      </drr-summary-item>

      <mat-label class="drr-label">{{ t("infrastructureImpacted") }}</mat-label>
      <div
        class="summary-row"
        *ngFor="
          let control of getRxFormArrayControls(
            'projectDetails',
            'infrastructureImpacted'
          )
        "
      >
        <drr-summary-item
          [label]="t('infrastructure')"
          [rxFormControl]="convertRxFormControl(control.get('infrastructure'))"
        >
        </drr-summary-item>

        <drr-summary-item
          [label]="t('impact')"
          [rxFormControl]="convertRxFormControl(control.get('impact'))"
        >
        </drr-summary-item>
      </div>

      <drr-summary-item
        [label]="t('disasterRiskUnderstanding')"
        [value]="
          getRxFormControl('projectDetails', 'disasterRiskUnderstanding').value
        "
        [rxFormControl]="
          getRxFormControl('projectDetails', 'disasterRiskUnderstanding')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('additionalBackgroundInformation')"
        [value]="
          getRxFormControl('projectDetails', 'additionalBackgroundInformation')
            .value
        "
        [rxFormControl]="
          getRxFormControl('projectDetails', 'additionalBackgroundInformation')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('addressRisksAndHazards')"
        [value]="
          getRxFormControl('projectDetails', 'addressRisksAndHazards').value
        "
        [rxFormControl]="
          getRxFormControl('projectDetails', 'addressRisksAndHazards')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('drifProgramGoalAlignment')"
        [value]="getRxFormControl('projectDetails', 'projectDescription').value"
        [rxFormControl]="
          getRxFormControl('projectDetails', 'projectDescription')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('additionalSolutionInformation')"
        [value]="
          getRxFormControl('projectDetails', 'additionalSolutionInformation')
            .value
        "
        [rxFormControl]="
          getRxFormControl('projectDetails', 'additionalSolutionInformation')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('rationaleForSolutionText')"
        [value]="
          getRxFormControl('projectDetails', 'rationaleForSolution').value
        "
        [rxFormControl]="
          getRxFormControl('projectDetails', 'rationaleForSolution')
        "
      >
      </drr-summary-item>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ t("engagementPlan") }}</mat-card-title>
      <mat-card-subtitle>Step 6</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <drr-summary-item
        [label]="t('firstNationsEngagement')"
        [value]="
          getRxFormControl('engagementPlan', 'firstNationsEngagement').value
        "
        [rxFormControl]="
          getRxFormControl('engagementPlan', 'firstNationsEngagement')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('neighbourEngagement')"
        [value]="
          getRxFormControl('engagementPlan', 'neighbourEngagement').value
        "
        [rxFormControl]="
          getRxFormControl('engagementPlan', 'neighbourEngagement')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('additionalEngagementInformation')"
        [value]="
          getRxFormControl('engagementPlan', 'additionalEngagementInformation')
            .value
        "
        [rxFormControl]="
          getRxFormControl('engagementPlan', 'additionalEngagementInformation')
        "
      >
      </drr-summary-item>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ t("otherSupportingInformation") }}</mat-card-title>
      <mat-card-subtitle>Step 7</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <drr-summary-item
        [label]="t('climateAdaptationText')"
        [value]="
          getRxFormControl('otherSupportingInformation', 'climateAdaptation')
            .value
        "
        [rxFormControl]="
          getRxFormControl('otherSupportingInformation', 'climateAdaptation')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('otherInformationText')"
        [value]="
          getRxFormControl('otherSupportingInformation', 'otherInformation')
            .value
        "
        [rxFormControl]="
          getRxFormControl('otherSupportingInformation', 'otherInformation')
        "
      >
      </drr-summary-item>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="showSubmitterInfo">
    <mat-card-header>
      <mat-card-title>{{ t("declaration") }}</mat-card-title>
      <mat-card-subtitle>Step 8</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div
        [class.required]="
          !objectHasValues(
            eoiApplicationForm.get('declaration')?.get('submitter')?.value
          )
        "
      >
        <mat-label class="drr-label">{{ t("submitter") }}</mat-label>
        <div class="summary-row">
          <drr-summary-item
            [label]="t('firstName')"
            [value]="
              getRxGroupFormControl('declaration', 'submitter', 'firstName')
                .value
            "
            [rxFormControl]="
              getRxGroupFormControl('declaration', 'submitter', 'firstName')
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('lastName')"
            [value]="
              getRxGroupFormControl('declaration', 'submitter', 'lastName')
                .value
            "
            [rxFormControl]="
              getRxGroupFormControl('declaration', 'submitter', 'lastName')
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('title')"
            [value]="
              getRxGroupFormControl('declaration', 'submitter', 'title').value
            "
            [rxFormControl]="
              getRxGroupFormControl('declaration', 'submitter', 'title')
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('department')"
            [value]="
              getRxGroupFormControl('declaration', 'submitter', 'department')
                .value
            "
            [rxFormControl]="
              getRxGroupFormControl('declaration', 'submitter', 'department')
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('phone')"
            [value]="
              getRxGroupFormControl('declaration', 'submitter', 'phone').value
                | mask : '000-000-0000'
            "
            [rxFormControl]="
              getRxGroupFormControl('declaration', 'submitter', 'phone')
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('email')"
            [value]="
              getRxGroupFormControl('declaration', 'submitter', 'email').value
            "
            [rxFormControl]="
              getRxGroupFormControl('declaration', 'submitter', 'email')
            "
          >
          </drr-summary-item>
        </div>
      </div> </mat-card-content
  ></mat-card>
</div>
