<div class="summary-container" *transloco="let t">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ t("steps.eoi.step1") }}</mat-card-title>
      <mat-card-subtitle>Step 1</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <drr-summary-item
        [label]="t('proponentType')"
        [rxFormControl]="
          eoiApplicationForm.get('proponentInformation.proponentType')
        "
        controlType="radio"
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('proponentName')"
        [rxFormControl]="
          eoiApplicationForm.get('proponentInformation.proponentName')
        "
      >
      </drr-summary-item>

      <div
        [class.required]="
          objectHasValues(
            eoiApplicationForm
              .get('proponentInformation')
              ?.get('projectContact')
          )
        "
      >
        <mat-label class="drr-label">{{ t("projectContact") }}</mat-label>
        <div class="summary-row">
          <drr-summary-item
            [label]="t('firstName')"
            [rxFormControl]="
              eoiApplicationForm.get(
                'proponentInformation.projectContact.firstName'
              )
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('lastName')"
            [rxFormControl]="
              eoiApplicationForm.get(
                'proponentInformation.projectContact.lastName'
              )
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('title')"
            [rxFormControl]="
              eoiApplicationForm.get(
                'proponentInformation.projectContact.title'
              )
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('department')"
            [rxFormControl]="
              eoiApplicationForm.get(
                'proponentInformation.projectContact.department'
              )
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('phone')"
            [rxFormControl]="
              eoiApplicationForm.get(
                'proponentInformation.projectContact.phone'
              )
            "
            controlType="phone"
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('email')"
            [rxFormControl]="
              eoiApplicationForm.get(
                'proponentInformation.projectContact.email'
              )
            "
          >
          </drr-summary-item>
        </div>
      </div>

      <div>
        <mat-label class="drr-label">{{ t("additionalContacts") }}</mat-label>
        <div
          class="summary-row"
          *ngFor="
            let additionalContact of getRxFormArrayControls(
              'proponentInformation',
              'additionalContacts'
            )
          "
        >
          <drr-summary-item
            [label]="t('firstName')"
            [rxFormControl]="additionalContact.get('firstName')"
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('lastName')"
            [rxFormControl]="additionalContact.get('lastName')"
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('title')"
            [rxFormControl]="additionalContact.get('title')"
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('department')"
            [rxFormControl]="additionalContact.get('department')"
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('phone')"
            [rxFormControl]="additionalContact.get('phone')"
            controlType="phone"
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('email')"
            [rxFormControl]="additionalContact.get('email')"
          >
          </drr-summary-item>
        </div>
      </div>

      <div>
        <mat-label class="drr-label">{{
          t("partneringProponentsSummary")
        }}</mat-label>
        <div
          class="summary-row"
          *ngFor="
            let proponent of getFormArray(
              'proponentInformation',
              'partneringProponents'
            );
            let i = index
          "
        >
          <mat-label>{{ proponent }}</mat-label>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ t("steps.eoi.step2") }}</mat-card-title>
      <mat-card-subtitle>Step 2</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <drr-summary-item
        [label]="t('fundingStream')"
        [rxFormControl]="
          eoiApplicationForm.get('projectInformation.fundingStream')
        "
        controlType="radio"
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('projectTitle')"
        [rxFormControl]="
          eoiApplicationForm.get('projectInformation.projectTitle')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('scopeStatement')"
        [rxFormControl]="
          eoiApplicationForm.get('projectInformation.scopeStatement')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('stream')"
        [rxFormControl]="eoiApplicationForm.get('projectInformation.stream')"
        controlType="radio"
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('relatedHazardsSummary')"
        [rxFormControl]="
          eoiApplicationForm.get('projectInformation.relatedHazards')
        "
        controlType="array"
      >
      </drr-summary-item>

      <drr-summary-item
        *ngIf="
          eoiApplicationForm
            .get('projectInformation.relatedHazards')
            ?.value?.includes('Other')
        "
        [label]="t('otherHazardsDescription')"
        [rxFormControl]="
          eoiApplicationForm.get('projectInformation.otherHazardsDescription')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('startDate')"
        [rxFormControl]="eoiApplicationForm.get('projectInformation.startDate')"
        controlType="date"
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('endDate')"
        [rxFormControl]="eoiApplicationForm.get('projectInformation.endDate')"
        controlType="date"
      >
      </drr-summary-item>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ t("steps.eoi.step3") }}</mat-card-title>
      <mat-card-subtitle>Step 3</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <drr-summary-item
        [label]="t('estimatedTotal')"
        [rxFormControl]="
          eoiApplicationForm.get('fundingInformation.estimatedTotal')
        "
        controlType="currency"
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('fundingRequest')"
        [rxFormControl]="
          eoiApplicationForm.get('fundingInformation.fundingRequest')
        "
        controlType="currency"
      >
      </drr-summary-item>

      <div>
        <mat-label class="drr-label">{{ t("otherFunding") }}</mat-label>
        <div
          class="summary-row"
          *ngFor="
            let otherFunding of getRxFormArrayControls(
              'fundingInformation',
              'otherFunding'
            )
          "
        >
          <drr-summary-item
            [label]="t('amount')"
            [rxFormControl]="otherFunding.get('amount')"
            controlType="currency"
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('name')"
            [rxFormControl]="otherFunding.get('name')"
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('type')"
            [rxFormControl]="otherFunding.get('type')"
            controlType="radio"
          >
          </drr-summary-item>

          <drr-summary-item
            *ngIf="otherFunding.get('type')?.value === 'OtherGrants'"
            [label]="t('otherDescription')"
            [rxFormControl]="otherFunding.get('otherDescription')"
          >
          </drr-summary-item>
        </div>
      </div>

      <drr-summary-item
        [label]="
          eoiApplicationForm.get('fundingInformation.remainingAmount')?.value >
          0
            ? t('missingFundsLabel')
            : t('excessFundingLabel')
        "
        [rxFormControl]="
          eoiApplicationForm.get('fundingInformation.remainingAmount')
        "
        controlType="currency"
        [style.color]="
          getRxFormControl('fundingInformation', 'remainingAmount').value < 0
            ? 'red'
            : 'initial'
        "
      >
      </drr-summary-item>

      <drr-summary-item
        *ngIf="
          eoiApplicationForm.get('fundingInformation.remainingAmount')?.value >
          0
        "
        [label]="t('intendToSecureFunding')"
        [rxFormControl]="
          eoiApplicationForm.get('fundingInformation.intendToSecureFunding')
        "
      >
      </drr-summary-item>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ t("steps.eoi.step4") }}</mat-card-title>
      <mat-card-subtitle>Step 4</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <drr-summary-item
        [label]="t('ownershipDeclaration')"
        [rxFormControl]="
          eoiApplicationForm.get('locationInformation.ownershipDeclaration')
        "
        controlType="radio"
      >
      </drr-summary-item>

      <drr-summary-item
        *ngIf="
          eoiApplicationForm.get('locationInformation.ownershipDeclaration')
            ?.value === false
        "
        [label]="t('ownershipDescription')"
        [rxFormControl]="
          eoiApplicationForm.get('locationInformation.ownershipDescription')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('locationDescription')"
        [rxFormControl]="
          eoiApplicationForm.get('locationInformation.locationDescription')
        "
      >
      </drr-summary-item>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ t("steps.eoi.step5") }}</mat-card-title>
      <mat-card-subtitle>Step 5</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <drr-summary-item
        [label]="t('rationaleForFunding')"
        [rxFormControl]="
          eoiApplicationForm.get('projectDetails.rationaleForFunding')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('estimatedPeopleImpacted')"
        [rxFormControl]="
          eoiApplicationForm.get('projectDetails.estimatedPeopleImpacted')
        "
        controlType="select"
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('communityImpact')"
        [rxFormControl]="
          eoiApplicationForm.get('projectDetails.communityImpact')
        "
      >
      </drr-summary-item>

      <mat-label class="drr-label">{{ t("infrastructureImpacted") }}</mat-label>
      <drr-summary-item
        [label]="t('isInfrastructureImpacted')"
        [rxFormControl]="
          eoiApplicationForm.get('projectDetails.isInfrastructureImpacted')
        "
        controlType="radio"
      ></drr-summary-item>
      <div
        class="summary-row"
        *ngFor="
          let control of getRxFormArrayControls(
            'projectDetails',
            'infrastructureImpacted'
          )
        "
      >
        <drr-summary-item
          [label]="t('infrastructure')"
          [rxFormControl]="control.get('infrastructure')"
        >
        </drr-summary-item>

        <drr-summary-item
          [label]="t('impact')"
          [rxFormControl]="control.get('impact')"
        >
        </drr-summary-item>
      </div>

      <drr-summary-item
        [label]="t('disasterRiskUnderstanding')"
        [rxFormControl]="
          eoiApplicationForm.get('projectDetails.disasterRiskUnderstanding')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('additionalBackgroundInformation')"
        [rxFormControl]="
          eoiApplicationForm.get(
            'projectDetails.additionalBackgroundInformation'
          )
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('addressRisksAndHazards')"
        [rxFormControl]="
          eoiApplicationForm.get('projectDetails.addressRisksAndHazards')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('drifProgramGoalAlignment')"
        [rxFormControl]="
          eoiApplicationForm.get('projectDetails.projectDescription')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('additionalSolutionInformation')"
        [rxFormControl]="
          eoiApplicationForm.get('projectDetails.additionalSolutionInformation')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('rationaleForSolutionText')"
        [rxFormControl]="
          eoiApplicationForm.get('projectDetails.rationaleForSolution')
        "
      >
      </drr-summary-item>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ t("steps.eoi.step6") }}</mat-card-title>
      <mat-card-subtitle>Step 6</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <drr-summary-item
        [label]="t('firstNationsEngagement')"
        [rxFormControl]="
          eoiApplicationForm.get('engagementPlan.firstNationsEngagement')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('neighbourEngagement')"
        [rxFormControl]="
          eoiApplicationForm.get('engagementPlan.neighbourEngagement')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('additionalEngagementInformation')"
        [rxFormControl]="
          eoiApplicationForm.get(
            'engagementPlan.additionalEngagementInformation'
          )
        "
      >
      </drr-summary-item>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ t("steps.eoi.step7") }}</mat-card-title>
      <mat-card-subtitle>Step 7</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <drr-summary-item
        [label]="t('climateAdaptationText')"
        [rxFormControl]="
          eoiApplicationForm.get('otherSupportingInformation.climateAdaptation')
        "
      >
      </drr-summary-item>

      <drr-summary-item
        [label]="t('otherInformationText')"
        [rxFormControl]="
          eoiApplicationForm.get('otherSupportingInformation.otherInformation')
        "
      >
      </drr-summary-item>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="showSubmitterInfo">
    <mat-card-header>
      <mat-card-title>{{ t("steps.eoi.step8") }}</mat-card-title>
      <mat-card-subtitle>Step 8</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div
        [class.required]="
          !objectHasValues(
            eoiApplicationForm.get('declaration.submitter')?.value
          )
        "
      >
        <mat-label class="drr-label">{{ t("submitter") }}</mat-label>
        <div class="summary-row">
          <drr-summary-item
            [label]="t('firstName')"
            [rxFormControl]="
              eoiApplicationForm.get('declaration.submitter.firstName')
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('lastName')"
            [rxFormControl]="
              eoiApplicationForm.get('declaration.submitter.lastName')
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('title')"
            [rxFormControl]="
              eoiApplicationForm.get('declaration.submitter.title')
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('department')"
            [rxFormControl]="
              eoiApplicationForm.get('declaration.submitter.department')
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('phone')"
            [rxFormControl]="
              eoiApplicationForm.get('declaration.submitter.phone')
            "
            controlType="phone"
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('email')"
            [rxFormControl]="
              eoiApplicationForm.get('declaration.submitter.email')
            "
          >
          </drr-summary-item>
        </div>
      </div> </mat-card-content
  ></mat-card>
</div>
