<mat-tab-group *transloco="let t">
  <mat-tab label="Dashboard">
    <div class="tab dashboard">
      <mat-card>
        <mat-card-header>
          <mat-card-title> Welcome </mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-content">
          <p>Welcome, {{ profileStore.name() }}</p>
          <p>Organization: {{ profileStore.organization() }}</p>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <span>Notifications</span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-content">
          <p>You have <strong>3</strong> new notifications.</p>
          <mat-list>
            <mat-list-item *ngFor="let notification of notifications">
              <h4 mat-line>{{ notification.title }}</h4>
              <p mat-line>{{ notification.message }}</p>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <span>Quick Actions</span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <button
            mat-raised-button
            color="primary"
            (click)="onCreateFormClick()"
          >
            Create DRIFT Form
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <mat-icon>support_agent</mat-icon>
            <span>Help & Support</span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-content">
          <p>
            Need help? Contact us at
            <strong
              ><a href="mailto: {{ t('supportEmail') }}">{{
                t("supportEmail")
              }}</a>
            </strong>
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <span>Recent Activity</span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-content">
          <p>You have submitted <strong>2</strong> forms in the last week.</p>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <span>Submission Summary</span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-content">
          <p>You have submitted <strong>5</strong> forms in total.</p>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Create Submission">
    <div class="tab">
      <h2>Create a new submission:</h2>
      <button mat-raised-button color="primary" (click)="onCreateFormClick()">
        Create DRIFT Form
      </button>
    </div>
  </mat-tab>
  <mat-tab label="Manage Submission">
    <div class="tab application-list">
      <h2>You have submitted <strong>5</strong> forms in total.</h2>
      <div *ngFor="let application of applications">
        <h4>{{ application.title }}</h4>
        <p>Status: {{ application.status }}</p>
        <p>Date: {{ application.date | date : "YYYY-MM-dd" }}</p>
        <button
          mat-raised-button
          color="primary"
          (click)="onViewFormClick(application.id)"
        >
          View Form
        </button>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
