@import "../../styles/_variables.scss";

.tab {
  padding: 1rem;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.application-list {
  width: 100%;
  text-align: center;

  tr {
    background-color: #f9f9f9;
  }

  th {
    background-color: map-get($theme-colors, primary-nav);
    color: white;
  }
}

// ::ng-deep .mdc-tab--active .mdc-tab-indicator {
//   background-color: map-get($theme-colors, primary-nav);
// }

::ng-deep .mat-mdc-card-header {
  background-color: map-get($theme-colors, primary-nav);
  color: white;
  padding-bottom: 16px !important;
}

.card-content {
  padding: 1rem;
}

.list-item {
  display: flex;
  gap: 1rem;
  align-items: center;
}
