@import "../../styles/_variables.scss";

.dashboard-tabs-container {
  margin: 1rem;
}

.tab {
  padding: 1rem 0;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.card-content {
  padding: 1rem;
}

.list-item {
  display: flex;
  gap: 1rem;
  align-items: center;
}
