.contacts-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.proponent-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
}
