<div class="drr-step-container" *transloco="let t">
  <form [formGroup]="proponentInformationForm">
    <mat-label class="drr-label">{{ t("proponentType") }}*</mat-label>
    <mat-radio-group
      id="proponentType"
      class="drr-radio-group"
      aria-label="Select an option"
      formControlName="proponentType"
    >
      <mat-error
        *ngIf="
          proponentInformationForm.get('proponentType')?.touched &&
          proponentInformationForm.get('proponentType')?.hasError('required')
        "
        >{{ t("required") }}</mat-error
      >
      <mat-radio-button value="FirstNation">{{
        t("FirstNation")
      }}</mat-radio-button>
      <mat-radio-button value="LocalGovernment">{{
        t("LocalGovernment")
      }}</mat-radio-button>
      <mat-radio-button value="RegionalDistrict">{{
        t("RegionalDistrict")
      }}</mat-radio-button>
    </mat-radio-group>
    <mat-label class="drr-label">{{ t("proponentName") }}</mat-label>
    <drr-input
      class="drr-single-input"
      [id]="'proponentName'"
      [label]="t('proponentName')"
      [rxFormControl]="getFormControl('proponentName')"
      [maxlength]="100"
    ></drr-input>

    <mat-label class="drr-label">{{ t("submitter") }}</mat-label>
    <div class="contacts-container">
      <drr-input
        [id]="'submitter_firstName'"
        [label]="t('firstName')"
        [rxFormControl]="getGroupFormControl('firstName', 'submitter')"
        [maxlength]="40"
      ></drr-input>
      <drr-input
        [id]="'submitter_lastName'"
        [label]="t('lastName')"
        [rxFormControl]="getGroupFormControl('lastName', 'submitter')"
        [maxlength]="40"
      ></drr-input>
      <drr-input
        [id]="'submitter_title'"
        [label]="t('title')"
        [rxFormControl]="getGroupFormControl('title', 'submitter')"
        [maxlength]="40"
      ></drr-input>
      <drr-input
        [id]="'submitter_department'"
        [label]="t('department')"
        [rxFormControl]="getGroupFormControl('department', 'submitter')"
        [maxlength]="40"
      ></drr-input>
      <drr-input
        [id]="'submitter_phone'"
        [label]="t('phone')"
        [rxFormControl]="getGroupFormControl('phone', 'submitter')"
        [maxlength]="10"
        [type]="'tel'"
      ></drr-input>
      <drr-input
        [id]="'submitter_email'"
        [label]="t('email')"
        [rxFormControl]="getGroupFormControl('email', 'submitter')"
        [maxlength]="40"
        [type]="'email'"
      ></drr-input>
    </div>

    <mat-label class="drr-label">{{ t("projectContact") }}</mat-label>

    <mat-checkbox
      id="sameAsSubmitter"
      formControlName="sameAsSubmitter"
      (change)="toggleSameAsSubmitter()"
      >{{ t("sameAsSubmitter") }}</mat-checkbox
    >

    <div class="contacts-container">
      <drr-input
        [id]="'projectContact_firstName'"
        [label]="t('firstName')"
        [rxFormControl]="getGroupFormControl('firstName', 'projectContact')"
        [maxlength]="40"
      ></drr-input>
      <drr-input
        [id]="'projectContact_lastName'"
        [label]="t('lastName')"
        [rxFormControl]="getGroupFormControl('lastName', 'projectContact')"
        [maxlength]="40"
      ></drr-input>
      <drr-input
        [id]="'projectContact_title'"
        [label]="t('title')"
        [rxFormControl]="getGroupFormControl('title', 'projectContact')"
        [maxlength]="40"
      ></drr-input>
      <drr-input
        [id]="'projectContact_department'"
        [label]="t('department')"
        [rxFormControl]="getGroupFormControl('department', 'projectContact')"
        [maxlength]="40"
      ></drr-input>
      <drr-input
        [id]="'projectContact_phone'"
        [label]="t('phone')"
        [rxFormControl]="getGroupFormControl('phone', 'projectContact')"
        [maxlength]="10"
        [type]="'tel'"
      ></drr-input>
      <drr-input
        [id]="'projectContact_email'"
        [label]="t('email')"
        [rxFormControl]="getGroupFormControl('email', 'projectContact')"
        [maxlength]="40"
        [type]="'email'"
      ></drr-input>
    </div>
    <div formArrayName="additionalContacts">
      <div
        *ngFor="
          let projectContact of getFormArray('additionalContacts').controls;
          let i = index
        "
        [formGroupName]="i"
      >
        <mat-label class="drr-label">{{
          t("additionalContact") + " " + (i + 1)
        }}</mat-label>
        <div class="contacts-container">
          <drr-input
            [id]="'projectContact_firstName_' + i"
            [label]="t('firstName')"
            [rxFormControl]="
              getArrayFormControl('firstName', 'additionalContacts', i)
            "
            [maxlength]="40"
          ></drr-input>
          <drr-input
            [id]="'projectContact_lastName_' + i"
            [label]="t('lastName')"
            [rxFormControl]="
              getArrayFormControl('lastName', 'additionalContacts', i)
            "
            [maxlength]="40"
          ></drr-input>
          <drr-input
            [id]="'projectContact_title_' + i"
            [label]="t('title')"
            [rxFormControl]="
              getArrayFormControl('title', 'additionalContacts', i)
            "
            [maxlength]="40"
          ></drr-input>
          <drr-input
            [id]="'projectContact_department_' + i"
            [label]="t('department')"
            [rxFormControl]="
              getArrayFormControl('department', 'additionalContacts', i)
            "
            [maxlength]="40"
          ></drr-input>
          <drr-input
            [id]="'projectContact_phone_' + i"
            [label]="t('phone')"
            [rxFormControl]="
              getArrayFormControl('phone', 'additionalContacts', i)
            "
            [maxlength]="10"
            [type]="'tel'"
          ></drr-input>
          <drr-input
            class="project-contact-email"
            [id]="'projectContact_email_' + i"
            [label]="t('email')"
            [rxFormControl]="
              getArrayFormControl('email', 'additionalContacts', i)
            "
            [maxlength]="40"
            [type]="'email'"
          ></drr-input>

          <button
            *ngIf="i > 0"
            class="remove-contact-button"
            mat-mini-fab
            color="warn"
            (click)="removeAdditionalContact(i)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>

      <button
        *ngIf="getFormArray('additionalContacts').length < 2"
        id="addProjectContact"
        mat-stroked-button
        type="button"
        color="primary"
        (click)="addAdditionalContact()"
      >
        <mat-icon>add</mat-icon>
        {{ t("addAdditionalContact") }}
      </button>
    </div>

    <mat-label class="drr-label" style="margin-top: 20px">{{
      t("partneringProponents")
    }}</mat-label>

    <div formArrayName="partneringProponentsArray">
      <div
        class="proponent-container"
        *ngFor="
          let proponent of getFormArray('partneringProponentsArray').controls;
          let i = index
        "
        [formGroupName]="i"
      >
        <drr-input
          class="drr-single-input"
          [id]="'proponent_' + i"
          [label]="t('partneringProponentNameText')"
          [rxFormControl]="
            getArrayFormControl('value', 'partneringProponentsArray', i)
          "
          [maxlength]="100"
        ></drr-input>
        <button mat-mini-fab color="warn" (click)="removeProponent(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

      <button
        id="addProponent"
        style="margin-top: 10px"
        [style.padding]="isMobile ? '24px 16px' : ''"
        mat-stroked-button
        type="button"
        color="primary"
        (click)="addProponent()"
      >
        <mat-icon>add</mat-icon>
        {{ t("addProponent") }}
      </button>
    </div>
  </form>
</div>
