<div class="drr-step-container">
  <form [formGroup]="eoiApplicationForm">
    <mat-label class="drr-label">Application Type</mat-label>
    <mat-radio-group
      class="drr-radio-group"
      aria-label="Select an option"
      formControlName="applicantType"
    >
      <mat-error
        *ngIf="
          eoiApplicationForm.get('applicantType')?.dirty &&
          eoiApplicationForm.get('applicantType')?.hasError('required')
        "
        >Required</mat-error
      >
      <mat-radio-button value="ApplicantType.FirstNation"
        >First Nation</mat-radio-button
      >
      <mat-radio-button value="ApplicantType.LocalGovernment"
        >Local Government</mat-radio-button
      >
      <mat-radio-button value="ApplicantType.RegionalDistrict"
        >Regional District</mat-radio-button
      >
    </mat-radio-group>
    <mat-form-field style="width: 50vw; margin-top: 10px">
      <mat-label
        >Name of First Nation, Local Government or Reginal District</mat-label
      >
      <input matInput formControlName="applicantName" />
    </mat-form-field>

    <mat-label class="drr-label">Submitter Contact Information</mat-label>
    <div class="submitter-container" formGroupName="submitter">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Position/Title</mat-label>
        <input matInput formControlName="title" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Department</mat-label>
        <input matInput formControlName="position" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input matInput type="tel" formControlName="phone" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
    </div>

    <mat-label class="drr-label">Project Contact Information</mat-label>

    <div formArrayName="projectContacts">
      <div
        class="project-contacts-container"
        *ngFor="
          let projectContact of getFormArray('projectContacts').controls;
          let i = index
        "
        [formGroupName]="i"
      >
        <!-- TODO: there is an issue with form reference, form value stays empty
          <drr-contact-details
            [contactForm]="projectContact as RxFormGroup"
          ></drr-contact-details> -->
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Position/Title</mat-label>
          <input matInput formControlName="title" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Department</mat-label>
          <input matInput formControlName="position" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Phone</mat-label>
          <input matInput formControlName="phone" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>

        <button
          *ngIf="i > 0"
          mat-mini-fab
          color="warn"
          (click)="removeProjectContact(i)"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <mat-divider></mat-divider>
      </div>

      <button mat-stroked-button color="primary" (click)="addProjectContact()">
        <mat-icon>add</mat-icon>
        Add additional contact
      </button>
    </div>
  </form>
</div>
