<div class="drr-step-container" *transloco="let t">
  <form [formGroup]="proponentInformationForm">
    <mat-label class="drr-label">{{ t("proponentType") }}*</mat-label>
    <drr-radio-button
      [rxFormControl]="getFormControl('proponentType')"
      [options]="proponentTypeOptions"
    ></drr-radio-button>

    <mat-label class="drr-label">{{ t("proponentName") }}</mat-label>
    <drr-input
      class="drr-single-input"
      [id]="'proponentName'"
      [label]="t('proponentNameText')"
      [rxFormControl]="getFormControl('proponentName')"
      [maxlength]="100"
    ></drr-input>

    <mat-label class="drr-label">{{ t("projectContact") }}</mat-label>

    <div class="contacts-container">
      <drr-input
        [id]="'projectContact_firstName'"
        [label]="t('firstName')"
        [rxFormControl]="getGroupFormControl('firstName', 'projectContact')"
        [maxlength]="40"
      ></drr-input>
      <drr-input
        [id]="'projectContact_lastName'"
        [label]="t('lastName')"
        [rxFormControl]="getGroupFormControl('lastName', 'projectContact')"
        [maxlength]="40"
      ></drr-input>
      <drr-input
        [id]="'projectContact_title'"
        [label]="t('title')"
        [rxFormControl]="getGroupFormControl('title', 'projectContact')"
        [maxlength]="40"
      ></drr-input>
      <drr-input
        [id]="'projectContact_department'"
        [label]="t('department')"
        [rxFormControl]="getGroupFormControl('department', 'projectContact')"
        [maxlength]="40"
      ></drr-input>
      <drr-input
        [id]="'projectContact_phone'"
        [label]="t('phone')"
        [rxFormControl]="getGroupFormControl('phone', 'projectContact')"
        [maxlength]="10"
        [type]="'tel'"
      ></drr-input>
      <drr-input
        [id]="'projectContact_email'"
        [label]="t('email')"
        [rxFormControl]="getGroupFormControl('email', 'projectContact')"
        [maxlength]="40"
        [type]="'email'"
      ></drr-input>
    </div>
    <div>
      <div
        *ngFor="
          let projectContact of getFormArray('additionalContacts').controls;
          let i = index
        "
      >
        <mat-label class="drr-label">{{
          t("additionalContact") + " " + (i + 1)
        }}</mat-label>
        <div class="contacts-container">
          <drr-input
            [id]="'projectContact_firstName_' + i"
            [label]="t('firstName')"
            [rxFormControl]="projectContact.get('firstName')"
            [maxlength]="40"
          ></drr-input>
          <drr-input
            [id]="'projectContact_lastName_' + i"
            [label]="t('lastName')"
            [rxFormControl]="projectContact.get('lastName')"
            [maxlength]="40"
          ></drr-input>
          <drr-input
            [id]="'projectContact_title_' + i"
            [label]="t('title')"
            [rxFormControl]="projectContact.get('title')"
            [maxlength]="40"
          ></drr-input>
          <drr-input
            [id]="'projectContact_department_' + i"
            [label]="t('department')"
            [rxFormControl]="projectContact.get('department')"
            [maxlength]="40"
          ></drr-input>
          <drr-input
            [id]="'projectContact_phone_' + i"
            [label]="t('phone')"
            [rxFormControl]="projectContact.get('phone')"
            [maxlength]="10"
            [type]="'tel'"
          ></drr-input>
          <drr-input
            class="project-contact-email"
            [id]="'projectContact_email_' + i"
            [label]="t('email')"
            [rxFormControl]="projectContact.get('email')"
            [maxlength]="40"
            [type]="'email'"
          ></drr-input>

          <button
            *ngIf="i > 0"
            class="remove-contact-button"
            mat-mini-fab
            color="warn"
            (click)="removeAdditionalContact(i)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>

      <button
        *ngIf="getFormArray('additionalContacts').length < 2"
        id="addProjectContact"
        mat-stroked-button
        type="button"
        color="primary"
        (click)="addAdditionalContact()"
      >
        <mat-icon>add</mat-icon>
        {{ t("addAdditionalContact") }}
      </button>
    </div>

    <mat-label class="drr-label" style="margin-top: 20px">{{
      t("partneringProponents")
    }}</mat-label>
    <div>
      <div
        class="proponent-container"
        *ngFor="
          let proponent of getFormArray('partneringProponentsArray').controls;
          let i = index
        "
      >
        <drr-input
          class="drr-single-input"
          [id]="'proponent_' + i"
          [label]="t('partneringProponentNameText')"
          [rxFormControl]="proponent.get('value')"
          [maxlength]="100"
        ></drr-input>
        <button mat-mini-fab color="warn" (click)="removeProponent(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

      <button
        id="addProponent"
        style="margin-top: 10px"
        [style.padding]="isMobile ? '24px 16px' : ''"
        mat-stroked-button
        type="button"
        color="primary"
        (click)="addProponent()"
      >
        <mat-icon>add</mat-icon>
        {{ t("addProponent") }}
      </button>
    </div>
  </form>
</div>
