<div class="drif-project-container" *transloco="let t; read: 'project'">
  <mat-card>
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{ project?.projectTitle }}</mat-card-title>
        <div>
          <i> Status: </i>
          <mat-chip>
            {{ project?.status }}
          </mat-chip>
        </div>
        <mat-card-subtitle>{{ project?.proponentName }}</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="drif-project-details">
      <div
        style="
          display: flex;
          flex-direction: column;
          align-self: start;
          gap: 2rem;
        "
      >
        <mat-card>
          <mat-card-header>
            <mat-card-title>Project Details</mat-card-title>
            <mat-card-subtitle>{{ projectId }} </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <!-- <p>
              <strong>Project ID:</strong>
              {{ project?.id }}
            </p> -->
            <p>
              <strong>Contract ID:</strong>
              {{ project?.contractNumber }}
            </p>
            <p>
              <strong> Funding Program: </strong>
              {{ project?.programType | transloco }}
            </p>
            <p>
              <strong>Project Type:</strong>
              {{ t(project?.fundingStream!) }}
            </p>
            <p>
              <strong>Funding Amount</strong>
              {{ project?.fundingAmount | currency: "" : "symbol" : "1.0-0" }}
            </p>
            <p>
              <strong>Reporting Schedule:</strong>
              {{ t(project?.reportingScheduleType!) }}
            </p>
            <p>
              <strong>Planned Start Date:</strong>
              {{ project?.startDate | date: "yyyy-MM-dd" }}
            </p>
            <p>
              <strong>Planned Start Date:</strong>
              {{ project?.endDate | date: "yyyy-MM-dd" }}
            </p>
            <p>
              <strong>EOI:</strong><a href=""> {{ project?.eoiId }} </a>
            </p>
            <p>
              <strong>Full Proposal:</strong
              ><a href=""> {{ project?.fpId }} </a>
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div>
        <mat-card>
          <mat-card-header>
            <mat-card-subtitle>Conditions</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <table
              mat-table
              [dataSource]="conditionsDataSource"
              multiTemplateDataRows
            >
              <ng-container matColumnDef="conditionName">
                <th mat-header-cell *matHeaderCellDef>Condition</th>
                <td mat-cell *matCellDef="let condition">
                  {{ condition.conditionName }}
                </td>
              </ng-container>
              <ng-container matColumnDef="limit">
                <th mat-header-cell *matHeaderCellDef>Limit</th>
                <td mat-cell *matCellDef="let condition">
                  {{ condition.limit }}%
                </td>
              </ng-container>
              <ng-container matColumnDef="conditionMet">
                <th mat-header-cell *matHeaderCellDef>Condition Met?</th>
                <td mat-cell *matCellDef="let condition">
                  {{ condition.conditionMet ? "Yes" : "No" }}
                </td>
              </ng-container>
              <ng-container matColumnDef="dateMet">
                <th mat-header-cell *matHeaderCellDef>Date Met</th>
                <td mat-cell *matCellDef="let condition">
                  {{ condition.dateMet | date: "yyyy-MM-dd" }}
                </td>
              </ng-container>
              <tr
                mat-header-row
                *matHeaderRowDef="[
                  'conditionName',
                  'limit',
                  'conditionMet',
                  'dateMet',
                ]"
              ></tr>
              <tr
                mat-row
                *matRowDef="
                  let row;
                  columns: ['conditionName', 'limit', 'conditionMet', 'dateMet']
                "
              ></tr>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-tab-group>
    <mat-tab label="Reports Due">
      <div>
        <div
          style="
            display: grid;
            grid-template-columns: 3fr 1fr;
            gap: 1rem;
            padding: 1rem;
          "
        >
          <table
            mat-table
            [dataSource]="interimReportsDataSource"
            multiTemplateDataRows
          >
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let element">
                @if (!element.parentId) {
                  {{ element.id }}
                }
              </td>
            </ng-container>
            <ng-container matColumnDef="section">
              <th mat-header-cell *matHeaderCellDef>Section</th>
              <td mat-cell *matCellDef="let element">
                {{ element.section }}
              </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let element">
                {{ element.status | transloco }}
              </td>
            </ng-container>
            <ng-container matColumnDef="dueDate">
              <th mat-header-cell *matHeaderCellDef>Due Date</th>
              <td mat-cell *matCellDef="let element">
                {{ element.dueDate | date: "yyyy-MM-dd" }}
              </td>
            </ng-container>

            <ng-container matColumnDef="submitDate">
              <th mat-header-cell *matHeaderCellDef>Submitted Date</th>
              <td mat-cell *matCellDef="let element">
                {{ element.submitDate | date: "yyyy-MM-dd" }}
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let element">
                @if (element.parentId) {
                  <div class="table-actions">
                    <a
                      mat-raised-button
                      color="primary"
                      [routerLink]="getSubReportRoute(element)"
                    >
                      Edit
                    </a>
                  </div>
                }
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="[
                'id',
                'section',
                'status',
                'dueDate',
                'submitDate',
                'actions',
              ]"
            ></tr>
            <tr
              mat-row
              *matRowDef="
                let element;
                columns: [
                  'id',
                  'section',
                  'status',
                  'dueDate',
                  'submitDate',
                  'actions',
                ]
              "
            ></tr>
          </table>
          <div style="display: flex; flex-direction: column; gap: 1rem">
            <button
              mat-raised-button
              color="primary"
              (click)="addInterimReport()"
            >
              {{ t("startNextReport") }}
            </button>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Conditions">
      <mat-card>
        <!-- <mat-card-header>
          <mat-card-title>Claims</mat-card-title>
        </mat-card-header> -->
        <table class="drr-table" mat-table [dataSource]="conditionsDataSource">
          <ng-container matColumnDef="conditionName">
            <th mat-header-cell *matHeaderCellDef>Condition</th>
            <td mat-cell *matCellDef="let condition">
              {{ condition.conditionName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="limit">
            <th mat-header-cell *matHeaderCellDef>Limit</th>
            <td mat-cell *matCellDef="let condition">{{ condition.limit }}%</td>
          </ng-container>
          <ng-container matColumnDef="conditionMet">
            <th mat-header-cell *matHeaderCellDef>Condition Met?</th>
            <td mat-cell *matCellDef="let condition">
              {{ condition.conditionMet }}
            </td>
          </ng-container>
          <ng-container matColumnDef="dateMet">
            <th mat-header-cell *matHeaderCellDef>Date Met</th>
            <td mat-cell *matCellDef="let condition">
              {{ condition.dateMet }}
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef style="text-align: center">
              Actions
            </th>
            <td mat-cell *matCellDef="let condition">
              <div class="table-actions">
                <button mat-button color="primary" (click)="viewCondition()">
                  Check details
                </button>
                <button
                  mat-raised-button
                  color="primary"
                  (click)="clearCondition()"
                >
                  Clear
                </button>
              </div>
            </td>
          </ng-container>
          <tr
            mat-header-row
            *matHeaderRowDef="[
              'conditionName',
              'limit',
              'conditionMet',
              'dateMet',
              'actions',
            ]"
          ></tr>
          <tr
            mat-row
            *matRowDef="
              let row;
              columns: [
                'conditionName',
                'limit',
                'conditionMet',
                'dateMet',
                'actions',
              ]
            "
          ></tr>
        </table>
      </mat-card>
    </mat-tab>
    <mat-tab label="Key Documents">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Key Documents</mat-card-title>
        </mat-card-header>
        <table mat-table [dataSource]="attachmentsDataSource">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let attachment">{{ attachment.id }}</td>
          </ng-container>
          <ng-container matColumnDef="fileName">
            <th mat-header-cell *matHeaderCellDef>File Name</th>
            <td mat-cell *matCellDef="let attachment">
              {{ attachment.fileName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="fileType">
            <th mat-header-cell *matHeaderCellDef>File Type</th>
            <td mat-cell *matCellDef="let attachment">
              {{ attachment.fileType }}
            </td>
          </ng-container>
          <ng-container matColumnDef="fileSize">
            <th mat-header-cell *matHeaderCellDef>File Size</th>
            <td mat-cell *matCellDef="let attachment">
              {{ attachment.fileSize }}
            </td>
          </ng-container>
          <ng-container matColumnDef="uploadDate">
            <th mat-header-cell *matHeaderCellDef>Upload Date</th>
            <td mat-cell *matCellDef="let attachment">
              {{ attachment.uploadDate }}
            </td>
          </ng-container>
          <tr
            mat-header-row
            *matHeaderRowDef="[
              'id',
              'fileName',
              'fileType',
              'fileSize',
              'uploadDate',
            ]"
          ></tr>
          <tr
            mat-row
            *matRowDef="
              let row;
              columns: ['id', 'fileName', 'fileType', 'fileSize', 'uploadDate']
            "
          ></tr>
        </table>
      </mat-card>
    </mat-tab>
    <mat-tab label="Contacts">
      <mat-card>
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Project Contacts</mat-card-title>
            <button
              mat-raised-button
              color="primary"
              (click)="addProjectContact()"
            >
              {{ t("addProjectContact") }}
            </button>
          </mat-card-title-group>
        </mat-card-header>
        <table mat-table [dataSource]="projectContactsDataSource">
          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef>First Name</th>
            <td mat-cell *matCellDef="let contact">{{ contact.firstName }}</td>
          </ng-container>
          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef>Last Name</th>
            <td mat-cell *matCellDef="let contact">{{ contact.lastName }}</td>
          </ng-container>
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let contact">{{ contact.title }}</td>
          </ng-container>
          <ng-container matColumnDef="department">
            <th mat-header-cell *matHeaderCellDef>Department</th>
            <td mat-cell *matCellDef="let contact">{{ contact.department }}</td>
          </ng-container>
          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef>Phone</th>
            <td mat-cell *matCellDef="let contact">{{ contact.phone }}</td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let contact">{{ contact.email }}</td>
          </ng-container>
          <tr
            mat-header-row
            *matHeaderRowDef="[
              'firstName',
              'lastName',
              'title',
              'department',
              'phone',
              'email',
            ]"
          ></tr>
          <tr
            mat-row
            *matRowDef="
              let row;
              columns: [
                'firstName',
                'lastName',
                'title',
                'department',
                'phone',
                'email',
              ]
            "
          ></tr>
        </table>
      </mat-card>
    </mat-tab>
    <mat-tab label="Completed Reports">
      <mat-card>
        <table mat-table [dataSource]="pastReportsDataSource">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let report">
              <a
                [routerLink]="[
                  '/drif-projects',
                  projectId,
                  'interim-reports',
                  report.id,
                ]"
                >{{ report.id }}</a
              >
            </td>
          </ng-container>
          <ng-container matColumnDef="dueDate">
            <th mat-header-cell *matHeaderCellDef>Due Date</th>
            <td mat-cell *matCellDef="let report">{{ report.dueDate }}</td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let report">{{ report.status }}</td>
          </ng-container>
          <tr
            mat-header-row
            *matHeaderRowDef="['id', 'dueDate', 'status']"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: ['id', 'dueDate', 'status']"
          ></tr>
        </table>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
