@use "@angular/material" as mat;
@use "@ngxpert/hot-toast/src/styles/styles.scss";

@include mat.core();

@import "@bcgov/bc-sans/css/BCSans.css";

$bcgov-primary-palette: (
  50: #f1f8fe,
  100: #b3c2db,
  200: #8099c2,
  300: #4d70a9,
  400: #264f96,
  500: #003366,
  600: #002f5f,
  700: #002855,
  800: #00214b,
  900: #00153a,
  A100: #a6c1ff,
  A200: #739dff,
  A400: #4079ff,
  A700: #265eff,
  contrast: (
    50: rgba(0, 0, 0, 0.87),
    100: rgba(0, 0, 0, 0.87),
    200: rgba(0, 0, 0, 0.87),
    300: rgba(0, 0, 0, 0.87),
    400: rgba(0, 0, 0, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(0, 0, 0, 0.87),
    A200: white,
    A400: white,
    A700: white,
  ),
);

$bcgov-accent-palette: (
  50: #fff4e0,
  100: #ffe4b3,
  200: #ffd280,
  300: #ffc04d,
  400: #ffb326,
  500: #fcba19,
  600: #e6a700,
  700: #cc8f00,
  800: #42814a,
  900: #805500,
  A100: #ffffff,
  A200: #265eff,
  A400: #ffe0b3,
  A700: #ffcc80,
  contrast: (
    50: rgba(0, 0, 0, 0.87),
    100: rgba(0, 0, 0, 0.87),
    200: rgba(0, 0, 0, 0.87),
    300: rgba(0, 0, 0, 0.87),
    400: rgba(0, 0, 0, 0.87),
    500: rgba(0, 0, 0, 0.87),
    600: rgba(0, 0, 0, 0.87),
    700: rgba(0, 0, 0, 0.87),
    800: rgba(0, 0, 0, 0.87),
    900: white,
    A100: rgba(0, 0, 0, 0.87),
    A200: rgba(0, 0, 0, 0.87),
    A400: rgba(0, 0, 0, 0.87),
    A700: rgba(0, 0, 0, 0.87),
  ),
);

$bcgov-warn-palette: (
  50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #f44336,
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #fcba19,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (
    50: rgba(0, 0, 0, 0.87),
    100: rgba(0, 0, 0, 0.87),
    200: rgba(0, 0, 0, 0.87),
    300: rgba(0, 0, 0, 0.87),
    400: rgba(0, 0, 0, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(0, 0, 0, 0.87),
    A200: white,
    A400: white,
    A700: white,
  ),
);

$my-app-primary: mat.m2-define-palette(
  $bcgov-primary-palette,
  500,
  700,
  300,
  900
);
$my-app-accent: mat.m2-define-palette(
  $bcgov-accent-palette,
  A200,
  A100,
  A400,
  A700
);
$my-app-warn: mat.m2-define-palette($bcgov-warn-palette, 500, 700, 300, 900);

$bc-sans-typography: mat.m2-define-typography-config(
  $font-family: "BCSans",
  $headline-1: mat.m2-define-typography-level(2.25rem, 1.5em, 700),
  $headline-2: mat.m2-define-typography-level(2em, 1.5em, 700),
  $headline-3: mat.m2-define-typography-level(1.75rem, 1.5em, 700),
  $headline-4: mat.m2-define-typography-level(1.5rem, 1.5em, 700),
  $headline-5: mat.m2-define-typography-level(1.25rem, 1.5em, 700),
  $headline-6: mat.m2-define-typography-level(1.125rem, 1.5em, 700),
  $subtitle-1: mat.m2-define-typography-level(16px, 24px, 400),
  $subtitle-2: mat.m2-define-typography-level(16px, 20px, 400),
  $body-1: mat.m2-define-typography-level(1.125rem, 1.5em, 400),
  $body-2: mat.m2-define-typography-level(1rem, 1.5em, 400),
  $button: mat.m2-define-typography-level(1rem, 1.5em, 400),
  $caption: mat.m2-define-typography-level(12px, 16px, 400),
  $overline: mat.m2-define-typography-level(10px, 16px, 400),
);

$my-app-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $my-app-primary,
      accent: $my-app-accent,
      warn: $my-app-warn,
    ),
    typography: $bc-sans-typography,
  )
);

@include mat.all-component-themes($my-app-theme);

@import "./variables";

html,
body {
  min-height: 100vh;
  margin: 0;
  font-family: "BCSans", "Noto Sans", Verdana, Arial, sans-serif;
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.75rem;
  font-weight: 700;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h6 {
  font-size: 1.125rem;
  font-weight: 700;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mat-step-header .mat-step-label {
  color: #00153a !important;
}

.drr-radio-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.drr-label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.drr-step-container {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;

  & form {
    display: flex;
    flex-direction: column;
  }
}

.drr-stepper-action {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
}

.drr-stepper-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.drr-single-input {
  width: 50vw;
  margin-top: 8px;
}

.table-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  button {
    margin-right: 1rem;
  }
}

@media (max-width: 768px) {
  .drr-single-input {
    width: 100%;
  }
}

.mdc-button:focus {
  outline: 3px solid #003366;
  outline-offset: 0.125rem;
}

.app-stepper-container {
  margin: 1rem;

  .app-stepper {
    background: transparent;
    display: flex;
    flex-direction: column;
  }
}

.app-stepper-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .header-actions {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: center;
  }

  .save-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    min-height: 2rem;
  }
}

.contacts-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}
