<mat-label *ngIf="isMobile">{{ label }}{{ getMandatoryMark() }}</mat-label>
<mat-form-field *transloco="let t" class="drr-select">
  <mat-label *ngIf="!isMobile">{{ label }}</mat-label>
  <mat-select
    id="{{ id }}"
    required="{{ isRequired() }}"
    [formControl]="rxFormControl"
    multiple="{{ isMultiple }}"
    (selectionChange)="onSelectionChange($event)"
  >
    @for (option of options; track option) {
    <mat-option [value]="option">{{ t(option) }}</mat-option>
    }
  </mat-select>
</mat-form-field>
