<ng-container *transloco="let t">
  <mat-label class="drr-label">{{ t("supportingDocumentation") }}</mat-label>
  <div *ngIf="files.length > 0" class="file-list">
    <div *ngFor="let file of files; let i = index" class="list-item">
      <h4 mat-line>{{ file.name }}</h4>
      <drr-input
        class="drr-single-input"
        [label]="'Provide a comment'"
      ></drr-input>
      <button mat-mini-fab color="warn" (click)="removeFile(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <mat-label>{{ t("supportingDocumentationOptionalText") }}</mat-label>
  <drr-file-upload (filesSelected)="filesSelected($event)"></drr-file-upload>
</ng-container>
