<ng-container *transloco="let t; read: 'attachments'">
  <div>
    <i
      >{{ t("disclaimer") }}
      <a href="mailto:EMCR.DisasterMitigation@gov.bc.ca"
        >EMCR.DisasterMitigation&#64;gov.bc.ca</a
      >.</i
    >
  </div>
  <mat-label class="drr-label" style="display: block; margin-top: 1rem">{{
    t("requiredAttachments")
  }}</mat-label>
  <div style="margin-top: 1rem">
    <i>{{ t("useCommentsText") }}</i>
  </div>
  <div
    style="margin-top: 1rem; display: flex; flex-direction: column; gap: 1rem"
  >
    <mat-label>{{ t("DetailedProjectWorkplan") + "*" }}</mat-label>
    <drr-attachment
      [attachmentForm]="getFormByDocumentType('DetailedProjectWorkplan')"
      (uploadFiles)="uploadFiles($event)"
      (removeFile)="removeFile($event)"
      (downloadFile)="downloadFile($event)"
      [documentType]="'DetailedProjectWorkplan'"
    ></drr-attachment>

    <mat-label>{{ t("ProjectSchedule") }}</mat-label>
    <drr-attachment
      [attachmentForm]="getFormByDocumentType('ProjectSchedule')"
      (uploadFiles)="uploadFiles($event)"
      (removeFile)="removeFile($event)"
      (downloadFile)="downloadFile($event)"
      [documentType]="'ProjectSchedule'"
    ></drr-attachment>

    <mat-label>{{ t("DetailedCostEstimate") + "*" }}</mat-label>
    <drr-attachment
      [attachmentForm]="getFormByDocumentType('DetailedCostEstimate')"
      (uploadFiles)="uploadFiles($event)"
      (removeFile)="removeFile($event)"
      (downloadFile)="downloadFile($event)"
      [documentType]="'DetailedCostEstimate'"
    ></drr-attachment>

    <mat-label>{{ t("SitePlan") }}</mat-label>
    <drr-attachment
      [attachmentForm]="getFormByDocumentType('SitePlan')"
      (uploadFiles)="uploadFiles($event)"
      (removeFile)="removeFile($event)"
      (downloadFile)="downloadFile($event)"
      [documentType]="'SitePlan'"
    ></drr-attachment>

    <mat-label>{{ t("PreliminaryDesign") }}</mat-label>
    <drr-attachment
      [attachmentForm]="getFormByDocumentType('PreliminaryDesign')"
      (uploadFiles)="uploadFiles($event)"
      (removeFile)="removeFile($event)"
      (downloadFile)="downloadFile($event)"
      [documentType]="'PreliminaryDesign'"
    ></drr-attachment>
  </div>
  <div style="margin-top: 2rem">
    <p>{{ t("firstNationResolution") }}</p>
    <p>{{ t("localGovernmentResolution") }}</p>
  </div>
  <drr-radio-button
    [label]="t('haveResolution')"
    [rxFormControl]="attachmentsForm.get('haveResolution')"
  ></drr-radio-button>

  <div *ngIf="attachmentsForm.get('haveResolution')?.value === true">
    <mat-label>{{ t("resolutionDocument") + "*" }}</mat-label>
    <drr-attachment
      [attachmentForm]="getFormByDocumentType('Resolution')"
      (uploadFiles)="uploadFiles($event)"
      (removeFile)="removeFile($event)"
      (downloadFile)="downloadFile($event)"
      [documentType]="'Resolution'"
    ></drr-attachment>
  </div>

  <p *ngIf="attachmentsForm.get('haveResolution')?.value === false">
    {{ t("noResolutionDocument") }}
  </p>

  <div class="other-attachments-container">
    <mat-label class="drr-label" style="margin-top: 2rem">{{
      t("otherSupportingDocumentation")
    }}</mat-label>

    <mat-label>{{ t("supportingDocumentationOptionalText") }}</mat-label>

    <drr-attachment
      *ngFor="let otherDocumentControl of getOtherFormArray(); let i = index"
      [attachmentForm]="getOtherDocumentFormGroup(i)"
      (removeFile)="removeFile($event)"
      (downloadFile)="downloadFile($event)"
    ></drr-attachment>

    <drr-file-upload
      (filesSelected)="uploadOtherFiles($event)"
      [attachButtonLabel]="t('attachAdditionalAttachment')"
    ></drr-file-upload>
  </div>
</ng-container>
