<div class="drr-step-container">
  <form [formGroup]="eoiApplicationForm">
    <mat-label class="drr-label">Project Title</mat-label>
    <mat-form-field style="width: 50vw; margin-top: 10px">
      <mat-label>Project Title</mat-label>
      <input matInput formControlName="projectTitle" />
    </mat-form-field>

    <mat-label class="drr-label">Project Type</mat-label>
    <mat-radio-group
      class="drr-radio-group"
      style="margin-bottom: 10px"
      aria-label="Select an option"
      formControlName="projectType"
    >
      <mat-error
        *ngIf="
          eoiApplicationForm.get('projectType')?.dirty &&
          eoiApplicationForm.get('projectType')?.hasError('required')
        "
        >Required</mat-error
      >
      <mat-radio-button value="New">New Project</mat-radio-button>
      <mat-radio-button value="Existing"
        >New Phase of Existing Project</mat-radio-button
      >
    </mat-radio-group>
    <mat-label class="drr-label">Related Hazard(s)</mat-label>
    <mat-form-field style="width: 50vw; margin-top: 10px">
      <mat-label> Related Hazard(s)</mat-label>
      <mat-select formControlName="relatedHazards" multiple="true">
        @for (option of hazardsOptions; track option) {
        <mat-option [value]="option">{{ option }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="otherHazardSelected()">
      <mat-label>Other</mat-label>
      <input matInput formControlName="otherHazardsDescription" />
    </mat-form-field>
    <mat-label class="drr-label">Anticipated Project Dates</mat-label>
    <div class="project-dates-container">
      <mat-form-field>
        <mat-label>Anticipated Project Start Date</mat-label>
        <input
          matInput
          [matDatepicker]="start_picker"
          formControlName="startDate"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="start_picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #start_picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Anticipated Project End Date</mat-label>
        <input
          matInput
          [matDatepicker]="end_picker"
          formControlName="endDate"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="end_picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #end_picker></mat-datepicker>
      </mat-form-field>
    </div>
  </form>
</div>
