<div class="drr-step-container" *transloco="let t">
  <form [formGroup]="projectInformationForm">
    <mat-label class="drr-label">{{ t("fundingStream") }}</mat-label>
    <mat-radio-group
      id="fundingStream"
      class="drr-radio-group"
      style="margin-bottom: 10px"
      aria-label="Select an option"
      formControlName="fundingStream"
    >
      <mat-error
        *ngIf="
          projectInformationForm.get('fundingStream')?.touched &&
          projectInformationForm.get('fundingStream')?.hasError('required')
        "
        >{{ t("required") }}</mat-error
      >
      <mat-radio-button value="stream1">{{ t("stream1") }}</mat-radio-button>
      <mat-radio-button value="stream2">{{ t("stream2") }}</mat-radio-button>
    </mat-radio-group>

    <mat-label class="drr-label">{{ t("projectTitle") }}</mat-label>
    <drr-input
      class="drr-single-input"
      [id]="'projectTitle'"
      [label]="t('projectTitle')"
      [rxFormControl]="getFormControl('projectTitle')"
      [maxlength]="100"
    ></drr-input>

    <mat-label class="drr-label">{{ t("scopeStatement") }}</mat-label>
    <drr-input
      class="drr-single-input"
      [id]="'scopeStatement'"
      [label]="t('scopeStatement')"
      [rxFormControl]="getFormControl('scopeStatement')"
      [maxlength]="100"
    ></drr-input>

    <mat-label class="drr-label">{{ t("projectType") }}</mat-label>
    <mat-radio-group
      id="projectType"
      class="drr-radio-group"
      style="margin-bottom: 10px"
      aria-label="Select an option"
      formControlName="projectType"
    >
      <mat-error
        *ngIf="
          projectInformationForm.get('projectType')?.touched &&
          projectInformationForm.get('projectType')?.hasError('required')
        "
        >{{ t("required") }}</mat-error
      >
      <mat-radio-button value="New">{{ t("New") }}</mat-radio-button>
      <mat-radio-button value="Existing">{{ t("Existing") }}</mat-radio-button>
    </mat-radio-group>
    <mat-label class="drr-label">{{ t("relatedHazards") }}</mat-label>

    <drr-select
      class="drr-single-input"
      [id]="'relatedHazards'"
      [label]="t('relatedHazards')"
      [rxFormControl]="getFormArray('relatedHazards')"
      [options]="hazardsOptions"
    ></drr-select>

    <drr-input
      *ngIf="otherHazardSelected()"
      class="drr-single-input"
      [id]="'otherHazardsDescription'"
      [label]="t('other')"
      [rxFormControl]="getFormControl('otherHazardsDescription')"
      [maxlength]="100"
    ></drr-input>
    <mat-label class="drr-label">{{ t("projectDates") }}</mat-label>
    <div class="project-dates-container">
      <mat-form-field>
        <mat-label>{{ t("startDate") }}</mat-label>
        <input
          id="startDate"
          matInput
          [matDatepicker]="start_picker"
          formControlName="startDate"
          [min]="minStartDate"
        />
        <mat-hint>YYYY-MM-DD</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="start_picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #start_picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ t("endDate") }}</mat-label>
        <input
          id="endDate"
          matInput
          [matDatepicker]="end_picker"
          formControlName="endDate"
          [min]="minEndDate"
        />
        <mat-hint>YYYY-MM-DD</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="end_picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #end_picker></mat-datepicker>
      </mat-form-field>
    </div>
  </form>
</div>
