<div class="drr-step-container" *transloco="let t">
  <form [formGroup]="eoiApplicationForm">
    <mat-label class="drr-label">{{ t("fundingStream") }}</mat-label>
    <mat-radio-group
      id="fundingStream"
      class="drr-radio-group"
      style="margin-bottom: 10px"
      aria-label="Select an option"
      formControlName="fundingStream"
    >
      <mat-error
        *ngIf="
          eoiApplicationForm.get('fundingStream')?.touched &&
          eoiApplicationForm.get('fundingStream')?.hasError('required')
        "
        >{{ t("required") }}</mat-error
      >
      <mat-radio-button value="Stream1">{{ t("stream1") }}</mat-radio-button>
      <mat-radio-button value="Stream2">{{ t("stream2") }}</mat-radio-button>
    </mat-radio-group>

    <mat-label class="drr-label">{{ t("projectTitle") }}</mat-label>
    <mat-form-field style="width: 50vw; margin-top: 10px">
      <mat-label>{{ t("projectTitle") }}</mat-label>
      <input id="projectTitle" matInput formControlName="projectTitle" />
    </mat-form-field>

    <mat-label class="drr-label">{{ t("projectType") }}</mat-label>
    <mat-radio-group
      id="projectType"
      class="drr-radio-group"
      style="margin-bottom: 10px"
      aria-label="Select an option"
      formControlName="projectType"
    >
      <mat-error
        *ngIf="
          eoiApplicationForm.get('projectType')?.touched &&
          eoiApplicationForm.get('projectType')?.hasError('required')
        "
        >{{ t("required") }}</mat-error
      >
      <mat-radio-button value="New">{{ t("New") }}</mat-radio-button>
      <mat-radio-button value="Existing">{{ t("Existing") }}</mat-radio-button>
    </mat-radio-group>
    <mat-label class="drr-label">{{ t("relatedHazards") }}</mat-label>
    <mat-form-field style="width: 50vw; margin-top: 10px">
      <mat-label>{{ t("relatedHazards") }}</mat-label>
      <mat-select
        id="relatedHazards"
        formControlName="relatedHazards"
        multiple="true"
      >
        @for (option of hazardsOptions; track option) {
        <mat-option [value]="option">{{ t(option) }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="otherHazardSelected()">
      <mat-label>{{ t("other") }}</mat-label>
      <input
        id="otherHazardsDescription"
        matInput
        formControlName="otherHazardsDescription"
      />
    </mat-form-field>
    <mat-label class="drr-label">{{ t("projectDates") }}</mat-label>
    <div class="project-dates-container">
      <mat-form-field>
        <mat-label>{{ t("startDate") }}</mat-label>
        <input
          id="startDate"
          matInput
          [matDatepicker]="start_picker"
          formControlName="startDate"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="start_picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #start_picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ t("endDate") }}</mat-label>
        <input
          id="endDate"
          matInput
          [matDatepicker]="end_picker"
          formControlName="endDate"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="end_picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #end_picker></mat-datepicker>
      </mat-form-field>
    </div>
  </form>
</div>
