<div class="drr-step-container" *transloco="let t">
  <form [formGroup]="budgetForm">
    <mat-label class="drr-label">{{ t("totalProjectCost") }}</mat-label>
    <drr-currency-input
      [id]="'totalProjectCost'"
      class="drr-single-input"
      [label]="t('totalProjectCost')"
      [rxFormControl]="budgetForm.get('totalProjectCost')"
    ></drr-currency-input>

    <mat-label class="drr-label">{{ t("estimatedDrifFunding") }}</mat-label>
    <drr-currency-input
      [id]="'fundingRequest'"
      class="drr-single-input"
      [label]="t('fundingRequest')"
      [rxFormControl]="budgetForm.get('fundingRequest')"
    ></drr-currency-input>

    <mat-label class="drr-label">{{
      t("yearOverYearFundingRequest")
    }}</mat-label>
    <mat-label>{{ t("yearOverYearFundingRequestText") }}</mat-label>
    <div formArrayName="yearOverYearFunding">
      <div
        class="array-item-container"
        *ngFor="
          let funding of getFormArray('yearOverYearFunding').controls;
          let i = index
        "
        [formGroupName]="i"
      >
        <drr-select
          [label]="t('fiscalYear')"
          [rxFormControl]="
            getArrayFormControl('yearOverYearFunding', 'year', i)
          "
          [options]="fiscalYearsOptions"
        ></drr-select>
        <drr-input
          [label]="t('amount')"
          [rxFormControl]="
            getArrayFormControl('yearOverYearFunding', 'amount', i)
          "
          [maxlength]="100"
        ></drr-input>
        <button mat-mini-fab color="warn" (click)="removeYear(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <button
        style="margin-top: 10px"
        [style.padding]="isMobile ? '24px 16px' : ''"
        mat-stroked-button
        type="button"
        color="primary"
        (click)="addYear()"
      >
        <mat-icon>add</mat-icon>
        {{ t("addYear") }}
      </button>
    </div>

    <mat-label class="drr-label" style="margin-top: 10px">{{
      t("totalDrifFundingRequest")
    }}</mat-label>
    <drr-currency-input
      [id]="'totalDrifFundingRequest'"
      class="drr-single-input"
      [label]="t('totalDrifFundingRequest')"
      [rxFormControl]="budgetForm.get('totalDrifFundingRequest')"
    ></drr-currency-input>

    <mat-label class="drr-label">{{ t("discrepancyComment") }}</mat-label>
    <drr-textarea
      [id]="'discrepancyComment'"
      [label]="t('discrepancyComment')"
      [maxlength]="2000"
      [rxFormControl]="budgetForm.get('discrepancyComment')"
      [useTopLabel]="false"
    ></drr-textarea>

    <mat-label class="drr-label">{{ t("otherFunding") }}</mat-label>
    <div formArrayName="otherFunding">
      <div
        class="array-item-container"
        *ngFor="
          let otherFunding of getFormArray('otherFunding').controls;
          let i = index
        "
        [formGroupName]="i"
      >
        <drr-currency-input
          class="drr-single-input"
          [id]="'otherFunding_amount_' + i"
          [label]="t('amount')"
          [rxFormControl]="otherFunding.get('amount')"
          [max]="1000000000"
        ></drr-currency-input>

        <drr-input
          class="drr-single-input"
          [id]="'otherFunding_name_' + i"
          [label]="t('name')"
          [rxFormControl]="otherFunding.get('name')"
          [maxlength]="100"
        ></drr-input>
        <drr-select
          class="other-grants-input"
          [id]="'otherFunding_type_' + i"
          [label]="t('type')"
          [rxFormControl]="getArrayFormControl('otherFunding', 'type', i)"
          [options]="fundingTypeOptions"
          (selectionChange)="setFundingTypeDesctiption($event, i)"
        ></drr-select>
        <drr-input
          class="other-grants-input"
          *ngIf="hasOtherGrants(otherFunding.get('type')?.value)"
          [id]="'otherFunding_description_' + i"
          [label]="t('otherDescription')"
          [rxFormControl]="
            getArrayFormControl('otherFunding', 'otherDescription', i)
          "
          [maxlength]="100"
        ></drr-input>
        <button mat-mini-fab color="warn" (click)="removeOtherSource(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <button
        id="addOtherFundingButton"
        style="margin-top: 10px"
        [style.padding]="isMobile ? '24px 16px' : ''"
        mat-stroked-button
        type="button"
        color="primary"
        (click)="addOtherFunding()"
      >
        <mat-icon>add</mat-icon>
        {{ t("addOtherFunding") }}
      </button>
    </div>
  </form>
</div>
