@use "@angular/material" as mat;
@import "../../../styles/styles.scss";

@include mat.core();

.alert {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 1px solid;
  border-radius: 0.25rem;
  justify-content: flex-start;
}

.alert-icon {
  margin-right: 1rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.alert-danger {
  background-color: mat.get-color-from-palette($bcgov-primary-palette, 50);
  border-color: mat.get-color-from-palette($bcgov-primary-palette, 100);
  color: mat.get-color-from-palette($bcgov-primary-palette, 900);
}

.alert-success {
  border-color: mat.get-color-from-palette($bcgov-accent-palette, 900);
  color: mat.get-color-from-palette($bcgov-accent-palette, 800);
}

.alert-info {
  background-color: mat.get-color-from-palette($bcgov-primary-palette, 50);
  border-color: mat.get-color-from-palette($bcgov-primary-palette, 100);
  color: mat.get-color-from-palette($bcgov-primary-palette, 900);
}

.alert-warning {
  background-color: mat.get-color-from-palette($bcgov-accent-palette, 50);
  border-color: mat.get-color-from-palette($bcgov-accent-palette, 100);
  color: mat.get-color-from-palette($bcgov-accent-palette, 900);
}

.alert-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: mat.get-color-from-palette($bcgov-primary-palette, 900);
}
