.submissions-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.submissions-header {
  display: flex;
  align-items: center;

  button {
    margin-left: auto;
  }
}

.submission-actions {
  display: flex;
  flex-direction: row;

  button {
    margin-right: 1rem;
  }
}

.submission-filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
  min-height: 4rem;
  align-items: center;

  &__controls {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

    & h2 {
      margin: 0;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;

    &__controls {
      flex-direction: column;
      gap: 1rem;
    }
  }
}

.submissions-table {
  border-collapse: collapse;
  padding: 1rem 0;
}

.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.5rem;
  color: #ccc;
}

.submission-card {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);

  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    & span {
      font-size: 1rem;
      font-weight: bold;
      margin: 0;
    }
  }
}

:host {
  ::ng-deep .mat-mdc-table .mat-mdc-header-cell {
    background: #e8f3ff;
    font-weight: bold;
  }

  ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  ::ng-deep .mat-sort-header-content {
    text-align: start;
  }
}
