<div *transloco="let t; read: 'submission-list'" class="submissions-container">
  <div class="submissions-header">
    <button mat-raised-button color="primary" (click)="onCreateFormClick()">
      <span>{{ t("startNewEOI") }}</span>
    </button>
  </div>
  <div class="submissions-table">
    <table
      *ngIf="submissionListDataSource.data.length > 0; else noDataTemplate"
      mat-table
      [dataSource]="submissionListDataSource"
      matSort
      (matSortChange)="onSortSubmissionTable($event)"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ t("applicationId") }}
        </th>
        <td mat-cell *matCellDef="let element" style="white-space: nowrap">
          <a (click)="onViewFormClick(element, $event)" href="">
            {{ element.id }}
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="projectTitle">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ t("projectTitle") }}
        </th>
        <td mat-cell *matCellDef="let element" style="overflow-wrap: anywhere">
          {{ element.projectTitle }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ t("status") }}
        </th>
        <td mat-cell *matCellDef="let element">{{ t(element.status) }}</td>
      </ng-container>

      <ng-container matColumnDef="fundingRequest">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ t("fundingRequest") }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.fundingRequest | currency }}
        </td>
      </ng-container>

      <ng-container matColumnDef="modifiedDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ t("modifiedDate") }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.modifiedDate | date : "yyyy-MM-dd" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="submittedDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ t("submittedDate") }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.submittedDate | date : "yyyy-MM-dd" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="partneringProponents">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ t("partneringProponents") }}
        </th>
        <td mat-cell *matCellDef="let element" style="overflow-wrap: anywhere">
          <p *ngFor="let proponent of element.partneringProponents">
            {{ proponent }}
          </p>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          {{ t("actions") }}
        </th>
        <td mat-cell *matCellDef="let element" class="submission-actions">
          <button
            *ngIf="element.status === 'Draft'"
            mat-stroked-button
            color="primary"
            (click)="onViewFormClick(element, $event)"
          >
            {{ t("edit") }}
          </button>
          <button
            *ngIf="canCreateFullProposal(element)"
            mat-raised-button
            color="primary"
            (click)="createFullProposal(element, $event)"
          >
            {{ t("createFP") }}
          </button>
          <!-- <button mat-raised-button color="warn">{{ t("delete") }}</button>
        <button mat-raised-button color="accent">{{ t("withdraw") }}</button> -->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="submissionListColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: submissionListColumns"></tr>
    </table>
    <mat-paginator
      *ngIf="paginator.showPaginator"
      [length]="paginator.length"
      [pageSize]="paginator.pageSize"
      [pageSizeOptions]="paginator.pageSizeOptions"
      aria-label="Select page"
      (page)="onPageChange($event)"
    >
    </mat-paginator>

    <ng-template #noDataTemplate>
      <div *ngIf="submissions" class="no-data">
        <p>{{ t("noSubmissions") }}</p>
      </div>
    </ng-template>
  </div>
</div>
