.submissions-container {
  margin: 1rem;
}

.submissions-header {
  display: flex;
  flex-direction: column;

  button {
    margin-left: auto;
  }
}

.submission-actions {
  button {
    margin-right: 1rem;
  }
}

.submissions-table {
  width: 100%;
  border-collapse: collapse;
  padding-top: 1rem;
}

.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.5rem;
  color: #ccc;
}

:host {
  ::ng-deep .mat-mdc-table .mat-mdc-header-cell {
    background: #e8f3ff;
    font-weight: bold;
  }
}
