.submissions-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.submissions-header {
  display: flex;

  button {
    margin-left: auto;
  }
}

.submission-actions {
  button {
    margin-right: 1rem;
  }
}

.submission-filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
  min-height: 4rem;
  align-items: center;

  &__controls {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

    & h2 {
      margin: 0;
    }
  }
}

.submissions-table {
  border-collapse: collapse;
  padding: 1rem 0;
}

.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.5rem;
  color: #ccc;
}

:host {
  ::ng-deep .mat-mdc-table .mat-mdc-header-cell {
    background: #e8f3ff;
    font-weight: bold;
  }

  ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}
