<div class="drr-step-container" *transloco="let t">
  <form [formGroup]="projectRisksForm">
    <mat-label class="drr-label">{{ t("projectComplexity") }}</mat-label>
    <drr-radio-button
      [label]="t('complexityRiskMitigated')"
      [rxFormControl]="projectRisksForm.get('complexityRiskMitigated')"
    ></drr-radio-button>
    <drr-chip-autocomplete
      [label]="t('complexityRisks')"
      [placeholder]="t('complexityRisksPlaceholder')"
      [options]="complexityRiskOptions"
      [rxFormControl]="projectRisksForm.get('complexityRisks')"
    ></drr-chip-autocomplete>
    <drr-textarea
      [label]="t('complexityRiskComments')"
      [maxlength]="2000"
      [rxFormControl]="projectRisksForm.get('complexityRiskComments')"
      [useTopLabel]="true"
    ></drr-textarea>

    <mat-label class="drr-label">{{ t("projectReadiness") }}</mat-label>
    <drr-radio-button
      [label]="t('readinessRiskMitigated')"
      [rxFormControl]="projectRisksForm.get('readinessRiskMitigated')"
    ></drr-radio-button>
    <drr-chip-autocomplete
      [label]="t('readinessRisks')"
      [placeholder]="t('readinessRisksPlaceholder')"
      [options]="readinessRiskOptions"
      [rxFormControl]="projectRisksForm.get('readinessRisks')"
    ></drr-chip-autocomplete>
    <drr-textarea
      [label]="t('readinessRiskComments')"
      [maxlength]="2000"
      [rxFormControl]="projectRisksForm.get('readinessRiskComments')"
      [useTopLabel]="true"
    ></drr-textarea>

    <mat-label class="drr-label">{{ t("projectSensitivity") }}</mat-label>
    <drr-radio-button
      [label]="t('sensitivityRiskMitigated')"
      [rxFormControl]="projectRisksForm.get('sensitivityRiskMitigated')"
    ></drr-radio-button>
    <drr-chip-autocomplete
      [label]="t('sensitivityRisks')"
      [placeholder]="t('sensitivityRisksPlaceholder')"
      [options]="sensitivityRiskOptions"
      [rxFormControl]="projectRisksForm.get('sensitivityRisks')"
    ></drr-chip-autocomplete>
    <drr-textarea
      [label]="t('sensitivityRiskComments')"
      [maxlength]="2000"
      [rxFormControl]="projectRisksForm.get('sensitivityRiskComments')"
      [useTopLabel]="true"
    ></drr-textarea>
  </form>
</div>
