<div class="drr-step-container">
  <form [formGroup]="eoiApplicationForm">
    <mat-label class="drr-label"
      >Engagement/Planned Engagement with First Nations and/or Indigenous
      Organizations Prior to Full Proposal</mat-label
    >
    <mat-label
      >Describe how the applicant has or plans to engage with local First
      Nations and/or First Nations impacted by the proposed project</mat-label
    >
    <mat-form-field>
      <textarea
        id="engagementProposal"
        matInput
        formControlName="engagementProposal"
        rows="10"
      ></textarea>
    </mat-form-field>
  </form>
</div>
