<div class="drr-step-container" *transloco="let t">
  <form [formGroup]="eoiApplicationForm">
    <mat-label class="drr-label">{{ t("engagementProposal") }}</mat-label>
    <mat-label>{{ t("firstNationsEngagement") }}</mat-label>
    <drr-textarea
      [id]="'firstNationsEngagement'"
      [maxlength]="2000"
      [rxFormControl]="getFormControl('firstNationsEngagement')"
      [rows]="10"
    ></drr-textarea>

    <mat-label>{{ t("neighbourEngagement") }}</mat-label>
    <drr-textarea
      [id]="'neighbourEngagement'"
      [maxlength]="2000"
      [rxFormControl]="getFormControl('neighbourEngagement')"
      [rows]="10"
    ></drr-textarea>

    <mat-label>{{ t("additionalEngagementInformation") }}</mat-label>
    <drr-textarea
      [id]="'additionalEngagementInformation'"
      [maxlength]="2000"
      [rxFormControl]="getFormControl('additionalEngagementInformation')"
      [rows]="10"
    ></drr-textarea>
  </form>
</div>
