.funding-sources-container {
  margin-top: 10px;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill);
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: baseline;
}

.grants-input {
  width: 20vw;
}

.grants-input-description {
  width: 25vw;
}

@media (max-width: 768px) {
  .funding-sources-container {
    display: flex;
    flex-direction: column;
  }

  .grants-input,
  .grants-input-description {
    width: 100%;
  }
}
