<div *transloco="let t">
  <div
    class="funding-sources-container"
    *ngFor="let funding of fundingFormArray.controls; let i = index"
  >
    <drr-currency-input
      class="drr-single-input"
      [label]="t('amount')"
      [rxFormControl]="funding.get('amount')"
      [max]="1000000000"
    ></drr-currency-input>

    <drr-input
      class="drr-single-input"
      [label]="t('name')"
      [rxFormControl]="funding.get('name')"
      [maxlength]="100"
    ></drr-input>
    <drr-select
      class="other-grants-input"
      [label]="t('type')"
      [rxFormControl]="funding.get('type')"
      [options]="fundingTypeOptions"
      (selectionChange)="
        setFundingTypeDesctiption($event, funding.get('otherDescription')!)
      "
    ></drr-select>
    <drr-input
      class="other-grants-input"
      *ngIf="hasOtherGrants(funding.get('type')?.value)"
      [id]="'otherFunding_description_' + i"
      [label]="t('otherDescription')"
      [rxFormControl]="funding.get('otherDescription')"
      [maxlength]="100"
    ></drr-input>
    @if (i > 0) {
    <button mat-mini-fab color="warn" (click)="removeOtherSource(i)">
      <mat-icon>delete</mat-icon></button
    >}
  </div>
  <button
    *ngIf="fundingFormArray.enabled"
    style="margin-top: 10px"
    [style.padding]="isMobile ? '24px 16px' : ''"
    mat-stroked-button
    type="button"
    color="primary"
    (click)="addOtherFunding()"
  >
    <mat-icon>add</mat-icon>
    {{ t("addOtherFunding") }}
  </button>
</div>
