header {
  border-bottom: 2px solid #fcba19;
  background: #036 !important;
}

.header-container {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.header-action {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.mat-menu-item {
  color: #ffffff !important;
}

.text {
  color: white;
  margin: 0px;
  line-height: 16px;
}

.app-heading {
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
  white-space: initial;
}

@media (max-width: 768px) {
  .header-container {
    display: block;
  }
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: auto !important;
}
