header mat-toolbar {
  border-bottom: 2px solid #fcba19;
  background: #036 !important;
}

.header-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.header-action {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.heading-text1 {
  color: #ffffff;
}

.heading-text2 {
  color: #fcba19;
  padding-left: 2px;
}

.mat-menu-item {
  color: #ffffff !important;
}

.text {
  color: white;
  margin: 0px;
  line-height: 16px;
}

.img-align {
  margin-right: 5px;
}

.app-heading {
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
  white-space: initial;
}

@media (max-width: 768px) {
  .header-container {
    display: block;
  }
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: auto !important;
}

.header-toolbar {
  padding: 0.5rem 1rem;
}

.button-align {
  float: right;
}

::ng-deep .mat-menu-content {
  border-bottom: 2px solid #fcba19;
}

.signOut-button {
  color: rgb(252, 186, 25) !important;
}

.signOut-button:hover {
  text-decoration: underline;
}
