<div class="drr-step-container" *transloco="let t">
  <form [formGroup]="projectRisksForm">
    <mat-label class="drr-label">{{ t("projectComplexity") }}</mat-label>
    <drr-radio-button
      [label]="t('complexityRiskMitigated')"
      [rxFormControl]="projectRisksForm.get('complexityRiskMitigated')"
    ></drr-radio-button>
    <drr-chip-autocomplete
      *ngIf="projectRisksForm.get('complexityRiskMitigated')?.value === true"
      [label]="t('complexityRisks')"
      [placeholder]="t('autocompletePlaceholder')"
      [options]="complexityRiskOptions"
      [rxFormControl]="projectRisksForm.get('complexityRisks')"
    ></drr-chip-autocomplete>
    <drr-textarea
      *ngIf="projectRisksForm.get('complexityRiskMitigated')?.value === true"
      [label]="t('complexityRiskComments')"
      [maxlength]="2000"
      [rxFormControl]="projectRisksForm.get('complexityRiskComments')"
    ></drr-textarea>

    <mat-label class="drr-label">{{ t("projectReadiness") }}</mat-label>
    <drr-radio-button
      [label]="t('readinessRiskMitigated')"
      [rxFormControl]="projectRisksForm.get('readinessRiskMitigated')"
    ></drr-radio-button>
    <drr-chip-autocomplete
      *ngIf="projectRisksForm.get('readinessRiskMitigated')?.value === true"
      [label]="t('readinessRisks')"
      [placeholder]="t('autocompletePlaceholder')"
      [options]="readinessRiskOptions"
      [rxFormControl]="projectRisksForm.get('readinessRisks')"
    ></drr-chip-autocomplete>
    <drr-textarea
      *ngIf="projectRisksForm.get('readinessRiskMitigated')?.value === true"
      [label]="t('readinessRiskComments')"
      [maxlength]="2000"
      [rxFormControl]="projectRisksForm.get('readinessRiskComments')"
    ></drr-textarea>

    <mat-label class="drr-label">{{ t("projectSensitivity") }}</mat-label>
    <drr-radio-button
      [label]="t('sensitivityRiskMitigated')"
      [rxFormControl]="projectRisksForm.get('sensitivityRiskMitigated')"
    ></drr-radio-button>
    <drr-chip-autocomplete
      *ngIf="projectRisksForm.get('sensitivityRiskMitigated')?.value === true"
      [label]="t('sensitivityRisks')"
      [placeholder]="t('autocompletePlaceholder')"
      [options]="sensitivityRiskOptions"
      [rxFormControl]="projectRisksForm.get('sensitivityRisks')"
    ></drr-chip-autocomplete>
    <drr-textarea
      *ngIf="projectRisksForm.get('sensitivityRiskMitigated')?.value === true"
      [label]="t('sensitivityRiskComments')"
      [maxlength]="2000"
      [rxFormControl]="projectRisksForm.get('sensitivityRiskComments')"
    ></drr-textarea>

    <mat-label class="drr-label">{{ t("capacityChallenges") }}</mat-label>
    <drr-radio-button
      [label]="t('capacityRiskMitigated')"
      [rxFormControl]="projectRisksForm.get('capacityRiskMitigated')"
    ></drr-radio-button>
    <drr-chip-autocomplete
      *ngIf="projectRisksForm.get('capacityRiskMitigated')?.value === true"
      [label]="t('capacityRisks')"
      [placeholder]="t('autocompletePlaceholder')"
      [options]="capacityRiskOptions"
      [rxFormControl]="projectRisksForm.get('capacityRisks')"
    ></drr-chip-autocomplete>
    <drr-textarea
      *ngIf="projectRisksForm.get('capacityRiskMitigated')?.value === true"
      [label]="t('capacityRiskComments')"
      [maxlength]="2000"
      [rxFormControl]="projectRisksForm.get('capacityRiskComments')"
    ></drr-textarea>

    <mat-label class="drr-label">{{ t("riskTransfer") }}</mat-label>
    <drr-radio-button
      [label]="t('riskTransferMigigated')"
      [rxFormControl]="projectRisksForm.get('riskTransferMigigated')"
    ></drr-radio-button>

    <drr-select
      *ngIf="projectRisksForm.get('riskTransferMigigated')?.value === true"
      class="drr-single-input"
      [label]="t('increasedOrTransferred')"
      [rxFormControl]="projectRisksForm.get('increasedOrTransferred')"
      [options]="increasedOrTransferredOptions"
      [isMultiple]="true"
    ></drr-select>

    <drr-textarea
      *ngIf="projectRisksForm.get('riskTransferMigigated')?.value === true"
      [label]="t('increasedOrTransferredComments')"
      [maxlength]="2000"
      [rxFormControl]="projectRisksForm.get('increasedOrTransferredComments')"
    ></drr-textarea>
  </form>
</div>
