<mat-form-field>
  <mat-label>First Name</mat-label>
  <input matInput formControlName="firstName" />
</mat-form-field>
<mat-form-field>
  <mat-label>Last Name</mat-label>
  <input matInput formControlName="lastName" />
</mat-form-field>
<mat-form-field>
  <mat-label>Position/Title</mat-label>
  <input matInput formControlName="title" />
</mat-form-field>
<mat-form-field>
  <mat-label>Department</mat-label>
  <input matInput formControlName="position" />
</mat-form-field>
<mat-form-field>
  <mat-label>Phone</mat-label>
  <input matInput formControlName="phone" />
</mat-form-field>
<mat-form-field>
  <mat-label>Email</mat-label>
  <input matInput formControlName="email" />
</mat-form-field>
