.project-details-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
}
.infrastructure-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
}