<div class="drr-step-container" *transloco="let t">
  <form [formGroup]="eoiApplicationForm">
    <mat-label class="drr-label">{{ t("rationaleForFunding") }}</mat-label>
    <mat-label>{{ t("rationaleForFundingText") }}</mat-label>
    <mat-form-field>
      <textarea
        id="rationaleForFunding"
        matInput
        formControlName="rationaleForFunding"
        rows="10"
      ></textarea>
    </mat-form-field>

    <mat-label class="drr-label">{{ t("backgroundDescription") }}</mat-label>
    <div class="project-details-container">
      <mat-label>{{ t("estimatedPeopleImpacted") }} </mat-label>
      <mat-form-field>
        <input
          id="estimatedPeopleImpacted"
          matInput
          type="number"
          formControlName="estimatedPeopleImpacted"
        />
      </mat-form-field>

      <mat-label>{{ t("communityImpact") }} </mat-label>
      <mat-form-field>
        <mat-label>{{ t("communityImpactText") }} </mat-label>
        <textarea
          id="communityImpact"
          matInput
          formControlName="communityImpact"
          rows="10"
        ></textarea>
      </mat-form-field>

      <mat-label class="drr-label"
        >{{ t("infrastructureImpacted") }}
      </mat-label>

      <div formArrayName="infrastructureImpactedArray">
        <div
          class="infrastructure-container"
          *ngFor="
            let proponent of getFormArray('infrastructureImpactedArray')
              .controls;
            let i = index
          "
          [formGroupName]="i"
        >
          <mat-form-field style="width: 50vw; margin-top: 10px">
            <mat-label>{{ t("infrastructureImpactedText") }} </mat-label>
            <input
              id="infrastructure_{{ i }}"
              matInput
              formControlName="value"
            />
          </mat-form-field>
          <button mat-mini-fab color="warn" (click)="removeInfrastructure(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>

        <button
          id="addInfrastructure"
          style="margin-top: 10px"
          mat-stroked-button
          color="primary"
          (click)="addInfrastructure()"
        >
          <mat-icon>add</mat-icon>
          {{ t("addInfrastructure") }}
        </button>
      </div>

      <mat-label>{{ t("disasterRiskUnderstanding") }} </mat-label>
      <mat-form-field>
        <textarea
          id="disasterRiskUnderstanding"
          matInput
          formControlName="disasterRiskUnderstanding"
          rows="10"
        ></textarea>
      </mat-form-field>

      <mat-label>{{ t("additionalBackgroundInformation") }} </mat-label>
      <mat-form-field>
        <textarea
          id="additionalBackgroundInformation"
          matInput
          formControlName="additionalBackgroundInformation"
          rows="10"
        ></textarea>
      </mat-form-field>
    </div>

    <mat-label class="drr-label">{{ t("proposedSolution") }}</mat-label>
    <div class="project-details-container">
      <mat-label>{{ t("addressRisksAndHazards") }}</mat-label>
      <mat-form-field>
        <textarea
          id="addressRisksAndHazards"
          matInput
          formControlName="addressRisksAndHazards"
          rows="10"
        ></textarea>
      </mat-form-field>

      <mat-label>{{ t("drifProgramGoalAlignment") }}</mat-label>
      <mat-form-field>
        <textarea
          id="drifProgramGoalAlignment"
          matInput
          formControlName="drifProgramGoalAlignment"
          rows="10"
        ></textarea>
      </mat-form-field>

      <mat-label>{{ t("additionalSolutionInformation") }}</mat-label>
      <mat-form-field>
        <textarea
          id="additionalSolutionInformation"
          matInput
          formControlName="additionalSolutionInformation"
          rows="10"
        ></textarea>
      </mat-form-field>

      <mat-label class="drr-label">{{ t("rationaleForSolution") }}</mat-label>
      <mat-label>{{ t("rationaleForSolutionText") }}</mat-label>
      <mat-form-field>
        <textarea
          id="rationaleForSolution"
          matInput
          formControlName="rationaleForSolution"
          rows="10"
        ></textarea>
      </mat-form-field>
    </div>
  </form>
</div>
