<div class="drr-step-container" *transloco="let t">
  <form [formGroup]="eoiApplicationForm">
    <mat-label class="drr-label">{{ t("backgroundDescription") }}</mat-label>
    <mat-label>{{ t("backgroundDescriptionText") }}</mat-label>
    <mat-form-field>
      <textarea
        id="backgroundDescription"
        matInput
        formControlName="backgroundDescription"
        rows="10"
      ></textarea>
    </mat-form-field>
    <mat-label class="drr-label">{{ t("rationaleForFunding") }}</mat-label>
    <mat-label>{{ t("rationaleForFundingText") }}</mat-label>
    <mat-form-field>
      <textarea
        id="rationaleForFunding"
        matInput
        formControlName="rationaleForFunding"
        rows="10"
      ></textarea>
    </mat-form-field>
    <mat-label class="drr-label">{{ t("proposedSolution") }}</mat-label>
    <mat-label>{{ t("proposedSolutionText") }} </mat-label>
    <mat-form-field>
      <textarea
        id="proposedSolution"
        matInput
        formControlName="proposedSolution"
        rows="10"
      ></textarea>
    </mat-form-field>
    <mat-label class="drr-label">{{ t("rationaleForSolution") }}</mat-label>
    <mat-label>{{ t("rationaleForSolutionText") }}</mat-label>
    <mat-form-field>
      <textarea
        id="rationaleForSolution"
        matInput
        formControlName="rationaleForSolution"
        rows="10"
      ></textarea>
    </mat-form-field>
  </form>
</div>
