<div class="drr-step-container" *transloco="let t">
  <form [formGroup]="projectDetailsForm">
    <mat-label class="drr-label">{{ t("rationaleForFunding") }}</mat-label>

    <mat-label>{{ t("rationaleForFundingText") }}</mat-label>
    <drr-textarea
      [id]="'rationaleForFunding'"
      [maxlength]="2000"
      [rxFormControl]="getFormControl('rationaleForFunding')"
      [rows]="10"
    ></drr-textarea>

    <mat-label class="drr-label">{{ t("backgroundDescription") }}</mat-label>
    <div class="project-details-container">
      <drr-input
        class="drr-single-input"
        [id]="'estimatedPeopleImpacted'"
        [label]="t('estimatedPeopleImpacted')"
        [rxFormControl]="getFormControl('estimatedPeopleImpacted')"
        [type]="'number'"
        [maxlength]="10"
      ></drr-input>

      <mat-label class="drr-label">{{ t("communityImpact") }} </mat-label>
      <mat-label>{{ t("communityImpactText") }} </mat-label>
      <drr-textarea
        [id]="'communityImpact'"
        [maxlength]="2000"
        [rxFormControl]="getFormControl('communityImpact')"
        [rows]="10"
      ></drr-textarea>

      <mat-label class="drr-label"
        >{{ t("infrastructureImpacted") }}
      </mat-label>

      <div formArrayName="infrastructureImpactedArray">
        <div
          class="infrastructure-container"
          *ngFor="
            let proponent of getFormArray('infrastructureImpactedArray')
              .controls;
            let i = index
          "
          [formGroupName]="i"
        >
          <drr-input
            class="drr-single-input"
            [id]="'infrastructure_' + i"
            [label]="t('infrastructureImpactedText')"
            [rxFormControl]="
              getArrayFormControl('value', 'infrastructureImpactedArray', i)
            "
            [maxlength]="100"
          ></drr-input>
          <button mat-mini-fab color="warn" (click)="removeInfrastructure(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>

        <button
          id="addInfrastructure"
          style="margin-top: 10px"
          mat-stroked-button
          type="button"
          color="primary"
          (click)="addInfrastructure()"
        >
          <mat-icon>add</mat-icon>
          {{ t("addInfrastructure") }}
        </button>
      </div>

      <mat-label>{{ t("disasterRiskUnderstanding") }} </mat-label>
      <drr-textarea
        [id]="'disasterRiskUnderstanding'"
        [maxlength]="2000"
        [rxFormControl]="getFormControl('disasterRiskUnderstanding')"
        [rows]="10"
      ></drr-textarea>

      <mat-label>{{ t("additionalBackgroundInformation") }} </mat-label>
      <drr-textarea
        [id]="'additionalBackgroundInformation'"
        [maxlength]="2000"
        [rxFormControl]="getFormControl('additionalBackgroundInformation')"
        [rows]="10"
      ></drr-textarea>
    </div>

    <mat-label class="drr-label">{{ t("proposedSolution") }}</mat-label>
    <div class="project-details-container">
      <mat-label>{{ t("addressRisksAndHazards") }}</mat-label>
      <drr-textarea
        [id]="'addressRisksAndHazards'"
        [maxlength]="2000"
        [rxFormControl]="getFormControl('addressRisksAndHazards')"
        [rows]="10"
      ></drr-textarea>

      <mat-label>{{ t("drifProgramGoalAlignment") }}</mat-label>
      <drr-textarea
        [id]="'drifProgramGoalAlignment'"
        [maxlength]="2000"
        [rxFormControl]="getFormControl('drifProgramGoalAlignment')"
        [rows]="10"
      ></drr-textarea>

      <mat-label>{{ t("additionalSolutionInformation") }}</mat-label>
      <drr-textarea
        [id]="'additionalSolutionInformation'"
        [maxlength]="2000"
        [rxFormControl]="getFormControl('additionalSolutionInformation')"
        [rows]="10"
      ></drr-textarea>

      <mat-label class="drr-label">{{ t("rationaleForSolution") }}</mat-label>
      <mat-label>{{ t("rationaleForSolutionText") }}</mat-label>
      <drr-textarea
        [id]="'rationaleForSolution'"
        [maxlength]="2000"
        [rxFormControl]="getFormControl('rationaleForSolution')"
        [rows]="10"
      ></drr-textarea>
    </div>
  </form>
</div>
