.drr-currency-input {
  width: 100%;
}

.drr-currency-input input[type="number"]::-webkit-inner-spin-button,
.drr-currency-input input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.drr-currency-input input[type="number"] {
  -moz-appearance: textfield;
}

.max-number-error {
  color: red !important;
}

:host {
  .drr-currency-input
    ::ng-deep
    .mat-mdc-text-field-wrapper
    .mat-mdc-form-field-flex {
    left: -10px;
  }

  .mat-mdc-form-field-error {
    text-wrap: nowrap;
  }

  .drr-currency-input
    ::ng-deep
    .mdc-text-field--outlined.mdc-text-field--disabled
    .mdc-text-field__input {
    color: var(--mdc-outlined-text-field-input-text-color);
  }

  ::ng-deep .mdc-text-field--outlined.mdc-text-field--disabled {
    .mdc-floating-label,
    .mdc-floating-label--float-above {
      color: var(--mdc-outlined-text-field-label-text-color);
    }
  }
}
