<mat-label *ngIf="isMobile">{{ label }}{{ getMandatoryMark() }}</mat-label>
<mat-form-field class="drr-currency-input" *transloco="let t">
  <mat-label *ngIf="!isMobile">{{ label }}</mat-label>
  <input
    id="{{ id }}"
    matInput
    [formControl]="rxFormControl"
    required="{{ isRequired() }}"
    [min]="min"
    [max]="max"
    (focus)="onFocus()"
    (blur)="onBlur()"
    [mask]="'separator.2'"
    [decimalMarker]="'.'"
    [thousandSeparator]="','"
  />
  @if (rxFormControl.disabled && allowEnabling) {
    <button
      style="margin-right: 0.5rem"
      matSuffix
      mat-icon-button
      aria-label="edit"
      (click)="enableInput()"
    >
      <mat-icon>edit</mat-icon>
    </button>
  }
  <span matTextPrefix>$&nbsp;</span>
  <mat-hint *ngIf="max && isFocused" align="end"
    >Max: {{ max | currency: "" : "symbol" : "1.0-0" }}</mat-hint
  >
  <mat-error
    *ngIf="rxFormControl.hasError('maxNumber') || hasMaxValueError()"
    >{{
      t("maxValueError", { max: max | currency: "" : "symbol" : "1.0-0" })
    }}</mat-error
  >
  <mat-error *ngIf="rxFormControl.hasError('minNumber')">{{
    t("minValueError", { min: min | currency: "" : "symbol" : "1.0-0" })
  }}</mat-error>
  <mat-hint *ngIf="hasMaxValueError()" class="max-number-error">
    The value exceeds the maximum allowed value.
  </mat-hint>
</mat-form-field>
