.screener-container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  margin: 1rem 3rem;
}

.screener-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.nested-items {
  margin-top: 1rem;
  margin-left: 1rem;
}

.radio-comment {
  display: flex;
  align-items: center;
}

.screener-results {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 3rem 2rem;
  align-items: center;

  i {
    flex: 1;
  }
}

.screener-alert {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
}

.screener-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
